nav
    ul(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        li.nav-header
            a(href='#guide') ☢️ TTW:OEE
        - for(i=0;i<sections.length;i++)
            - const section = sections[i]
            li(itemprop='name').
                #[a(href=section[0] itemprop='url') #{section[1]}
