/*Document globals*/
html, body {
    background-color: #0a1919;
    font-size: 1em;
    font-family: Arial, sans-serif;
}
.body-container {
    margin-left: 18em;
    width: 50em;
}

/*Monofonto*/
@font-face {
    font-family: Monofonto;
    src: url(../fonts/monofonto.ttf);
}

/*Header Style*/
h1 {
    color: #fffcff;
    font-size: 3em;
    font-family: 'Monofonto', sans-serif;
}
h2 {
    color: #fffcff;
    font-size: 2.5em;
    font-family: 'Monofonto', sans-serif;
}
h3 {
    color: #fffcff;
    font-size: 2em;
    font-family: 'Monofonto', sans-serif;
}
h4 {
    color: white;
    font-size: 1.2em;
}

/*LINK STYLES*/
a{
    text-decoration: none;
}
a:hover {
    color: white;
}
.link {
    color: #3271c0;
}
.mod-name-3,.link-3 {
    color: #74fc39;
}
.mod-name-nv,.link-nv {
    color: #fcb040;
}
.mod-name-ttw,.link-ttw {
    color: #7bdefc;
}
.mod-name-tools {
    color: #9666fc;
}


/*NAVIGATION BAR*/
/*Nav structure*/
nav {
    position: fixed;
    top: 0;
}
ul {
    margin: 0;
    padding: 1em;
    width:14em;
    background-color: #fffcff;
    list-style-type: none;
}
li{
    padding: .25em;
    cursor:pointer;
}
/*Nav link styles*/
li a, ul li:hover li a {
    color: #000;
}
li:hover{
    position: relative;
    background-color: #4CAF50;
}
ul li:hover a, ul li:hover li:hover a {
    color: #ffffff;
}
/*Flyout menu styling*/
ul li:hover ul{
    top: 0;
    left:150px;
    display:block;
    padding: 1em .25em 1em .25em;
    -webkit-box-shadow: 4px 3px 3px 3px rgba(41, 41, 41, .3);
    -moz-box-shadow: 4px 3px 3px 3px rgba(41, 41, 41, .3);
    box-shadow: 4px 3px 3px 3px rgba(41, 41, 41, .3);
}
/*Keeps flyout menu hidden*/
ul li ul {
    position:absolute;
    display:none;
    padding: .25em;
}
/* Clear float */
.clear{
    clear:both;
}

/*Text styles*/
p {
    margin: 0;

}
.text {
    padding: .3em .75em .3em .75em;
    background-color: gray;
    font-weight: bold;
}
.instructions {
    padding: .7em;
    background-color: #d3d3d3;
    -webkit-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3) ;
    -moz-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
    font-family: "Courier New", monospace;

}


/*Mod info settings*/
.mod-container{
    margin-top: 1em;
    margin-bottom: 1em;
}
.mod-info {
    padding: .5em .75em .5em;
    background-color: #91a6bb;
}
.mod-info .instructions {
    margin-bottom: .7em;
    -webkit-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
}
.mod-info .alert, .ini, .settings, .merge, .clean{
    margin-bottom: 0;
    -webkit-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
}


/*Headings*/
.alert, .ini, .settings, .merge, .clean, .mod {
    margin-bottom:0;
    padding: .5em;
    font-size: 1.2em;

}
.alert {
    background-color: #ff6653;
    color: black;
}
.ini {
    background-color: #7494ff;
    color: black;
}
.settings {
    background-color: #d9b400;
    color: black;
}
.merge {
    background-color: #eb8cba;
    color: black;
}
.clean {
    background-color: #ff9c5c;
    color: black;
}
.mod{
    margin-top:0;
    background-color: #2f4f4f;
    font-family: 'Monofonto', sans-serif;

}

/*Small screen settings and button settings*/
.dropbtn, .dropdown, .dropdown-content a {
    display: none;
}
@media screen and (max-width: 75em) {
    nav {
        display: none;
    }


    .body-container {
        margin-right:auto;
        margin-left: auto;
        width:90%;

    }

    .dropbtn {
        position: fixed;
        bottom: 0;
        display: block;
        margin: auto auto 2em 82%;
        width: 5em;
        height: 5em;
        border: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #fffcff;
        -webkit-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
        -moz-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
        box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
        cursor: pointer;
        transition: all 0.2s ease-out 0s;
    }

    .dropbtn img {
        padding-top: .5em;
        width: 3em;
        pointer-events: none;
    }

    .dropbtn:hover {
        background-color: #4CAF50;
        -webkit-box-shadow: 5px 6px 6px 0 rgba(41, 41, 41, .3);
        -moz-box-shadow: 5px 6px 6px 0 rgba(41, 41, 41, .3);
        box-shadow: 5px 6px 6px 0 rgba(41, 41, 41, .3);
        color: white;
    }

    .dropbtn:focus {
        outline: none;
        background-color: #4CAF50;
        color: white;
    }

    .dropbtn:hover img, .dropbtn:focus img {
        -webkit-filter: invert(100%);
        -ms-filter: invert(100%);
        filter: invert(100%);
        -moz-filter: invert(100%);
        -o-filter: invert(100%);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: fixed;
        top: 0;
        display: none;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        display: block;
    }

    .show {
        display: block;
    }
}
@media screen and (max-height: 44em) {
    nav {
        display: none;
    }


    .body-container {
        margin-right:auto;
        margin-left: auto;
        width:90%;
    }
    .dropbtn {
        position: fixed;
        bottom: 0;
        display: block;
        margin: auto;
        margin-bottom: 2em;
        margin-left: 82%;
        width: 5em;
        height: 5em;
        border: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #fffcff;
        -webkit-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
        -moz-box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
        box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
        cursor: pointer;
        transition: all 0.2s ease-out 0s;
    }

    .dropbtn img {
        padding-top: .5em;
        width: 3em;
        pointer-events: none;
    }

    .dropbtn:hover {
        background-color: #4CAF50;
        -webkit-box-shadow: 5px 6px 6px 0 rgba(41, 41, 41, .3);
        -moz-box-shadow: 5px 6px 6px 0 rgba(41, 41, 41, .3);
        box-shadow: 5px 6px 6px 0 rgba(41, 41, 41, .3);
        color: white;
    }

    .dropbtn:focus {
        outline: none;
        background-color: #4CAF50;
        color: white;
    }

    .dropbtn:hover img, .dropbtn:focus img {
        -webkit-filter: invert(100%);
        -ms-filter: invert(100%);
        filter: invert(100%);
        -moz-filter: invert(100%);
        -o-filter: invert(100%);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: fixed;
        top: 0;
        display: none;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        display: block;
    }

    .show {
        display: block;
    }
}










