/*NAVIGATION BAR*/
/*Nav structure*/
nav {
    position: fixed;
    top: 0;
}

ul {
    margin: 0;
    padding: 1em;
    width:14em;
    background-color: #fffcff;
    list-style-type: none;
}
li{
    padding: .25em;
    cursor:pointer;
}
/*Nav link styles*/
li a, ul li:hover li a {
    display: block;
    color: #000;
}
li:hover{
    position: relative;
    background-color: #4CAF50;
}
ul li:hover a, ul li:hover li:hover a {
    color: #ffffff;
}

/*Flyout menu styling*/
ul li:hover ul{
    top: 0;
    left:150px;
    display:block;
    padding: 1em .25em 1em .25em;
    -webkit-box-shadow: 4px 3px 3px 3px rgba(41, 41, 41, .3);
    -moz-box-shadow: 4px 3px 3px 3px rgba(41, 41, 41, .3);
    box-shadow: 4px 3px 3px 3px rgba(41, 41, 41, .3);
}
/*Keeps flyout menu hidden*/
ul li ul {
    position:absolute;
    display:none;
    padding: .25em;
}
/* Clear float */
.clear{
    clear:both;
}