div#nvse-and-4gbfnv
    h3.section-header NVSE and 4GBNV 
    p.copy-bg
        | The following mods are very important to a any modded Fallout. The first mod, New Vegas Script Extender (NVSE) allows 
        | for many game changing things to be added into the game, while the 4GB New Vegas Loader (4GBNV) allows for more memory 
        | to be used by the game, which allows for better graphics and more things to be going on at once.

    div#nvse
    h6.mod-name.mb0 #[a(href='http://nvse.silverlock.org/').fnv-color New Vegas Script Extender (NVSE)]
    div.mod-card-bg.mt0
        p.mt0.mb0 #[span.b Author:] ianpatt, behippo and scruggsywuggsy the ferret
        p.mt0.mb0 #[span.b Version: ] 5.1b4
        p.mt0.mb0 #[span.b Installation: ] Install only the following files to the main FalloutNV folder:
            pre.mt0.raised
                | nvse_1_4.dll
                | nvse_loader.exe
                | nvse_steam_loader.dll
                |
                | The rest will be installed later, during the ModOrganizer setup. 
        p.mt0.mb0 #[span.b Mod Notes: ]
            | The New Vegas Script Extender, or NVSE for short, is a modder's resource that expands the scripting capabilities 
            | of Fallout: NV. It does so without modifying the executable files on disk, so there are no permanent side effects.
            | Without NVSE, many mods that add incredible features to Fallout New Vegas cannot be used.
            
    div#4gbfnv
    h6.mod-name.mb0 #[a(href='https://www.nexusmods.com/newvegas/mods/55061').fnv-color 4GB Fallout New Vegas Updated]
    div.mod-card-bg.mt0
        p.mt0.mb0 #[span.b Author:] MonochromeWench, Hendricks266, Roy Batty
        p.mt0.mb0 #[span.b Version: ] 1.9
        p.mt0.mb0 #[span.b Installation: ] 
            pre.mt0.raised
                | Install only the following files to the main FalloutNV folder:
                |
                | fnv4gb.exe
                |
                | Then run the exe
        p.mt0.mb0 #[span.b Mod Notes: ]
            | Fallout New Vegas only allows for 2 GB of RAM to be accessed by the FalloutNV.exe, so this will allow 4 GB of RAM
            | to be accessed by setting the LAA flag. 
