div#ogg-vorbis-libs
    h3.section-header Ogg Vorbis Libraries
    div
        h6.mod-name.mb0 #[a(href='https://www.nexusmods.com/newvegas/mods/61265').fnv-color Ogg Vorbis Libraries]
        div.mod-card-bg.mt0
            p.mt0.mb0 #[span.b Author:] Kanewright
            p.mt0.mb0 #[span.b Version: ] 3
            p.mt0.mb0 #[span.b Installation: ] Install only the following files to the main FalloutNV folder:
                pre.mt0.raised
                    | libogg.dll
                    | libvorbis.dll
                    | libvorbisfile.dll
            p.mt0.mb0 #[span.b Mod Notes: ] Latest compiled Ogg Vorbis Libraries. The game uses it for decoding оgg audio format.

