//-
    Creatures
    Updated 2019-04-02
    themagicteeth
//-

- sections.push(['#creatures', 'Creatures'])
- mods.push([])

section#creatures
    h2 Creatures

    //- Charge's FNV HD Image Packs - Creatures
    - highQuality = true
    - downgrade = true
    - modId = 'hd-image-packs'
    - modName = "Charge's FNV HD Image Packs - Creatures"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66368'
    - modAuthor = 'DcCharge'
    - mainFiles = ['Creatures 4X']
    +mod


    //- It's a Dogs World - Dog Texture Overhaul
    - coreMod = true
    - downgrade = true
    - modId = 'its-a-dogs-world'
    - modName = "It's a Dogs World - Dog Texture Overhaul"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59020'
    - modAuthor = 'Nivea'
    - modVersion = '1.0'
    - mainFiles = ['DogsWorldTextureOverhaul_Large_V1_0']    
    +mod
        +notes
            | This mod provides higher res, and much higher detailed textures
            | for the Normal dog, Rex, and the Cyber dog's from Old World Blues.


    //- Fawkes Retexture Hi-Res
    - coreMod = true
    - modId = 'fawkes-retexture'
    - modName = 'Fawkes Retexture Hi-Res'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/8721'
    - modAuthor = 'Macintroll'
    - mainFiles = ['FAWLKES Re-Texture']
    +mod
        +notes We just want this for the clothes


    //- FO3 Hirezd - Supermutants
    - modId = 'fo3-hirezd-supermutants'
    - modName = 'FO3 Hirezd - Supermutants'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/19931'
    - modAuthor = 'Emerald Reign'
    - modVersion = '1.0'
    - mainFiles = ['Supermutants']
    - optionalFiles = ['Supermutant - 4k Fawkes']
    +mod
        +notes
            | 2k Skin textures for Supermutants and Overlords, 4k
            | for Behemoth, plus 4k for Fawkes
    

    //- Swampfolk Backwater Retexture
    - coreMod = true
    - modId = 'swampfolk-backwater-retexture'
    - modName = 'Swampfolk Backwater Retexture'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/18894'
    - modAuthor = 'Deathclaw Alpha'
    - modVersion = '1'
    - mainFiles = ['Backwater Retexture']
    +mod
        +notes
            | The Swampfolk are inbred, disease-ridden characters who haven't
            | bathed in, like, twenty years. Well, they are now.


    //- Vandr HD Creatures
    - coreMod = true
    - modId = 'vandr-hd-creatures'
    - modName = 'Vandr HD Creatures'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/18500'
    - modAuthor = 'Vandrerer'
    - modVersion = '1.0'
    - mainFiles = ['Vandr HD Creatures']
    +mod
        +mispack
            | Right click "data"
        +notes
            | Retexture of creatures with totally new bump-maps and 
            | sharpened mip maps!


    //- aMidianBorn Book Of Water - Book of Flesh
    - coreMod = true
    - modId = 'book-of-flesh'
    - modName = 'aMidianBorn Book Of Water - Book of Flesh'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/39873'
    - modAuthor = 'CaBaL'
    - mainFiles = ['BOA NV The Book Of Flesh']
    +mod


    //- FeralGhouls Hires Retexture
    - coreMod = true
    - modId = 'feralghouls-hires-retexture'
    - modName = 'FeralGhouls Hires Retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/53960'
    - modAuthor = 'Macintroll'
    - modVersion = '1.0'
    - mainFiles = ['Feral Ghould HD']
    +mod
        +mispack
            | Expand "FeralGhoulsHD", right click "data"


    //- Super Mutants HD
    - highQuality = true
    - downgrade = true
    - modId = 'super-mutants-hd'
    - modName = 'Super Mutants HD'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/64214'
    - modAuthor = 'pilamin'
    - modVersion = '1.1'
    - mainFiles = ['Super Mutants HD - 4k']
    +mod


    //- Super Mutant Mesh Replacer
    - coreMod = true
    - modId = 'super-mutant-mesh-replacer'
    - modName = 'Super Mutant Mesh Replacer'
    - modUrl = 'https://mega.nz/#!9cQXGbQS!GdWRCNZtmEWl_8RSouF70dD8MIQGrWIsFax6mtIRzM0'
    - fileType = 'fnv'
    - modAuthor = 'TheNeglected'
    - modVersion = '1.3'
    +mod


    //- The Molerat Extravaganza
    - highQuality = true
    - modId = 'molerat-extravaganza'
    - modName = 'The Molerat Extravaganza'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/60110'
    - modAuthor = 'ToxicGuy'
    - modVersion = 'MOL3.1'
    - mainFiles = ['The Molerat Extravaganza - 2048px Retexture']
    +mod


    h3 Robots

    //- Improved Robots Textures
    - coreMod = true
    - modId = 'improved-robots'
    - modName = 'Improved Robots Textures'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/56759'
    - modAuthor = 'Tau34RUS'
    - modVersion = '1.0.1'
    - mainFiles = ['Improved Main Robots Textures', 'Improved OWB Robot Textures', 'Improved LR Robot Textures']
    +mod


    //- Eyebot Retextured
    - modId = 'eyebot-retextured'
    - modName = 'Eyebot Retextured'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/22564'
    - modAuthor = 'd7 aka id2301'
    - modVersion = '1'
    - mainFiles = ['EYEBOT Retextured']
    +mod


    //- Robot Revolution HD - Protectron
    - modId = 'robot-revolution-protectron'
    - modName = 'Robot Revolution HD - Protectron'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/18902'
    - modAuthor = 'OpenSaucer'
    - modVersion = '1.1'
    - mainFiles = ['Robot Revolution - Protectron HD Re-texture']
    +mod
        +notes
            | Did you ever think the robots in D.C needed a face lift?
            | This is for you. Actually, this is for you no matter what!


    //- Robots HD Retexture
    - highQuality = true
    - modId = 'robots-hd-retexture'
    - modName = 'Robots HD Retexture'
    - modUrl = 'http://falcon-lair.com/files/file/497-hd-retekstur-robotov-robots-hd-retexture'
    - fileType = 'fo3'
    - modAuthor = 'Magnesium Fire aka QuasarX '
    - mainFiles = ['Robots+HD+Retexture.7z']
    +mod
        +instructions
            | Click the link underneath "Falcon-Lair.com" (Уже зарегистрированы? Войти)
            | Enter the following credentials:
            |
            | Username: ttwoee
            | Password: fallout3nv
            |
            | Once logged in, a light gray button will appear on the far right of the page, underneath the pictures of robots
            | The button will say "Скачать файл"
            |
            | Click the button and and a popup will appear
            | Click the button that says "Скачать" to download the file


    //- SentryTurret Retextured      
    - modId = 'sentryturret-retextured'
    - modName = 'SentryTurret Retextured'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23034'
    - modAuthor = 'd7 aka id2301'
    - modVersion = '1'
    - mainFiles = ['d7_sentryTurret_retextured']
    +mod
        +notes New normals, spec, glow and diffuse maps. Also cube maps.
