//-
    Effects
    Updated 2019-03-22
    themagicteeth
//-

- sections.push(['#effects', 'Effects'])
- mods.push([])

section#effects
    h2 Effects

    //- Charge's FNV HD Image Packs
    - highQuality = true
    - modId = 'hd-image-packs'
    - modName = "Charge's FNV HD Image Packs"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66368'
    - modAuthor = 'DcCharge'
    - mainFiles = ['Decals n Effects 4X']
    +mod

    //- Enhanced Blood
    - hasPlugins = true
    - modId = 'enhanced-blood'
    - modName = 'Enhanced Blood'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/34917'
    - modAuthor = 'dDefinder'
    - modVersion = '2.22c'
    - mainFiles = ['Enhanced Blood Texture']
    - optionalFiles = ['Alternate Textures']
    +mod
        +instructions TO DO


    //- EXE - Effect teXtures Enhanced
    - coreMod = true
    - modId = 'exe-effect-textures-enhanced'
    - modName = 'EXE - Effect teXtures Enhanced'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62989'
    - modAuthor = 'weijiesen'
    - modVersion = 'v2'
    - mainFiles = ['EXE FULL RES V2 -LATEST-']
    +mod
        +notes 
            | Every last visual effect texture in FNV base game remade.
            | This affects all visuals in a great way.   
        

    //- HD Mist
    - modId = 'hd-mist'
    - modName = 'HD Mist'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/58955'
    - modAuthor = 'Ramccoid, Adonis VII'
    - modVersion = '1.0'
    - mainFiles = ['HD Mist 2k']
    +mod
        +notes 
            | This is an HD texture to replace the blocky ambient
            | mists found throughout Fallout.


    //- Hectrol FX Dustorm Deluxe
    - modId = 'hectrol-fx-duststorm-deluxe'
    - modName = 'Hectrol FX Dustorm Deluxe'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/44025'
    - modAuthor = 'Hectrol'
    - modVersion = '1.0'
    - mainFiles = ['Hectrol_FX_Duststorm_Deluxe_HighRes_Retex']
    +mod
        +mispackaged
            | This mod is packaged incorretly.
            | Expand "Hectrol_FX_Duststorm_Deluxe_HighRes_Retex"
            | Right click "2048" and select [Set data directory]
            | Click [Ok]
