//-
    Fixes and Extensions
    Updated 2019-03-22
//-

- sections.push(['#fixes-and-extensions', 'Fixes and Extensions'])
- mods.push([])

section#fixes-and-extensions
    h2.section-header Fixes and Extensions

    #jip-ln-nvse-plugin
        +name('JIP LN NVSE Plugin', 'https://www.nexusmods.com/newvegas/mods/58277', 'fnv')
        +modInfo
            +author Jazzisparis and LuthienAnarion
            +version 55.05
            +installation Install #[+file('JIP LN NVSE Plugin')]
            +notes  
                | This plugin is an extension of the New Vegas Script Extender (NVSE). It adds 800+ new functions, 
                | which can be used in GECK scripting and (in some cases) as conditions. Additionally, this mod 
                | includes numerous engine bug fixes/tweaks, and restores several broken game features.


    #nvac
        +name('NVAC - New Vegas Anti Crash', 'https://www.nexusmods.com/newvegas/mods/53635', 'fnv')
        +modInfo
            +author Queue
            +version 7.5.1.0
            +installation Install #[+file('NVAC - New Vegas Anti Crash')]
            +notes This mod extends error handling of New Vegas, leading to fewer crashes.


    #nvtf
        +name('NVTF - New Vegas Tick Fix', 'https://www.nexusmods.com/newvegas/mods/66537', 'fnv')
        +modInfo
            +author SCarxt - Tgspy
            +version 1.3
            +installation Install #[+file('New Vegas Tick Fix')]
            +mispackaged
                | This mod is packaged incorrectly
                | During install right click and select "Create folder"
                | Name the new folder NVSE
                |
                | Right click the new NVSE folder and create a new folder
                | Name the new folder plugins
                |
                | Move FastExitnTickCountReplace.dll and FastExitnTickCountReplace.ini into the new plugins folder
                |
                | Click [OK]
