//-
    LODGen
//-

- sections.push(['#lod', 'LOD'])

section#lod
    h2 LOD

    //- Improved LOD Noise Texture
    - modId = 'improved-lod-noise'
    - modName = 'Improved LOD Noise Texture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/46451'
    - modVersion = 'V1.00'
    - modAuthor = 'Cyberlazy'
    - mainFiles = ['Improved LOD noise Texture']
    +mod


    //- FNVLODGen
    - testing = true
    - modId = 'improved-lod-noise'
    - modName = 'FNVLODGen'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/58562'
    - modVersion = '1.1'
    - modAuthor = 'Ehamloptiran Sheson and FNVEdit Team'
    - mainFiles = ['FNVLODGen Resources']
    - optionalFiles = ['NMC LOD texture fix', 'Trees LOD Billboards Vanilla']
    +mod


    +copy('mb0')
        | Now that FNVLODGens resources are installed into Mod Organizer LODs can
        | be generated using FNVLODGen (installed in the Tools section).
        | These steps are based of the small guide on the 
        | #[+link('TTW forums by Roy Batty', 'https://taleoftwowastelands.com/viewtopic.php?f=24&t=7132&sid=7e34f9e642b87e7e17516369d4a02a47')].
    +copy('mt0')
        | Before running FNVLODGen, an ini setting in the fallout.ini
        | must be updated to include the TTW BSAs.

    pre
        | Open Mod Organizer.
        | Click [Tools]>[Edit Ini] at the top of the window.
        | Verify fallout.ini is selected and change the following lines.
        | Click [Save] and close the window. 

    +ini('Update SArchive list to use TTW assets')
        | [Archive]
        | SArchiveList=Fallout - Textures.bsa, Fallout - Textures2.bsa, Fallout - Meshes.bsa, Fallout - Meshes2.bsa, Fallout - Voices1.bsa, Fallout - Sound.bsa, Fallout - Misc.bsa
    +copy('mb0')
        | Now FNVLODGen can be ran through Mod Organizer to generate the LODs.
        | Follow the instructions below:
    pre.mt0
        | From the executables dropdown, select FNVLODGen, and wait for it to finish loading
        |
        | On the left side (where all of the checkboxes are), right click and select "Select All"
        |
        | Set the "Atlas size" to 8192x8192
        |
        | Check the box next to "Trees LOD"
        |
        | Click [Generate]
        | 
        | LODs will now be generated, this can take 20 to 30 minutes
        | Once it is finished, close the window
        |
        | Open Mod Organizer and enable "FNVLODGENOutput" in the left pane.
