//-
    NPCs
//-

- sections.push(['#npcs', 'NPCs'])
- mods.push([])

section#npcs
    h2 NPCs

    //- Authentic Burned Man
    - modId = 'authentic-burned-man'
    - modName = 'Authentic Burned Man'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/41974'
    - modVersion = '1.0'
    - modAuthor = 'Rocket'
    - mainFiles = ['Better Burned Man']
    +mod
        +instructions TO DO - Requires cleaning
        +notes
            | This redesigns Joshua Graham, The Burned Man, to much more closely match his
            | appearance in the game art. Now he actually looks burnt! 


    //- Beards
    - modId = 'beards'
    - modName = 'Beards'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/49624'
    - modVersion = '1.0'
    - modAuthor = 'Drumber'
    - mainFiles = ['HQ Beards 2048x2048']
    +mod
        +optionalEsps('Beards', 'Beards.esp')
        +notes Nice beards.


    //- Immersive Mouth and Teeth FO3
    - modId = 'immersive-mouth-and-teeth-fo3'
    - modName = 'Immersive Mouth and Teeth FO3'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23527'
    - modVersion = '1.0'
    - modAuthor = 'ClearanceClarence'
    - mainFiles = ['Immersive Mouth and Teeth - F3 Version - 2K - 1.0']
    +mod


    //- Immersive Mouth and Teeth FNV
    - modId = 'immersive-mouth-and-teeth-fnv'
    - modName = 'Immersive Mouth and Teeth FNV'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66630'
    - modVersion = '1.0'
    - modAuthor = 'ClearanceClarence'
    - mainFiles = ['Immersive Mouth and Teeth - FNV Version - 2K - 1.0']
    +mod


    //- Natural Eyes
    - modId = 'natural-eyes'
    - modName = 'Natural Eyes'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62811'
    - modVersion = '1.1'
    - modAuthor = 'zzjay'
    - mainFiles = ['Eyes Smaller Iris']
    +mod

