//-
    NPCs
//-

- sections.push(['#npcs', 'NPCs'])

section#npcs
    h2 NPCs

    //- Authentic Burned Man
    - modId = 'authentic-burned-man'
    - modName = 'Authentic Burned Man'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/41974'
    - modVersion = '1.0'
    - modAuthor = 'Rocket'
    - mainFiles = ['Better Burned Man']
    +mod
        +instructions TO DO - Requires cleaning
        +notes
            | This redesigns Joshua Graham, The Burned Man, to much more closely match his
            | appearance in the game art. Now he actually looks burnt! 


    //- Beards
    - downgrade = true
    - modId = 'beards'
    - modName = 'Beards'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/49624'
    - modVersion = '1.0'
    - modAuthor = 'Drumber'
    - mainFiles = ['HQ Beards 2048x2048']
    +mod
        +optionalEsps('Beards', 'Beards.esp')
        +notes Nice beards.


    //- Distributed Necklaces and Chains
    - testing = true
    - preReq = 'NVSE, and JIP LN NVSE Plugin'
    - modId = 'distributed-necklaces-chains'
    - modName = 'Distributed Necklaces and Chains'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/56198'
    - modAuthor = 'Various - darthbdaman'
    - modVersion = '4.2.0'
    - mainFiles = ['Distributed Necklaces and Chains']
    +mod


    //- ApateX Female Face Textures
    - modId = 'apatex-female-face'
    - modName = 'ApateX Female Face Textures'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62699'
    - modAuthor = 'Zephranthes'
    - modVersion = 'v0.8'
    - mainFiles = ['Installer for ApateX Basic ONLY']
    - optionalFiles = ['ApateX Wasteland', 'ApateX Normal Map']
    +mod
        +mispack
            | During installation of ApateX Wasteland and ApateX Normal Map create the following directories:
            |
            | Create a folder called textures
            | Within the new textures folder create a folder named characters
            | Within the new chatacters folder create folder named female
            |
            | Drag the headhuman.dds file into the female folder (ApateX Wasteland)
            | Drag the headhuman_n.dds into the female folder (ApateX Normal Map)
            |
            | Structure should be textures/characters/female/headhuman(_n).dds


    //- Ghouls Hires retexture
    - modId = 'ghould-hires-retexture'
    - modName = 'Ghouls Hires retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/49449'
    - modAuthor = 'Macintroll'
    - modVersion = '1.1'
    - mainFiles = ['Ghoul retexture']
    +mod
	

    //- High Resolution Male Body Textures
    - modId = 'high-res-male-body'
    - modName = 'High Resolution Male Body Textures'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62151'
    - modVersion = '1.0'
    - modAuthor = 'alexscorpion, dragbody'
    - mainFiles = ['main file']
    +mod


    //- Immersive Mouth and Teeth FO3
    - downgrade = true
    - highQuality = true
    - modId = 'immersive-mouth-and-teeth-fo3'
    - modName = 'Immersive Mouth and Teeth FO3'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23527'
    - modVersion = '1.0'
    - modAuthor = 'ClearanceClarence'
    - mainFiles = ['Immersive Mouth and Teeth - F3 Version - 2K - 1.0']
    +mod


    //- Immersive Mouth and Teeth FNV
    - downgrade = true
    - highQuality = true
    - modId = 'immersive-mouth-and-teeth-fnv'
    - modName = 'Immersive Mouth and Teeth FNV'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66630'
    - modVersion = '1.0'
    - modAuthor = 'ClearanceClarence'
    - mainFiles = ['Immersive Mouth and Teeth - FNV Version - 2K - 1.0']
    +mod


    //- Natural Eyes
    - modId = 'natural-eyes'
    - modName = 'Natural Eyes'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62811'
    - modVersion = '1.1'
    - modAuthor = 'zzjay'
    - mainFiles = ['Eyes Smaller Iris']
    +mod

