//-
    Run LOOT
    Updated 2019-03-31
//-

- sections.push(['#run-loot', 'Run LOOT'])
- mods.push([])

section#run-loot
    h2.section-header Run LOOT

    pre
        | Open LOOT through Mod Organizer 
        | Sort the mod list
        | Click [Apply] when the list of mods is presented
        | Close LOOT. 