//-
    Textures
    Updated 2019-03-22
//-

- sections.push(['#textures', 'Textures'])
- mods.push([])

section#textures
    h2 Textures

    h3 Texture Overhauls

    //- Charge's FNV HD Image Packs
    - highQuality = true
    - downgrade = true
    - modId = 'hd-image-packs'
    - modName = "Charge's FNV HD Image Packs"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66368'
    - modAuthor = 'DcCharge'
    - mainFiles = ['Landscape 4X', 'Vehicles 4X']
    +mod
    

    //- Retextured Clutter Collection
    - coreMod = true
    - modId = 'retextured-clutter-collection'
    - modName = 'Retextured Clutter Collection'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/6894'
    - modAuthor = 'ObsidianStag'
    - modVersion = 'FINAL'
    - mainFiles = ['BetterClutterCollection']
    +mod
        +notes 
            | This mod replaces several Clutter textures with a much larger, more detailed
            | versions. Also included are a few new textures, for wooden and metal shelves. 


    //- NMC Texture Pack – Fallout 3
    - coreMod = true
    - highQuality = true
    - downgrade = true
    - requiredBy = 'NMC Textures Combined - TTW'
    - modId = 'nmc-fo3'
    - modName = 'NMC Texture Pack – Fallout 3'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/12056'
    - modAuthor = 'NeilMc_NMC'
    - modVersion = '1.0'
    - mainFiles = ['NMCs Texture Pack MAXIMUM Pack SINGLE FILE FOR NMM']
    +mod
        +notes
            | Replaces Terrain, trees, interiors/ exteriors, and most vehicles 
            | and furniture with high resolution (200-400%) real-life photograph-based 
            | equivalents.


    //- NMC Texture Pack – New Vegas
    - coreMod = true
    - highQuality = true
    - downgrade = true
    - requiredBy = 'NMC Textures Combined - TTW'
    - modId = 'nmc-fnv'
    - modName = 'NMC Texture Pack – New Vegas'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/43135'
    - modAuthor = 'NeilMc_NMC'
    - modVersion = '1.0'
    - mainFiles = ['NMCs Textures NV LARGE Pack Part 1 of 3 FOR NMM', 'NMCs Textures NV LARGE Pack Part 2 of 3 FOR NMM', 'NMCs Textures NV LARGE Pack Part 3 of 3 FOR NMM']
    - optionalFiles = ['NMCs Texture pack WASHEDOUTWASTELAND Large and Medium']
    - updateFiles = ['NMC New Vegas Patch for ALL Sized packs']
    +mod
        +notes
            | Re-textures roads, trees, landscape, vehicles buildings and interiors with high-resolution
            | photographic based equivalent textures.


    //- NMC Textures Combined - TTW
    - coreMod = true
    - converted = true
    - preReq = 'NMC Textures Fallout 3, NMC Textures New Vegas, and NMC Washed Out Wasteland'
    - modId = 'nmc-ttw'
    - modName = 'NMC Textures Combined - TTW'
    - modUrl = 'https://taleoftwowastelands.com/download/file.php?id=2189&sid=7e34f9e642b87e7e17516369d4a02a47'
    - fileType = 'ttw'
    - modAuthor = 'Roy Batty'
    +mod
        +instructions
            | Create a work folder.
            | Create a folder in your work folder and name it "NMC Textures - TTW".
            | Extract the Fallout 3 pack, the New Vegas Pack (Extract all three main into the same folder), and Washed out Wasteland pack into separate, easily identifiable folders.
            | Extract the script package.
        +instructions
            | Select the script that corresponds to the Fallout 3 pack you downloaded and copy it into the “textures” sub folder of the extracted pack.
            | Double click on the script to execute it.
            | When the script has finished, delete it.
            | In the extracted Fallout 3, select and copy the textures folder and paste it in the "NMC Textures - TTW" folder.
        +instructions
            | Select the script that corresponds to the New Vegas pack and copy it into the “Textures” sub folder of the extracted pack.
            | Double click on the script to execute it.
            | When the script is finished, delete it.
            | In the extracted Fallout New Vegas folder, select and copy textures folders and paste it in the "NMC Textures - TTW" folder, select merge and overwrite when prompted.
        +instructions
            | Extract the Large Texture Pack Patches download and copy the “Textures” sub folder to the New Vegas pack directory where the other extracted New Vegas textures are.
            | Copy the "meshes" and "textures" folders of the combined cleaned New Vegas pack to the "NMC Textures - TTW" folder and select merge and overwrite when prompted.
        +instructions
            | Select the script that corresponds to the Washed out Wasteland and copy it into the “Textures” sub folder of the extracted pack.
            | Double click on the script to execute it. When the script is finished, delete it.
            | Rename the folder “NMC Washed Out Wasteland”.
        +instructions
            | Close ModOrganizer, and navigate to "ModOrganizer/mods" folder, copy the "NMC Textures - TTW" and the “NMC Washed Out Wasteland” folders and paste them it into the "ModOrganizer/mods" folder.
            | Close explorer, launch ModOrganizer, and enable NMC Textures - TTW and NMC Washed Out Wasteland in the left pane.
        +hidden
            | Hide the following folders:
            |
            | Textures/interface

        .raised
            +important 
                | The "NMC Washed Out Wasteland" folder is enabled during the Fallout 3 portion of Tale of Two Wastelands and disabled for
                | the New Vegas portion.


    //- MG's Neat Clutter Retextures
    - coreMod = true
    - modId = 'mgs-neat-clutter-retextures'
    - modName = "MG's Neat Clutter Retextures"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/42551'
    - modAuthor = 'Mental Gear'
    - modVersion = '7.0'
    - mainFiles = ['MGs NCR Pack Ojo friendly 7']
    +mod
        +notes Hires textures and normal maps for more than 200 items or objects.


    //- Ojo Bueno Texture Pack
    - coreMod = true
    - highQuality = true
    - downgrade = true
    - requiredBy = 'Collision Meshes - OJO BUENO'
    - modId = 'ojo-bueno'
    - modName = 'Ojo Bueno Texture Pack'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/39755'
    - modAuthor = 'tapioks'
    - modVersion = 'Quiznak'
    - mainFiles = ['Ojo Bueno Texture Pack for FNV - ULTRA']
    - updateFiles = ['Ojo Bueno Vending Machine Update ULTRA']
    +mod
        +notes High quality hand-crafted texture replacers for a myriad of items throughout the Mojave wasteland.


    //- Collision Meshes - OJO BUENO
    - preReq = 'Collision Meshes, and OJO BUENO'
    - modId = 'collision-meshes-ojo'
    - modName = 'Collision Meshes - OJO BUENO'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59149'
    - modAuthor = 'MadAce, KiCHo666'
    - modVersion = '1.0'
    - miscFiles = ['OJO BUENO Texture Pack compatibility']
    +mod


    //- Textures Over Time
    - coreMod = true
    - requiredBy = 'Collision Meshes - FlagStoneWalls'
    - modId = 'textures-over-time'    
    - modName = 'Textures Over Time'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/41101'
    - modAuthor = 'DonKnotts'
    - modVersion = '1.0'
    - mainFiles = ['FlagStoneWalls', 'HH_Sandstone', 'Sandbags']
    +mod


    //- Collision Meshes - FlagStoneWalls
    - preReq = 'Collision Meshes, and Textures Over Time - FlagStoneWalls'
    - modId = 'collision-meshes-flagstonewalls'
    - modName = 'Collision Meshes - FlagStoneWalls'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59149'
    - modAuthor = 'MadAce, KiCHo666'
    - modVersion = '1.0'
    - miscFiles = ['Textures Over Time FlagStoneWalls compatibility']
    +mod


    //- UHQ Terrain, Rock, Roads, & Grass Overhaul
    - coreMod = true
    - highQuality = true
    - modId = 'uhq-terrain-rock-roads-grass'
    - modName = 'UHQ Terrain, Rock, Roads, & Grass Overhaul'
    - modUrl = 'https://www.moddb.com/mods/uhq-terrain-rock-roads-grass-overhaul/downloads'
    - fileType = 'fo3'
    - modAuthor = 'Marcurios'
    - modVersion = 'v1.1'
    - mainFiles = ['UHQ Terrain, Rock, Roads & Grass Overhaul v1.1']
    +mod
        +hidden
            | Hide the following folders:
            |
            | meshes/architecture/urban
            | textures/architecture/urban
        +optionalEsps('UHQ Terrain, Rock, Roads, & Grass Overhaul', 'MCGrass.esp', 'MCRockTextures.esp')
        +notes This Texture/Mesh Pack will upgrade the Terrain fidelity of the Fallout 3 Wasteland.


    h3 DLC Retextures

    //- Mothership Zeta DLC Retextured
    - modId = 'mothership-zeta-dlc-retextured'
    - modName = 'Mothership Zeta DLC Retextured'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/8260'
    - modAuthor = 'Weijiesen'
    - modVersion = '1.0'
    - mainFiles = ['WJS DLC05 Retex 1_0']
    +mod
        +notes
            | The spaceship looks like metal instead of cardboard now! The aliens look creepy instead of bland now!
            | Zeta has been awesomefied. EVERY single last texture.


    h3 Other Textures

    //- Arlington Tombstones Redone
    - modId = 'arlington-tombstone-redone'
    - modName = 'Arlington Tombstones Redone'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23059'
    - modAuthor = 'd7'
    - modVersion = '1'
    - mainFiles = ['d7_tombstones_redo']
    +mod
        +notes New meshes and textures for the Arlington graveyard tombstones


    //- Hectrol Tumbleweed
    - downgrade = true
    - requiredBy = 'Collision Meshes - Hectrol Tumbleweed'
    - modId = 'hectrol-tumbleweed'
    - modName = 'Hectrol Tumbleweed'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/40333'
    - modAuthor = 'Hectrol'
    - modVersion = '1.0'
    - mainFiles = ['Hectrol Tumbleweed Deluxe HighRes Retex']
    +mod
        +notes 
            | This skin modifies the aspect of default boring tumbleweeds 
            | by realistic tumbleweeds, and adds a new Normal Map


    //- Collision Meshes - Hectrol Tumbleweed
    - preReq = 'Collision Meshes, and Hectrol Tumbleweed'
    - modId = 'collision-meshes-tumbleweed'
    - modName = 'Collision Meshes - Hectrol Tumbleweed'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59149'
    - modAuthor = 'MadAce, KiCHo666'
    - modVersion = '1.0'
    - miscFiles = ['Hectrol Tumbleweed compatibility']
    +mod


    //- Money Higher Quality Retex
    - coreMod = true
    - modId = 'money-higher-quality-retex'
    - modName = 'Money Higher Quality Retex'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/40792'
    - modAuthor = 'Lord Inquisitor'
    - modVersion = '1.2'
    - mainFiles = ['MoneyRetexV1_2']
    +mod


    //- Acoraito HD Textures Pack
    - coreMod = true
    - modId = 'acoraito-hd-textures'
    - modName = 'Acoraito HD Textures Pack'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59194'
    - modAuthor = 'Acoraito'
    - mainFiles = ['Acoraito HD Textures Pack 2k']
    +mod


    //- Audley's Misc Textures
    - coreMod = true
    - modId = 'audleys-misc-textures'
    - modName = "Audley's Misc Textures"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/58318'
    - modAuthor = 'Audley'
    - modVersion = '1.0'
    - optionalFiles = ['Audleys Misc Textures - Fear and Loathing']
    +mod


    //- Bear Trap Retextured
    - modId = 'bear-trap-retextured'
    - modName = 'Bear Trap Retextured'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/11748'
    - modAuthor = 'konji'
    - modVersion = '1.00'
    - mainFiles = ['beartrap retextured']
    +mod
        +notes A new texture for the bear trap.


    //- Cherry Bomb HD Retexture
    - modId = 'cherry-bomb-hd-retexture'
    - modName = 'Cherry Bomb HD Retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/61186'
    - modAuthor = 'legandalfo and Jokerine'
    - mainFiles = ['Cherry Bomb HD retexture']
    - optionalFiles = ['Round mesh for cherry bomb']
    +mod
        +notes Cherry Bomb retextured to be less ugly.

         
    //- Fallout Food Package Retexture Compilation
    - coreMod = true
    - requiredBy = 'Collision Meshes FO3 - Fallout Food Package Retexture Compilation'
    - modId = 'food-package-retexture-collection'
    - modName = 'Fallout Food Package Retexture Compilation'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59232'
    - modAuthor = 'Majormodder'
    - modVersion = '3.0'
    - mainFiles = ['Food compilation dirty set uncompressed 3 point Oh']
    +mod
        +optionalEsps('Food Package Retexture Compilation', "majormodder's Junk Food to Barbeque Crisps.esp")
        +notes
            | Revamps the old food textures for the box packages with textures ranging
            | from 1k-2k size, lore friendly too. 


    //- Collision Meshes FO3 - Fallout Food Package Retexture Compilation
    - preReq = 'Collision Meshes, and Fallout Food Package Retexture Compilation'
    - modId = 'collision-meshes-fo3-food-package-retexture-patch'
    - modName = 'Collision Meshes FO3 - Fallout Food Package Retexture Compilation'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/21946'
    - modAuthor = 'KaneWright'
    - modVersion = '1.0'
    - miscFiles = ['FalloutFoodPackageRetextureCompilationFix']
    +mod


    //- Hectrol Lockinterface Deluxe
    - coreMod = true
    - downgrade = true
    - modId = 'hectrol-lockinterface-deluxe'
    - modName = 'Hectrol Lockinterface Deluxe'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/39945'
    - modAuthor = 'Hectrol'
    - modVersion = '1.0'
    - mainFiles = ['Hectrol Lockinterface Deluxe HighRes Retex']
    +mod
        +notes 
            | This skin modifies the aspect of blocked locks interface. 
            | The full effect of the Normal Map is displayed correctly in motion.


    //- Hectrol Mailbox Deluxe
    - coreMod = true
    - downgrade = true
    - modId = 'hectrol-mailbox-deluxe'
    - modName = 'Hectrol Mailbox Deluxe'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/40513'
    - modAuthor = 'Hectrol'
    - modVersion = '1.0'
    - mainFiles = ['Hectrol Mailbox Deluxe HighRes Retex']
    +mod
        +notes This skin modifies the aspect of default boring mailbox by realistic mailbox.


    //- Hi-Res Lunchbox
    - coreMod = true
    - modId = 'hi-res-lunchbox'
    - modName = 'Hi-Res Lunchbox'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/3682'
    - modAuthor = 'Dazington'
    - modVersion = '1.0'
    - mainFiles = ['Hi-Res_Lunchbox_V1_0']
    +mod
        +notes Replaces the standard 256x256 lunchbox texture with a higher resolution 1024x1024
        

    //- Hubris Comics Sign
    - modId = 'hubris-comics-sign'
    - modName = 'Hubris Comics Sign'
    - requiredBy = 'Hubris Comics Sign - TTW Patch'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23348'
    - modAuthor = 'd7'
    - modVersion = '1'
    - mainFiles = ['d7_hubricComicsExteriorSign']
    +mod
        +optionalEsps('Hubris Comics Sign', 'd7_hubris.esp')


    //- Hubris Comics Sign - TTW Patch
    - hasPlugins = true
    - converted = true
    - preReq = 'Hubris Comics Sign'
    - modId = 'hubris-comics-sign-ttw'
    - modName = 'Hubris Comics Sign - TTW Patch'
    - fileType= 'ttw'
    - modUrl = 'https://drive.google.com/file/d/1gpr5r2Hn23XzMQyMNdUDjunnhqE3dvfx/view?usp=sharing'
    - modAuthor = 'pintocat, d7'
    - mainFiles = ['d7_hubris.7z']
    +mod
        +notes 
            | Makes Hubris Comics Sign work with TTW. For more details visit 
            | the #[+link('TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6855')]


    //- Magazine Redux
    - coreMod = true
    - downgrade = true
    - modId = 'magazine-redux'
    - modName = 'Magazine Redux'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/42681'
    - modAuthor = 'razzy1319'
    - modVersion = '1.1'
    - mainFiles = ['Magazine Redux']
    - updateFiles = ['MagRedux QuickFix']
    +mod
        +notes High Quality(although grunged up to fit the lore) Magazines. 


    //- Minimod - High Resolution Newspapers
    - coreMod = true
    - modId = 'minimod'
    - modName = 'Minimod - High Resolution Newspapers'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/50812'
    - modAuthor = 'Tagaziel and LadySinestro'
    - modVersion = '1.5'
    - mainFiles = ['New and Improved Meshes by LadySinestro']
    +mod


    //- Neglected Clutter
    - coreMod = true
    - modId = 'neglected-clutter'
    - modName = 'Neglected Clutter'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59756'
    - modAuthor = 'aogara'
    - modVersion = '1.4'
    - mainFiles = ['Neglected Architecture and Furnitures', 'Neglected Clutters']
    - optionalFiles = ['Neglected Clutters - New Paint Gun']
    +mod


    //- PM's HD Ammo Boxes
    - highQuality = true
    - downgrade = true
    - modId = 'pms-hd-ammo-boxes'
    - modName = "PM's HD Ammo Boxes"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/64007'
    - modAuthor = 'Pommymax'
    - modVersion = '1.1'
    - optionalFiles = ["PM's HD Ammo Boxes - 4K Diffuse 2K Normals"]
    +mod
        +notes HD Retextures for all ammo boxes.


    //- PM's Med-Textures - HD Chems and Venoms
    - coreMod = true
    - modId = 'pms-med-textures'
    - modName = "PM's Med-Textures - HD Chems and Venoms"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62946'
    - modAuthor = 'pommymax'
    - modVersion = '1.0'
    - mainFiles = ["PM's Med-Textures v1.0"]
    - optionalFiles = ["PM's Med-X Texture", "Sebastjin's Normals"]
    +mod  
        +notes HD Retextures for all chems, venoms, and antivenoms.


    //- Pre-War Money Retexture
    - coreMod = true
    - modId = 'pre-war-money-retexture'
    - modName = 'Pre-War Money Retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/36718'
    - modAuthor = 'Red.Room.Service'
    - modVersion = '1.2'
    - mainFiles = ['Pre-War Money Retexture -RRS']
    +mod
        +instructions When prompted, select Light Distress for both bills.
        +notes 
            | A re-texture of Pre-War Money featuring authentic, time-frame accurate,
            | appropriately distressed, bills


    //- RobCo Sign REDO
    - modId = 'robco-sign-redo'
    - modName = 'RobCo Sign REDO'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23340'
    - modAuthor = 'd7'
    - modVersion = '1'
    - mainFiles = ['d7_RobCoSignREDO']
    +mod


    //- Statesman Hotel Signs
    - modId = 'statesman-hotel-signs'
    - modName = 'Statesman Hotel Signs'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23349'
    - modAuthor = 'd7'
    - modVersion = '1'
    - mainFiles = ['d7_statesmanHotelSigns']
    +mod


    //- Super Duper Mart Exterior Sign
    - modId = 'super-duper-mart-sign'
    - modName = 'Super Duper Mart Exterior Sign'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23354'
    - modAuthor = 'd7'
    - modVersion = '1'
    - mainFiles = ['d7_SDMExteriorSign02']
    +mod


    //- TVSet Retextured
    - modId = 'tvset-retextured'
    - modName = 'TVSet Retextured'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23023'
    - modAuthor = 'd7 aka id2301'
    - modVersion = '1'
    - mainFiles = ['d7_tvset_retextured']
    +mod


    //- Tweaked Cashregister
    - modId = 'tweaked-cashregister'
    - modName = 'Tweaked Cashregister'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/40329'
    - modAuthor = 'Lord Inquisitor and Tapiokas'
    - modVersion = '1.0'
    - mainFiles = ['TweakCashregisterV1_0']
    +mod
        +notes Cashregister tweaked and made more 3d based
 

    //- Tweaked Chems Replacer
    - modId = 'tweaked-chems-replacer'
    - modName = 'Tweaked Chems Replacer'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/37255'
    - modAuthor = 'Lord Inquisitor'
    - modVersion = '1.1'
    - mainFiles = ['TweakChems1_1']
    +mod
        +notes 
            | The chems given a tweaked meshs and also new textures
            | in case of Mentats, Rebound, and Jet Turbo. 


    //- Tweaked Coffee Maker
    - modId = 'tweaked-coffee-maker'
    - modName = 'Tweaked Coffee Maker'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/10246'
    - modAuthor = 'Lord Inquisitor'
    - modVersion = '1.0'
    - mainFiles = ['coffeemaker01 v1']
    +mod
        +notes 
            | A tweaked Coffeemaker for the office, made it so its less flat.
            | Adds the "wings", switches and grilles. Causes minor issue with 
            | a TTW Interiors mesh.


    //- Tweaked Generator
    - modId = 'tweaked-generator'
    - modName = 'Tweaked Generator'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/12353'
    - modAuthor = 'Lord Inquisitor'
    - modVersion = '1.0'
    - mainFiles = ['GeneratorTweaked1_0']
    +mod
        +notes 
            | Replaces the vanilla generator mesh (generator01.nif) 
            | with a slightly up meshed version.

        
    //- Tweaked Intercom
    - modId = 'tweaked-intercom'
    - modName = 'Tweaked Intercom'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/10003'
    - modAuthor = 'Lord Inquisitor'
    - modVersion = '1.0'
    - mainFiles = ['Intercom01 replacer']
    +mod
        +notes Just makes it more 3D. Original was a bit too flat.


    //- Tweaked Wrench
    - modId = 'tweaked-wrench'
    - modName = 'Tweaked Wrench'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/10212'
    - modAuthor = 'Lord Inquisitor'
    - modVersion = '1.0'
    - mainFiles = ['Wrench01 V_0']
    +mod
        +notes 
            | The Vanilla Wrench has been tweaked to be more 3D with 
            | hollow handle, hanging hole and adjuster.
 
        
    //- VaultTec HQ Exterior Sign
    - modId = 'vaulttec-hq-sign'
    - modName = 'VaultTec HQ Exterior Sign'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23345'
    - modAuthor = 'd7'
    - modVersion = '1'
    - mainFiles = ['d7_vaultTecHQ_SIGN']
    +mod


    //- Vertibird Re-textured
    - modId = 'vertibird-retextured'
    - modName = 'Vertibird Re-textured'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/8602'
    - modAuthor = 'Macintroll'
    - modVersion = 'v0.1'
    - mainFiles = ['Vertibird re-textured']
    +mod
