- sections.push(['#qol', 'Quality of Life'])

section#qol
    h2 Quality of Life

    //- FOV Slider
    - hasPlugins = true
    - preReq = 'NVSE, The Mod Configuration Menu, and JIP LN NVSE Plugin'
    - modId = 'fov-slider'
    - modName = 'FOV Slider'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/55085'
    - modAuthor = 'Roy Batty'
    - modVersion = '2.7'
    - mainFiles = ['FOV Slider']
    +mod
        +notes Adds an MCM menu with options for adjusting all types of FOV

    //- TTW More Map Markers
    - converted = true
    - hasPlugins = true
    - modId = 'more-map-markers'
    - modName = 'TTW More Map Markers'
    - fileType = 'ttw'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/67022'
    - modAuthor = 'Xyx0r, Frootzcat, Sessine, LordBishek'
    - modVersion = '1.0'
    - mainFiles = ['TW - more Map Markers - Main File']
    +mod


    //- Universal Item Sorter
    - hasPlugins = true
    - configFiles = true
    - coreMod = true
    - modId = 'universal-item-sorter'
    - modName = 'Universal Item Sorter'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/63867'
    - modAuthor = 'PushTheWinButton'
    - modVersion = '1.06'
    - mainFiles = ['Universal Item Sorter']
    +mod
        +instructions
            | Right click on Vanilla UI Plus in the left pane of Mod Organizer
            | Select "Open In Explorer"
            |
            | Navigate to menus\prefabs\VUI+\
            | Open settings.xml in a text editor
            |
            | Change <_VUI+noMODSlabel> to 1
            | Save and exit
        +notes Adds configurable prefixes before items in the pip-boy menu


    h3 Charcter Movements and Immersion

    //- B42 Weapon Inertia
    - hasPlugins = true
    - modId = 'b42-weapon-inertia'
    - modName = 'B42 Weapon Inertia'
    - modAuthor = 'Xilandro and JazzIsParis'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/64335'
    - modVersion = '0.1beta'
    - mainFiles = ['B42 Inertia']
    +mod
        +instructions
            | During installation uncheck "readme.txt"


    //- Enhanced Camera
    - coreMod = true
    - modId = 'enhanced-camera'
    - modName = 'Enhanced Camera'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/55334'
    - modAuthor = 'LogicDragon'
    - modVersion = '1.4c'
    - mainFiles = ['Enhanced Camera 1.4c']
    +mod
        +notes
            | Enables a visible body and player shadows when in
            | 1st person and changes 3rd person animations to 1st person

    h3 Sortomatic

    //- Sortomatic
    - hasPlugins = true
    - coreMod = true
    - requiredBy = 'Sortomatic Ingredient Loader, and TTW DLC Sortomatic Homes'
    - modId = 'sortomatic'
    - modName = 'Sortomatic'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/41142'
    - modAuthor = 'tunaisafish and Gribbleshnibit8'
    - modVersion = '1.3'
    - mainFiles = ['Sortomatic_v1_3']
    +mod
        +notes
            | With the Sortomatic system you will never lose your items,
            | and they will be stored exactly where you want them. The
            | system will also manage the items on your person too;
            | automatically removing the surplus items and restocking
            | your kit to your specifications.


    //- Sortomatic Ingredient Loader
    - hasPlugins = true
    - coreMod = true
    - preReq = 'Sortomatic'
    - modId = 'sortomatic-ingredient'
    - modName = 'Sortomatic Ingredient Loader'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/65921'
    - modAuthor = 'pintocat'
    - modVersion = '1.1'
    - mainFiles = ['Sortomatic Ingredient Loader 1-1']
    +mod
        +notes
            | Dynamically loads the workbench formlists in Sortomatic so that its
            | workbenches can pull in recipe items from mod-added recipes, not just vanilla and DLC.


    //- TTW DLC Sortomatic Homes
    - hasPlugins = true
    - coreMod = true
    - preReq = 'Sortomatic'
    - modId = 'sortomatic-homes'
    - modName = 'TTW DLC Sortomatic Homes'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/65988'
    - fileType = 'ttw'
    - modAuthor = 'pintocat'
    - modVersion = '1.0'
    - mainFiles = ['TTW DLC Sortomatic Homes 1-0']
    +mod
        +notes
            | Adds very minimalist Sortomatic to The Pitt, Point Lookout, Mothership Zeta,
            | Dead Money, Honest Hearts, and Lonesome Road.


    //- Sortomatic DLC and TTW Fix
    - coreMod = true
    - hasPlugins = true
    - fileType = 'ttw'
    - preReq = 'Sortomatic'
    - modId = 'sortomatic-ttw-dlc-fix'
    - modName = 'Sortomatic DLC and TTW Fix'
    - modAuthor = 'Tooplex'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66986'
    - modVersion = '1.1'
    - mainFiles = ['Sortomatic DLC and TTW Fix']
    +mod
        +notes Fixes a few bugs, displays and sorting with the DLC script of Sortomatic and the TTW Script
