
- sections.push(['#cleaning-esms', 'Cleaning Bethesda ESMs'])

section#cleaning-esms
    h2.section-header Cleaning Bethesda ESMs
    
    +important
        | Tale of Two Wastelands currently does not advise cleaning the Bethesda ESMs. 
        | It can cause problems, as the mod requires some of those files to be present. 
        | If you have previously cleaned your ESMs it is VERY IMPORTANT that you restore 
        | them to their vanilla state. 

- mods.push([])