
- sections.push(['#configure-mod-organizer', 'Mod Organizer'])
- let modOrganizer = []

section#configure-mod-organizer
    h2.section-header Configure Mod Organizer

    p.copy-bg
        | Now that the base game is properly configured, the next step is to set up our mod management utility.
        |
        | Mod Organizer is the mod manager of choice for the following reasons: #[br] #[br]
        | 1) Profiles allow multiple configurations set up per character and/or playthrough. #[br] #[br]
        | 2) Mod Downloads via NXM allows downloading of mods directly using the "Download With Manager"
        | button on the Nexus site. #[br] #[br]
        | 3) Mod Version Tracking uses the power of the Nexus site to track major mod updates. 
        | However, this is not a replacement for the track file option on the actual Nexus site 
        | for optional downloads! #[br] #[br]
        | 4) NMM Installer Compatibility allows the use of Nexus Mod Manager installers. #[br] #[br]
        | 5) Manual Installation Option allows modification and selection of the data folder in an archive 
        | manually, allowing fixes of path problems at install time. #[br] #[br]
        | 6) Virtual File System allows a clean base Fallout installation without the mess of moving files. 
        | Additionally extends this file system to other tools such as LOOT, FNVEdit, and Wrye Flash NV. 

    - modOrganizer.push(['#setup-vanilla-fallout', 'Setup Vanilla Fallout'])
    div#setup-vanilla-fallout
        h3.section-header Setup a Vanilla Fallout: New Vegas Profile
        pre
            | Start Mod Organizer.
            | If this is the first run, Mod Organizer will prompt to select which game to manage, select Fallout New Vegas.
            |
            | Click the [Configure Profiles] button at the top of the window. The icon looks like an ID card.
            | Verify "Automatic Archive Invalidation" is checked.
            | Click [Create] and type "Fallout New Vegas" in the text box.
            | Verify that "Default Game Settings" is unchecked then click [OK].
            | Select the "Default" profile and click [Remove]. Select [Yes] when prompted.
            | Close the dialogue by clicking [Close].
            |
            | Verify that "Fallout New Vegas" is the currently selected profile in the "Profile" drop-down above the left-pane of the Mod Organizer window.

    - modOrganizer.push(['#mod-organizer-settings', 'Mod Organizer Settings'])
    div#mod-organizer-settings
        h3.section-header Mod Organizer Settings

        p.copy-bg.mb0 Next the ModOrganizer settings will need to be configured.
        pre.mt0
            | Click the [Settings] button at the top of the main Mod Organizer window. The icon looks like a screwdriver and wrench.
            |
            | In the "Settings" dialogue, click the [Nexus] tab.
            | Check "Automatically Log-In to Nexus" and input a valid nexus username and password.
            |
            | In the "Settings" dialogue, click the [Plugins] tab.
            | Select "Basic Diagnosis Plugin" in the left pane.
            | In the right pane, double click on the value to the right of "check_modorder" and select "false".
            |
            | In the "Settings" dialogue, click the [Workarounds] tab.
            | Verify that NMM Version is at least 0.52.2, if it is not then update it to this value.
            |
            | Close the window by clicking [OK].

    - modOrganizer.push(['#setup-executables', 'Setup Executables'])            
    div#setup-executables
        h3.section-header Setup Executables

        p.copy-bg.mb0
            | We will now add all of the previously downloaded Tools to the Mod Organizer executable menu. 
            | Follow the directions below to access the "Add Executables" menu. 
        pre.mt0.mb0
            | Click the [Executables] button at the top of the main Mod Organizer window. 
            | The icon looks like a pair of cogs. 

        p.copy-bg.mb0.mt0
            | If all prerequisites were installed correctly, some software such as NVSE should appear already 
            | configured in the list. To add the executables we will be using this menu. 
        p.copy-bg.mb0.mt0
            | Follow directions below, some of them have specific instructions. FNVEdit, LOOT, FNV4GB 
            | Launcher and Wrye Flash NV will be added. 
        pre.mt0
            | In the "Title" text box type the name of the executable being added.
            | In the "Binary" text box select the .exe by using windows explorer by pressing the [...] button.
            | Do not select any of the optional check boxes.
            | Click the [Add] button. The executable should appear in the list.
            | Repeat this process for each one.

        +important Select the executables listed below and input the text into the "Arguments" box.
        pre.mt0
            | Remove the outer most quotations marks, and click [Modify] after each one:
            | 
            | LOOT:"--game=FalloutNV"
            | FNV4GB: "-laaexe .\FalloutMO.exe"
            |
            | Then close the dialogue by clicking [OK]. 

    - modOrganizer.push(['#mod-organizer-bsas', 'ModOrganizer and BSAs'])        
    div#mod-organizer-bsas
        h3.section-header ModOrganizer and BSAs

        p.copy-bg.mb0
            | Bethesda Software Archives (BSA) can be used to store mod files to reduce file sizes. 
            | The added benefit is the reducing in file system fragmentation caused by having many
            | loose files. Sometimes extracting the contents of a BSA is necessary for various reasons,
            | such as: not wanting the entire contents of the BSA, to optimize textures within the BSA,
            | or just to view the contents of it.
        p.copy-bg.mb0.mt0
            | Mod Organizer manages these archives, follow the steps below to ensure proper loading:
        pre.mt0
            | Go to the Archives tab on the right pane of Mod Organizer.
            | Ensure that “Have MO Manage Archives” is checked.
            |
            | Note: Greyed out BSAs will be checked no matter what due to their plugin requiring
            | that BSA to load. Make sure that all BSAs in the list are checked, this allows MO to
            | read their contents. 

        +important
            | Ensure "Fallout - Invalidation.bsa" is the top file in the list, just under data. 
            | Otherwise many mods will not function properly.

        p.copy-bg.mb0
            | Throughout the guide BSAs may need to be extracted. Configure Mod Organizer as follows,
            | so it will ask if you would like to extract BSA's anytime there is a BSA within a mod.
        pre.mt0
            | Click the [Settings] button at the top of the main Mod Organizer window. The icon looks 
            | like a screwdriver and wrench.
            | Click the [Plugins] tab.
            | Select BSA Extractor plugin and change false to true. 

    - modOrganizer.push(['#sort-base-plugins', 'Sort Base Game Plugins']) 
    div#sort-base-plugins
        h3.section-header Sort The Base Game Plugins
        
        p.copy-bg.mb0
            | By default the install and plugin load order in Mod Organizer is slightly scrambled.
            | To fix the install order, perform the following steps: 
        pre.mt0.mb0
            | In the left pane of Mod Organizer drag and drop the "Non-MO" category mods that represent
            | the DLCs to the following order:
            |
            | *FalloutNV
            | *DeadMoney
            | *HonestHearts
            | *OldWorldBlues
            | *LonesomeRoad
            | *GunRunnersArsenal.esm
            | *CaravanPak
            | *ClassicPack
            | *MercenaryPack
            | *TribalPack 

        p.copy-bg.mt0.mb0
            | The plugin order can be fixed by running LOOT to do a quick sort. Perform the following steps: 
        pre.mt0.mb0
            | Ensure all ESMs in the right pane are checked.
            |
            | Select "LOOT" from the drop-down above the right pane of the Mod Organizer window.
            | Click the [Run] push button.
            | Find the icon that looks like a horizontal bar graph (mouse over text should state "Sort Plugins")
            | and click it.
            | After some processing, the calculated load order is displayed in the right pane of LOOT. Click 
            | the [Apply] button to apply the load order.
            | Click the [X] on the title bar to close LOOT. 
        p.copy-bg.mt0
            | This process loads LOOT through the ModOrganizer interface to sort the current ESMs/ESPs in the
            | virtual data folder. For now this only consists of the base game and DLC ESM/ESP files. Note in
            | the Mod Organizer window the load order has been corrected to match the output from LOOT.
    
- mods.push(modOrganizer)