
- sections.push(['#configure-mod-organizer', 'Mod Organizer'])
- let modOrganizer = []

section#configure-mod-organizer
    h2.section-header Configure Mod Organizer

    p.copy-bg
        | Now that the base game is properly configured, the next step is to set up our mod management utility.
        |
        | Mod Organizer is the mod manager of choice for the following reasons: #[br] #[br]
        | 1) Profiles allow multiple configurations set up per character and/or playthrough. #[br] #[br]
        | 2) Mod Downloads via NXM allows downloading of mods directly using the "Download With Manager"
        | button on the Nexus site. #[br] #[br]
        | 3) Mod Version Tracking uses the power of the Nexus site to track major mod updates. 
        | However, this is not a replacement for the track file option on the actual Nexus site 
        | for optional downloads! #[br] #[br]
        | 4) NMM Installer Compatibility allows the use of Nexus Mod Manager installers. #[br] #[br]
        | 5) Manual Installation Option allows modification and selection of the data folder in an archive 
        | manually, allowing fixes of path problems at install time. #[br] #[br]
        | 6) Virtual File System allows a clean base Fallout installation without the mess of moving files. 
        | Additionally extends this file system to other tools such as LOOT, FNVEdit, and Wrye Flash NV. 

    - modOrganizer.push(['#setup-vanilla-fallout', 'Setup Vanilla Fallout'])
    div#setup-vanilla-fallout
        h3.section-header Setup a Vanilla Fallout: New Vegas Profile
        pre
            | Start Mod Organizer, and select [Portable]
            |
            | If you are prompted to clear the read only flag on the fallout.ini select [Yes]
            |
            | If this is the first run, Mod Organizer will prompt to select which game to manage, select Tale of Two Wastelands.
            |
            | Click the [Configure Profiles] button at the top of the window. The icon looks like an ID card.
            | Verify "Automatic Archive Invalidation" is checked.
            | Click [Create] and type "Fallout New Vegas" in the text box.
            | Verify that "Default Game Settings" is unchecked then click [OK].
            | Select the "Default" profile and click [Remove]. Select [Yes] when prompted.
            | Close the dialogue by clicking [Close].
            |
            | Verify that "Fallout New Vegas" is the currently selected profile in the "Profile" drop-down above the left-pane of the Mod Organizer window.

    - modOrganizer.push(['#mod-organizer-settings', 'Mod Organizer Settings'])
    div#mod-organizer-settings
        h3.section-header Mod Organizer Settings

        p.copy-bg.mb0 Next the ModOrganizer settings will need to be configured.
        pre.mt0
            | Click the [Settings] button at the top of the main Mod Organizer window. The icon looks like a screwdriver and wrench.
            |
            | In the [General] tab check the box next to "Download Meta Information"
            |
            | In the [Nexus] tab click [Connect to Nexus], a browser will pop up for you to grant Mod Organizer access to your Nexus account
            | Check the box next to "Hide API Request Counter"
            | If you did not associate Mod Organizer with Nexus links, click [Associate with "Download with manager" links]
            |
            | On the [Steam] tab, you may login with your Steam credentials
            |
            | In the [Workarounds] tab, check the box next to "Enable parsing of Archives (Experimental Feature)"
            |
            | Close the window by clicking [OK].

    - modOrganizer.push(['#setup-executables', 'Setup Executables'])            
    div#setup-executables
        h3.section-header Setup Executables

        p.copy-bg.mb0
            | We will now add all of the previously downloaded Tools to the Mod Organizer executable menu. 
            | Follow the directions below to access the "Add Executables" menu. 
            |
            | Note that NVSE is already listed as an executable, this is because it was installed with 
            | Tale of Two Wastelands
        pre.mt0.mb0
            | Click the [Executables] button at the top of the main Mod Organizer window. 
            | The icon looks like a pair of cogs. 

        p.copy-bg.mb0.mt0
            | Follow directions below, some of them have specific instructions. FNVEdit, LOOT, 
            | and Wrye Flash NV will be added. 
        pre.mt0
            | In the "Title" text box type the name of the executable being added.
            | In the "Binary" text box select the .exe by using windows explorer by pressing the [...] button.
            | Do not select any of the optional check boxes.
            | Click the [Add] button. The executable should appear in the list.
            | Repeat this process for each one.

        +important Select the executables listed below and input the text into the "Arguments" box.
        pre.mt0
            | Remove the outer most quotations marks, and click [Modify] after each one:
            | 
            | LOOT:"--game=FalloutNV"
            |
            | Then close the dialogue by clicking [OK]. 

    - modOrganizer.push(['#mod-organizer-bsas', 'ModOrganizer and BSAs'])        
    div#mod-organizer-bsas
        h3.section-header ModOrganizer and BSAs

        p.copy-bg.mb0
            | Bethesda Software Archives (BSA) can be used to store mod files to reduce file sizes. 
            | The added benefit is the reducing in file system fragmentation caused by having many
            | loose files. Sometimes extracting the contents of a BSA is necessary for various reasons,
            | such as: not wanting the entire contents of the BSA, to optimize textures within the BSA,
            | or just to view the contents of it.
        p.copy-bg.mb0.mt0
            | Mod Organizer manages these archives, follow the steps below to ensure proper loading:
        pre.mt0
            | Go to the Archives tab on the right pane of Mod Organizer.
            | Ensure that “Have MO Manage Archives” is checked.
            |
            | Note: Greyed out BSAs will be checked no matter what due to their plugin requiring
            | that BSA to load. Make sure that all BSAs in the list are checked, this allows MO to
            | read their contents. 

        +important
            | Ensure "Fallout - Invalidation.bsa" is the top file in the list, just under data. 
            | Otherwise many mods will not function properly.

        p.copy-bg.mb0
            | Throughout the guide BSAs may need to be extracted. Configure Mod Organizer as follows,
            | so it will ask if you would like to extract BSA's anytime there is a BSA within a mod.
        pre.mt0
            | Click the [Settings] button at the top of the main Mod Organizer window. The icon looks 
            | like a screwdriver and wrench.
            | Click the [Plugins] tab.
            | Select BSA Extractor plugin and change false to true. 
    
- mods.push(modOrganizer)