//-
    Setup
    Updated 2019-03-29
//-

- sections.push(['#setup', 'Setup'])

section#setup
    h2.section-header Setup

    #clean-old-files
        h3.section-header Clean Old Files
        p.copy-bg
            | It is important that the games installation files are as close to vanilla as possible.
            | Follow the steps below to ensure that your game is free from previous modding files and
            | that the ini files are reset to their default state.

        #reset-game-files
            h4.section-header Reset Game Files
            +important If this is not a clean installation of Fallout New Vegas and you have modded prior perform the following:
            pre.mt0
                | Delete everything in the New Vegas folder except the Data folder.
                | Open the Data folder and delete everything that is not a vanilla ESM or BSA from New Vegas or the DLCs.
                | If you have previously "cleaned" the base game ESMs, delete those as well, as TTW requires them uncleaned.
                |
                | Go to New Vegas in Steam, right click, and select [Properties].
                | Navigate to [Verify Game Cache] option and Steam will download all the necessary files.
                |
                | Optional Tip: Making a archive of the clean game installation with 7Zip is handy for reinstalling Fallout.

        #reset-inis
            h4.section-header Reset Inis
            +important To ensure the INI files are the vanilla INI files perform the following:
            pre.mt0
                | Navigate to My Games/Documents and delete the following files:
                |
                | Fallout.ini
                | FalloutPrefs.ini
                |
                | This will allow the INIs to revert back to vanilla when the game is launched.

    #steam-settings
        h3.section-header Steam Settings
        p.copy-bg.mb0
            | Steam overlay can cause some visual problems with some mods and ENB. If it is not needed,
            | it is recommended to turn it off. Additionally, it is reccomeneded to disable updates as they
            | can break a modded installation or TTW.
        pre.mt0
            | Launch Steam, and proceed to Library.
            | Right-click "Fallout: New Vegas", and click [Properties].
            | In the [General] tab, uncheck the [Enable Steam Overlay...] box.
            |
            | In the [Updates] tab, in the [Automatic Updates] drop down
            | select "Only update this game when I launch it"
            |
            | Click close.
            
- mods.push([])
