//-
    Download TTW
    Create TTW

    Download MO from Github
    Launch and select TTW to manage

    Setup Nexus API
    Login to steam
    Note about download metadata

    Note that NVSE is installed

    Create vanilla profile
    Create TTWOEE profile
    Copy TTW files to MO folder, optionally archive into mod

    Note about ttw created custom ini
    Check fallout custom ini in MO
    If not there paste in from DOcumaents folder

    Add other custom ini tweaks
//-