//-
    Lighting
//-

- sections.push(['#lighting', 'Lighting'])

section#lighting
    h2 Lighting

    +copy Currently TTW does not have a patched interior lighting mod for the Capital Wasteland.

    //- Lucky 38 E3 Lights Restored
    - testing = true
    - hasPlugins = true
    - modId = 'lucky-38-lights'
    - modName = 'Lucky 38 E3 Lights Restored'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66725'
    - modAuthor = 'Faram AKA Biohazard'
    - modVersion = '0.1'
    - mainFiles = ['Lucky 38 E3 Lights Restored']
    +mod
        +notes Restores the Lucky 38's lights that were shown at E3 but cut because of console limitations


    //- Old World Blues Path Lighting
    - coreMod = true
    - hasPlugins = true
    - modId = 'old-world-blues-path-lighting'
    - modName = 'Old World Blues Path Lighting'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/43485'
    - modAuthor = 'Sarge198'
    - modVersion = '1.1'
    - mainFiles = ['Old World Blues Path Lighting']
    +mod
        +optional 
            | Double click Old World Blues Path Lighting in the left pane
            | Go to the [Optional ESPs] tab.
            | Move "OWB-Path Lights - Darker Nights.esp" to the "Optional ESPs" box.
        +notes 
            | Turns on all the blue garden lights in the Old World Blues DLC.
            | Also scripted to turn them on at 2000hrs and off at 0700hrs.


    //- Realistic Wasteland Lighting
    - hasPlugins = true
    - coreMod = true
    - converted = true
    - modId = 'realistic-wasteland-lighting'
    - modName = 'Realistic Wasteland Lighting'
    - fileType = 'ttw'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/52037'
    - modAuthor = 'xCamoLegend, Sal203, RoyBatty'
    - modVersion = 'v5.542'
    - mainFiles = ['TTW Realistic Wasteland Lighting']
    +mod
        +notes
            | A complete weather overhaul for Fallout New Vegas and its DLCs 
            | with complete Tale of Two Wastelands support. Designed to make 
            | the game look more realistic. Improves lighting, weather, clouds,
            | stars, moon and the overall look and feel of the wasteland. For
            | more details check the 
            | #[+link('TTW forum post', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6685&sid=d7978d3911e87f0ba5b6af81269d94e9')]
