//-
    Head
    Updated 2019-03-22
//-

head
    title Tale of Two Wastelands: Over-Encumbered Edition
    meta(charset='utf-8')
    meta(name='author' content='themagicteeth')
    meta(name='description' content='Tale of Two Wastelands: Over-Encumbered Edition is a modding guide for Tale of Two Wastelands')
    meta(name='keywords' content='Fallout, Fallout 3, Fallout New Vegas, TTW, Tale of Two Wastelands, Modding, Mod, Guide, Tutorial')
    meta(name='robots' content='index,nofollow')
    meta(name="twitter:title" content='Tale of Two Wastelands: Over-Encumbered Edition')
    meta(name="twitter:description" content='Tale of Two Wastelands: Over-Encumbered Edition is a modding guide for Tale of Two Wastelands')
    meta(property='og:title' content='Tale of Two Wastelands: Over-Encumbered Edition')
    meta(property='og:type' content='article')
    meta(property='og:description' content='Tale of Two Wastelands: Over-Encumbered Edition is a modding guide for Tale of Two Wastelands')
    meta(property="og:image" content="https://ttwoee.com/icons/og-image.jpg")
    meta(property="og:image:height" content="227")
    meta(property="og:image:width" content="434")
    meta(property='og:url' content='https://ttwoee.com')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='canonical' href='https://ttwoee.com')
    link(rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel='stylesheet' type='text/css' href='style.css')

