//-
    Environment
    Updated 2019-03-22
//-

- sections.push(['#environment', 'Environment'])
- mods.push([])

section#environment
    h2 Environment

    //- Gas Pumps of New Vegas
    - hasPlugins = true
    - modId = 'gas-pumps-of-new-vegas'
    - modName = 'Gas Pumps of New Vegas'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/60246'
    - modAuthor = 'EdibleGrenade12, Thaiauxn'
    - modVersion = 'v1.5'
    - mainFiles = ['Gas Pumps of NV Ver. 1.0']
    - updateFiles = ['Gas Pumps of NV Update 1.5']
    +mod
        +notes
            | There are gas stations in New Vegas, but where are the gas pumps? 
            | This mod puts them where I think they should be. 


    //- Vault 22 Flora Overhaul
    - hasPlugins = true
    - modId = 'vault-22-flora-overhaul'
    - modName = 'Vault 22 Flora Overhaul'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/54472'
    - modAuthor = 'Macintroll'
    - modVersion = '1.1'
    - mainFiles = ['Vault 22 FloraOverhaul Alpha 1-1']
    +mod
        +mispackaged
            | This mod is packaged incorrectly
            | Expand "Vault22FloraOverhaul-mod"
            | Right click "data" and select [Set Data Directory] and click OK
        +notes 
            | This mod trys to add realistic flora overgrown in the vault 22. All levels have 
            | been modified and cluttered with more flora, ivy, bushes, grasses and some creepy things.
            | Game play should be a little more difficult but main quest is almost untouched.