//-
    NPCs
//-

- sections.push(['#npcs', 'NPCs'])

section#npcs
    h2 NPCs

    //- Authentic Burned Man
    - hasPlugins = true
    - modId = 'authentic-burned-man'
    - modName = 'Authentic Burned Man'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/41974'
    - modVersion = '1.0'
    - modAuthor = 'Rocket'
    - mainFiles = ['Better Burned Man']
    +mod
        +instructions TO DO - Requires cleaning
        +notes
            | This redesigns Joshua Graham, The Burned Man, to much more closely match his
            | appearance in the game art. Now he actually looks burnt!


    //- Beards
    - downgrade = true
    - highQuality = true
    - modId = 'beards'
    - modName = 'Beards'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/49624'
    - modVersion = '1.0'
    - modAuthor = 'Drumber'
    - mainFiles = ['HQ Beards 2048x2048']
    +mod
        +optionalEsps('Beards', 'Beards.esp')
        +notes Nice beards.


    //- Distributed Necklaces and Chains
    - testing = true
    - hasPlugins = true
    - preReq = 'NVSE, and JIP LN NVSE Plugin'
    - modId = 'distributed-necklaces-chains'
    - modName = 'Distributed Necklaces and Chains'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/56198'
    - modAuthor = 'Various - darthbdaman'
    - modVersion = '4.2.0'
    - mainFiles = ['Distributed Necklaces and Chains']
    +mod
        +notes Gives NPCs necklaces to hide the neck seam, although Type 4 body fixes this mostly


    //- Breeze Male Redux
    - fileType = 'ttw'
    - converted = true
    - modId = 'breeze-male-redux'
    - modName = 'Breeze Male Redux'
    - modAuthor = 'Kendo 2'
    - modVersion = '1.0.0'
    - modUrl = 'https://nsfwmods.com/files/file/61-breeze-male-redux/'
    - downloadFiles = ['K2_BREEZE_REDUX_Base_Files.rar', 'FO3_DLC_Pitt.rar', 'FO3_DLC Point Lookout.rar', 'NV_DLC OldWorldBlues.rar', 'NV_DLC LonesomeRoad.rar', 'K2_BREEZE_REDUX_Update 12.2018.rar']
    - fileType = 'ttw'
    +mod
        +instructions
            | Go to the folder Data\meshes\characters\_male
            | Look for the files upperbody_nude erect,  upperbody_nude and  upperbodymale_underwear shorts.
            |
            | Rename one of these files to upperbody


    //- Honest Hearts Tribals
    - modId = 'honest-hearts-tribals'
    - modName = 'Honest Hearts Tribals'
    - modAuthor = 'Kendo 2'
    - modVersion = '1.0.0'
    - modUrl = 'https://nsfwmods.com/files/file/60-kendo-2s-honest-hearts-tribals/'
    - downloadFiles = ['K2_Honest_Hearts_Tribals.rar']
    - fileType = 'fnv'
    +mod


    //- TYPE4 Female Body and Armors
    - hasPlugins = true
    - fileType = 'ttw'
    - converted = true
    - modId = 'type4-female-body-and-armors'
    - modName = 'TYPE4 Female Body and Armors'
    - modAuthor = 'junkacc11'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66903'
    - mainFiles = ['T4 - Main']
    - optionalFiles = ['T4 - Plugin TTW']
    - modVersion = '1.9d'
    +mod
        +optionalEsps('TYPE4 Female Body and Armors', 'T4-plugin.esp')


    //- Ghouls Hires retexture
    - modId = 'ghouls-hires-retexture'
    - modName = 'Ghouls Hires retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/49449'
    - modAuthor = 'Macintroll'
    - modVersion = '1.1'
    - optionalFiles = ['Ghoul retexture for Breeze Male Body replacer']
    +mod
        +notes Retextures non-feral ghouls


    //- High Resolution Male Body Textures
    - highQuality = true
    - modId = 'high-res-male-body'
    - modName = 'High Resolution Male Body Textures'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62151'
    - modVersion = '1.0'
    - modAuthor = 'alexscorpion, dragbody'
    - mainFiles = ['main file']
    +mod
        +notes HD retexture of the male body and hand textures


    //- Immersive Mouth and Teeth FO3
    - downgrade = true
    - highQuality = true
    - modId = 'immersive-mouth-and-teeth-fo3'
    - modName = 'Immersive Mouth and Teeth FO3'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/23527'
    - modVersion = '1.0'
    - modAuthor = 'ClearanceClarence'
    - mainFiles = ['Immersive Mouth and Teeth - F3 Version - 2K - 1.0']
    +mod


    //- Immersive Mouth and Teeth FNV
    - downgrade = true
    - highQuality = true
    - modId = 'immersive-mouth-and-teeth-fnv'
    - modName = 'Immersive Mouth and Teeth FNV'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66630'
    - modVersion = '1.0'
    - modAuthor = 'ClearanceClarence'
    - mainFiles = ['Immersive Mouth and Teeth - FNV Version - 2K - 1.0']
    +mod


    //- Natural Eyes
    - modId = 'natural-eyes'
    - modName = 'Natural Eyes'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62811'
    - modVersion = '1.1'
    - modAuthor = 'zzjay'
    - mainFiles = ['Eyes Smaller Iris']
    +mod
