//-
    Quests
    Updated 2019-03-22
//-

- sections.push(['#quests', 'Quests'])
- mods.push([])

section#quests
    h2 Quests

    //- A Trail of Crumbs
    - hasPlugins = true
    - converted = true
    - modId = 'a-trail-of-crumbs'
    - modName = 'A Trail of Crumbs'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66267'
    - fileType = 'fo3'
    - mainFiles = ['A Trail of Crumbs']
    +mod
        +notes 
            | An exciting, fun and challenging quest to 10 forgotten locations.
            | For more info visit the 
            | #[+link('TTW forum post', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6517&sid=d7978d3911e87f0ba5b6af81269d94e9')]

            
    //- The Regulators
    - hasPlugins = true
    - converted = true
    - modId = 'the-regulators'
    - modName = 'The Regulators'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66266'
    - fileType = 'fo3'
    - modAuthor = 'WilliamSea, Roy Batty'
    - modVersion = '1.4'
    - mainFiles = ['The Regulators']
    +mod

