//-
    Weapons
//-

- sections.push(['#weapons', 'Weapons'])
- mods.push([])

section#weapons
    h2 Weapons

    //- Bowie knife retexture
    - modId = 'bowie-knife-retexture'
    - modName = 'Bowie knife retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62970'
    - modAuthor = 'FalloutMG'
    - modVersion = '1'
    - mainFiles = ['Bowie knife retexture']
    +mod


    //- Fallout 3 Hirezd - Weapons
    - modId = 'fo3-hirezd-weapons'
    - modName = 'Fallout 3 Hirezd - Weapons'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/19931'
    - modAuthor = 'Emerald Reign'
    - mainFiles = ['BB Gun', 'Grenades', 'Knuckles', 'Lincolns Repeater', 'Mines']
    +mod


    //- Hatchet retexture
    - coreMod = true
    - modId = 'hatchet-retexture'
    - modName = 'Hatchet retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62997'
    - modAuthor = 'FalloutMG'
    - modVersion = '1'
    - mainFiles = ['Hatchet retexture']
    +mod


    //- HD One Hand Melee
    - coreMod = true
    - modId = 'hd-one-hand-melee'
    - modName = 'HD One Hand Melee'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/42509'
    - modAuthor = 'InsanitySorrow, 2cooldays '
    - modVersion = ''
    - mainFiles = ['One Hand Melee HD']
    - optionaFiles = ['Gun Runner Box HD']
    +mod
        +hidden
            | meshes


    //- Cleaver and Chopper Retexture
    - coreMod = true
    - modId = 'cleaver-chopper-retexture'
    - modName = 'Cleaver and Chopper Retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/63539'
    - modAuthor = 'FalloutMG'
    - mainFiles = ['Cleaver Retexture']
    +mod


    //- Combat and Chance's knife retexture
    - coreMod = true
    - modId = 'combat-chance-knife-retexture'
    - modName = "Combat and Chance's knife retexture"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/63055'
    - modAuthor = 'FalloutMG'
    - modVersion = '1'
    - mainFiles = ['Combat knife Retexture']
    +mod


    //- Laer Retexture
    - modId = 'laer-retexture'
    - modName = 'Laer Retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/45042'
    - modAuthor = 'The Riff'
    - modVersion = '1.1'
    - mainFiles = ['Main']
    +mod
        +mispackaged
            | This mod is packaged incorrectly
            | During install right click "data" and select [Set Data Directory]
            | Untick "before.png" and "after.png"
            | Click [Ok]


    //- MFC Grenade Texture Fix
    - modId = 'mfc-grenade-texture-fix'
    - modName = 'MFC Grenade Texture Fix'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/58734'
    - modAuthor = 'Adonis VII'
    - modVersion = 'v1.0'
    - mainFiles = ['MFC Meshes']
    +mod


    //- Retextured Fallout Ordnance - RFO
    - modId = 'rfo'
    - modName = 'Retextured Fallout Ordnance - RFO'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/44429'
    - modAuthor = 'Emerald Reign'
    - modVersion = '0.2'
    - mainFiles = ['Retextured FALLOUT Ordnance']
    +mod


    //- Shishkebab the Retexture
    - modId = 'shishkebab-the-retexture'
    - modName = 'Shishkebab the Retexture'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/3879'
    - modAuthor = 'macintroll'
    - mainFiles = ['shishkebab the flaming sword']
    +mod


    //- Throwing melee weapon retexture
    - coreMod = true
    - modId = 'throwing-melee-weapon-retexture'
    - modName = 'Throwing melee weapon retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/63000'
    - modAuthor = 'FalloutMG'
    - modVersion = '1'
    - mainFiles = ['Throwing melee weapon retexture']
    +mod


    //- Weapon Enhancement Project
    - coreMod = true
    - modId = 'weapon-enhancement-project'
    - modName = 'Weapon Enhancement Project'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/21245'
    - modAuthor = 'Christopher Wallace and MadCat221'
    - modVersion = '1.0'
    - mainFiles = ['Weapon Enhancement Pack']
    +mod


    //- Weapon Retexture Project
    - coreMod = true
    - hasPlugins = true
    - modId = 'weapon-retexture-project'
    - modName = 'Weapon Retexture Project'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/38285'
    - modAuthor = 'Millenia'
    - modVersion = '2.1.8'
    - mainFiles = ['Weapon Retexture Project - WRP']
    - updateFiles = ['WRP Hotfix']
    - optionalFiles = ['WRP-TTW Patch']
    +mod


    //- Bozar Retexture
    - downgrade = true
    - highQuality = true
    - modId = 'bozar-retexture'
    - modName = 'Bozar Retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/56477'
    - modAuthor = 'Millenia'
    - modVersion = '1.1'
    - mainFiles = ['Bozar_retexture_4k_maps']
    +mod


    //- Half Hansified Holorifle
    - modId = 'half-hansified-holorifle'
    - modName = 'Half Hansified Holorifle'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/50547'
    - modAuthor = 'MadCat221'
    - modVersion = '1'
    - mainFiles = ['Half Hansified Holorifle Standard']
    +mod
        +instructions
            | Rename: holorifle.nif -> Nvdlc01weapholorifle.nif
