//-
    Gameplay
    Updated 2019-03-22
//-

- mods.push([])
- sections.push(['#gameplay', 'Gameplay'])

section#gameplay
    h2.section-header Gameplay

    include overhauls.pug
    include notpn.pug
    include other.pug
    include annoyances.pug
