div#not-pn
    h3.section-header Not Quite Project Nevada
    p.copy-bg
        | Project Nevada is a very good mod, but can add a lot of extra compatibility issues
        | and scripts. There are a few core features of it that I love and most of the time do
        | not use the rest. I referred #[+link('here', 'https://wiki.synstack.org/books/tale-of-two-wastelands/page/project-nevada-alternatives')]
        | for some ideas for this section.

    //-
        BLEED
        Updated 2019-04-02
    //-
    #bleed
        +name('BLEED', 'https://www.nexusmods.com/newvegas/mods/61141', 'ttw')
        +modInfo
            +author Roy Batty, Puppettron
            +version 1.7.3
            +installation Install #[+file('BLEED')]
            +notes
                | Ballistic Locational Energy Explosive Damage. BLEED is an overhaul of how
                | damage and force is applied.

    //-
        Live Dismemberment
        Updated 2019-04-03
    //-
    #live-dismemberment
        +name('Live Dismemberment', 'https://www.nexusmods.com/newvegas/mods/64914', 'fnv')
        +modInfo
            +author C16 and Asurah
            +version 1.8
            +installation Install #[+file('Live Dismemberment Update')]

    //-
        Quick Grenade Hotkey
        Updated 2019-04-03
    //-
    //- #quick-grenade-hotkey
    //-     +name('Quick Grenade Hotkey', 'https://www.nexusmods.com/newvegas/mods/64874', 'fnv')
    //-     +modInfo
    //-         +author Tgspy
    //-         +version 1.6
    //-         +installation Install #[+file('Quick Grenade Hotkey')]

    //-
        Sprint Mod
        Updated 2019-04-03
    //-
    //- #sprint-mod
    //-     +name('Sprint Mod', 'https://www.nexusmods.com/newvegas/mods/34943', 'fnv')
    //-     +modInfo
    //-         +author Lork
    //-         +version 1.4
    //-         +installation Install #[+file('Sprint Mod FNV v1-4')]

    //-
        Sprint Mod TTW
        Updated 2019-04-03
    //-
    //- #sprint-mod-ttw
    //-     +name('Sprint Mod TTW', 'https://www.nexusmods.com/newvegas/mods/64696', 'ttw')
    //-     +modInfo
    //-         +author thordomr
    //-         +version 1.0
    //-         +installation Install #[+file('TTW_Sprint Mod.esp')]

    #vanilla-sprint
        +name('Vanilla Sprint', 'https://www.nexusmods.com/newvegas/mods/66535', 'fnv')
        +modInfo
            +author C16 and Asurah
            +version rev1.4
            +installation Install #[+file('VanillaSprint')]

    //-
        Universal Item Sorter
        Updated 2019-04-02
    //-
    #universal-item-sorter
        +name('Universal Item Sorter', 'https://www.nexusmods.com/newvegas/mods/63867', 'fnv')
        +modInfo
            +author PushTheWinButton
            +version 1.06
            +installation Install #[+file('Universal Item Sorter')]

    //-
        VATS Alternative - A Comprehensive Bullet Time Mod
        Updated 2019-04-03
    //-
    #vats-alternative
        +name('VATS Alternative - A Comprehensive Bullet Time Mod', 'https://www.nexusmods.com/newvegas/mods/62278', 'fnv')
        +modInfo
            +author PushTheWinButton and miguick
            +version 2.5
            +installation Install #[+file('VATS Alternative - Bullet Time')]
