div#other-gameplay
    h3 Other Gameplay

    //-
        Flashlight NVSE
        Updated 2019-04-02
    //-
    #flashlight-nvse
        +name('Flashlight NVSE', 'https://www.nexusmods.com/newvegas/mods/39968', 'fnv')
        +modInfo
            +author vivanto
            +version 1.22
            +installation Install #[+file('FlashlightNVSE122 fomod installer')]

    //-
        TTW Flashlight NVSE
        Updated 2019-04-02
    //-
    #flashlight-nvse-ttw
        +name('TTW Flashlight NVSE', 'https://drive.google.com/open?id=1lJpwTDidKoh7QuwnqQzKNN8lc-17exiY', 'ttw')
        +modInfo
            +author Roy Batty
            +installation Install #[+file('ttw_flashlightnvse.7z')]

    //- +merge Merge Flashlight NVSE and TTW Flashlight NVSE
    //- pre.mt0 TODO

    +modCard('immersive-minigames', 'Immersive Minigames', 'https://www.nexusmods.com/newvegas/mods/58246', 'fnv-color')
        +author Gribbleshnibit8 and pintocat
        +version 1.5
        +installation Install #[span.file Immersive Minigames]

    //-
        Mobile Truck Base
        Updated 2019-04-03
    //-
    #mobile-truck-base
        +name('Mobile Truck Base', 'https://www.nexusmods.com/newvegas/mods/50978', 'fnv')
        +modInfo
            +author tdx73
            +version 1.51
            +installation Install #[+file('Data')]
            +notes This adds a purchase able truck to Gibson Scrapyard that serves as a mobile player base.

    //-
        Mobile Truck Base - TTW
        Updated 2019-04-02
    //-
    #mobile-truck-base-ttw
        +name('Mobile Truck Base - TTW', 'https://www.nexusmods.com/newvegas/mods/66012', 'ttw')
        +modInfo
            +author pintocat
            +version 1.0
            +installation Install #[+file('Mobile Truck Base - TTW 3.2 - 1.0')]
            +notes This patches Mobile Truck Base for TTW

    //-
        Nipton Fires Extinguished
        Updated 2019-03-22
    //-
    #nipton-fires-extinguished
        +name('Nipton Fires Extinguished', 'https://www.nexusmods.com/newvegas/mods/53846', 'fnv')
        +modInfo
            +author Qwerty
            +version 1.0
            +installation Install #[+file('Nipton Fires Extinguished')]
            +notes Makes fire and smoke effects in Nipton disappear 1 day after the first player visit.

    //-
        Root 'n Loot TTW
        Updated 2019-03-22
    //-
    #root-n-loot
        +name("Root 'n Loot TTW", 'https://www.nexusmods.com/newvegas/mods/59378', 'ttw')
        +modInfo
            +author Roy Batty
            +version 1.8
            +installation Install #[+file("Root 'n Loot")]
            +notes Replaces all static containers with lootable equivalents.

    //-
        Static Battery Replacer
        Updated 2019-03-22
    //-
    #static-battery-replacer
        +name('Static Battery Replacer', 'https://www.nexusmods.com/newvegas/mods/36052', 'fnv')
        +modInfo
            +author pintocat
            +version 1.0
            +installation Install #[+file('Static Battery Replacer')]
            +notes
                | Replaces 50 of the 59 static Fission Battery models with the Misc Item version that can be taken.
                | The remaining 9 are there as visual "power sources" for lights and such.
