script(type="application/ld+json").
    { 
        "@context": "https://schema.org", 
        "@type": "TechArticle",
        "headline": "Tale of Two Wastelands: Over-Encumbered Edition",
        "dependencies": "Tale of Two Wastelands",
        "proficiencyLevel": "Expert",
        "alternativeHeadline": "Modding guide for Tale of Two Wastelands 3.2",
        "image": "http://example.com/image.jpg",
        "author": "themagicteeth", 
        "genre": "video games", 
        "keywords": "fallout new vegas ttw modding mod guide 3.2 tale wastelands", 
        "wordcount": "1120",
        "url": "https://ttwoee.com",
        "datePublished": "2019-03-31",
        "dateCreated": "2019-03-31",
        "dateModified": "2019-05-05",
        "description": "Tale of Two Wastelands: Over-Encumbered Edition is a modding guide for Tale of Two Wastelands",
        "articleBody": ""
    }
