script(type="application/ld+json").
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Tale of Two Wastelands: Over-Encumbered Edition",
        "alternateName": "TTWOEE",
        "url": "https://ttwoee.com",
        "logo": "https://ttwoee.com/icons/apple-touch-icon.png",
        "sameAs": [
            "https://github.com/themagicteeth/ttwoee",
            "https://reddit.com/r/ttwoee",
            "https://forum.step-project.com/topic/8447-tale-of-two-wastelands-over-encumbered-edition"
        ]
    }
