script(type="application/ld+json").
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "Tale of Two Wastelands: Over-Encumbered Edition",
        "description": "Tale of Two Wastelands: Over-Encumbered Edition is a modding guide for Tale of Two Wastelands",
        "publisher": {
            "@type": "TechArticle",
            "name": "Tale of Two Wastelands: Over-Encumbered Edition"
        }
    }
