#hud-ui
    h3 HUD

    //-
        Better Pickup Prompt
        Updated 2019-04-02
    //-
    //- #better-pick-up-prompt
    //-     +name('Better Pickup Prompt', 'https://www.nexusmods.com/newvegas/mods/63091')
    //-     +modInfo
    //-         +author Ladez
    //-         +version 2.0
    //-         +installation Install #[+file('Better Pickup Prompt')]

    //-
        Enhanced Item Info - Extra UI HUD
        Updated 2019-04-02
    //-
    //- #enhanced-item-info
    //-     +name('Enhanced Item Info - Extra UI HUD', 'https://www.nexusmods.com/newvegas/mods/60534')
    //-     +modInfo
    //-         +author pintocat
    //-         +version 1.4.3
    //-         +installation
    //-             | Install #[+file('Enhanced Item Info 1-4-3')]

    //-
        JIP Minimap
        Updated 2019-04-03
    //-
    //- #jip-minimap
    //-     +name('JIP MiniMap', 'https://www.nexusmods.com/newvegas/mods/64596')
    //-     +modInfo
    //-         +author jazzisparris
    //-         +version 1.40
    //-         +installation Install #[+file('JIP MiniMap')]

    //-
        FPS Weapon Wheel
        Updated 2019-04-02
    //-
    //- #fps-weapon-wheel
    //-     +name('FPS Weapon Wheel', 'https://www.nexusmods.com/newvegas/mods/39997')
    //-     +modInfo
    //-         +author vivanto
    //-         +version 1.13
    //-         +installation Install #[+file('FPSWeaponWheel113')]

    //-
        Loot Menu
        Updated 2019-04-02
    //-
    //- #loot-menu
    //-     +name('Loot Menu', 'https://www.nexusmods.com/newvegas/mods/61723')
    //-     +modInfo
    //-         +author Gribbleshnibit8
    //-         +version 1.13
    //-         +installation Install #[+file('Loot Menu')]

    //-
        Weapon Wheel Plus Looting Menu for FNV
        Updated 2019-04-02
    //-
    //- #weapon-wheel-plus-looting
    //-     +name('Weapon Wheel Plus Looting Menu for FNV', 'https://www.nexusmods.com/newvegas/mods/65198')
    //-     +modInfo
    //-         +author samaelaunweor
    //-         +version 1.0
    //-         +installation Install #[+file('Weapon Wheel Plus Looting Menu for FNV')]
