#menus-ui
    h3.section-header Menus

    //-
        The Mod Configuration Menu
        Updated 2019-03-22
    //-
    #mcm
        +name('The Mod Configuration Menu', 'https://www.nexusmods.com/newvegas/mods/42507', 'fnv')
        +modInfo
            +author Pelinor
            +version 1.5
            +installation
                | Install #[+file('The Mod Configuration Menu')] main file, and the
                | #[+file('MCM BugFix 2')] update file
            +notes Allows any number of mods to be configured from a single menu.

    //-
        CASM with MCM
        Updated 2019-04-02
    //-
    #casm-with-mcm
        +name('CASM with MCM', 'https://www.nexusmods.com/newvegas/mods/45652', 'fnv')
        +modInfo
            +author Cipscis and Gribbleshnibit8
            +version 1.8
            +installation Install #[+file('CASM with MCM')]

    //-
        FOV Slider
        Updated 2019-04-04
    //-
    #fov-slider
        +name('FOV Slider', 'https://www.nexusmods.com/newvegas/mods/55085', 'fnv')
        +modInfo
            +author Roy Batty
            +version 2.7
            +installation Install #[+file('FOV Slider')]

    //-
        JIP Improved Recipe Menu
        Updated 2019-03-22
    //-
    #jip-improved-recipe-menu
        +name('JIP Improved Recipe Menu', 'https://www.nexusmods.com/newvegas/mods/59638', 'fnv')
        +modInfo
            +author jazzisparis
            +version 1.20
            +installation Install #[+file('JIP Improved Recipe Menu')]
            +notes This mod makes the crafting interface (Recipe Menu) easier, more efficient and less tedious to use.

    //-
        JIP Companions Command and Control
        Updated 2019-04-02
    //-
    #jip-ccc
        +name('JIP Companions Command and Control', 'https://www.nexusmods.com/newvegas/mods/50468', 'fnv')
        +modInfo
            +author jazzisparis
            +version 2.60
            +installation Install #[+file('JIP Companions Command and Control')]

    //-
        Pause Menu HD
        Updated 2019-04-02
    //-
    #pause-menu-hd
        +name('Pause Menu HD', 'https://www.nexusmods.com/newvegas/mods/63934', 'fnv')
        +modInfo
            +author pilamin
            +version 1.0
            +installation Install #[+file('Pause Menu HD - 2048')]

    //-
        The Weapon Mod Menu
        Updated 2019-04-02
    //-
    #weapon-mod-menu
        +name('The Weapon Mod Menu', 'https://www.nexusmods.com/newvegas/mods/44515', 'fnv')
        +modInfo
            +author Pelinor
            +version 1.2
            +installation Install #[+file('The Weapon Mod Menu')]
            +notes Opens up new features to the weapon modding interface used in game, so it is more intuitive.
