- sections.push(['#qol', 'Quality of Life'])

section#qol
    h2 Quality of Life

//- CASM with MCM
#casm-with-mcm
    +name('CASM with MCM', 'https://www.nexusmods.com/newvegas/mods/45652')
    +modInfo
        +author Cipscis and Gribbleshnibit8
        +version 1.8
        +installation Install #[+file('CASM with MCM')]
        +notes
            | Automatically creates full saves at configurable intervals and
            | replaces the quicksave system with an actually stable, non-save
            | corrupting version


//- Enhanced Camera
#enhanced-camera
    +name('Enhanced Camera', 'https://www.nexusmods.com/newvegas/mods/45652')
    +modInfo
        +author LogicDragon
        +version 1.4c
        +installation Install #[+file('Enhanced Camera 1.4c')]
        +notes
            | Enables a visible body and player shadows when in 
            | 1st person and changes 3rd person animations to 1st person


//- FOV Slider
#fov-slider
    +name('FOV Slider', 'https://www.nexusmods.com/newvegas/mods/55085')
    +modInfo
        +author Roy Batty
        +version 2.7
        +installation Install #[+file('FOV Slider')]
        +notes Adds an MCM menu with options for adjusting all types of FOV


//- Sortomatic
#sortomatic
    +name('Sortomatic', 'https://www.nexusmods.com/newvegas/mods/41142')
    +modInfo
        +author tunaisafish and Gribbleshnibit8
        +version 1.3
        +installation Install #[+file('Sortomatic_v1_3')]


//- Sortomatic Ingredient Loader
#sortomatic-ingredient
    +name('Sortomatic Ingredient Loader', 'https://www.nexusmods.com/newvegas/mods/65921')
    +modInfo
        +author pintocat
        +version 1.1
        +installation Install #[+file('Sortomatic Ingredient Loader 1-1')]


//- TTW DLC Sortomatic Homes
#sortomatic-homes
    +name('TTW DLC Sortomatic Homes', 'https://www.nexusmods.com/newvegas/mods/65988', 'ttw')
    +modInfo
        +author pintocat
        +version 1.0
        +installation Install #[+file('TTW DLC Sortomatic Homes 1-0')]


//- Universal Item Sorter
#universal-item-sorter
    +name('Universal Item Sorter', 'https://www.nexusmods.com/newvegas/mods/63867', 'fnv')
    +modInfo
        +author PushTheWinButton
        +version 1.06
        +installation Install #[+file('Universal Item Sorter')]
        +instructions
            | Right click on Vanilla UI Plus in the left pane of Mod Organizer
            | Select "Open In Explorer"
            |
            | Navigate to menus\prefabs\VUI+\
            | Open settings.xml in a text editor
            |
            | Change <_VUI+noMODSlabel> to 1
            | Save and exit
        +notes Adds configurable prefixes before items in the pip-boy menu