#sortomatic-ui
    h3 Sortomatic

    //-
        Sortomatic
        Updated 2019-04-02
    //-
    #sortomatic
        +name('Sortomatic', 'https://www.nexusmods.com/newvegas/mods/41142')
        +modInfo
            +author tunaisafish and Gribbleshnibit8
            +version 1.3
            +installation Install #[+file('Sortomatic_v1_3')]

    //-
        Sortomatic Ingredient Loader
        Updated 2019-04-02
    //-
    #sortomatic-ingredient
        +name('Sortomatic Ingredient Loader', 'https://www.nexusmods.com/newvegas/mods/65921')
        +modInfo
            +author pintocat
            +version 1.1
            +installation Install #[+file('Sortomatic Ingredient Loader 1-1')]

    //-
        TTW DLC Sortomatic Homes
        Updated 2019-04-02
    //-
    #sortomatic-homes
        +name('TTW DLC Sortomatic Homes', 'https://www.nexusmods.com/newvegas/mods/65988', 'ttw')
        +modInfo
            +author pintocat
            +version 1.0
            +installation Install #[+file('TTW DLC Sortomatic Homes 1-0')]
