- sections.push(['#ui', 'User Interface'])
- mods.push([])

section#ui
    h2.section-header User Interface

    include menus.pug
    include hud.pug
    include vanillaui.pug
    include sortomatic.pug
