extends ../layout/index.pug

block content
    - sections.push(['https://ttwoee.com', 'Guide'])
    - sections.push(['https://ttwoee.com/contact', 'Contact'])

    main#changelog
        h3 May 23, 2019
        +instructions
            | Added #[+link('instructions for xLODGen', 'https://ttwoee.com#generating-xlodgen')]
            | Fixed #[+link('NVR INI link coloring', 'https://ttwoee.com#nvr-ini')]
            | Added #[+link('Much Needed LOD', 'https://ttwoee.com#much-needed-lod')]
            | Added #[+link('Less Horrendous Vikki and Vance Casino LOD Mesh', 'https://ttwoee.com#less-horrendous-vikki-vance-casino')]
            | Added #[+link('LOD Additions and Improvements', 'https://ttwoee.com#lod-additions')]
            | Updated and changed #[+link('LOD section', 'https://ttwoee.com#lod')]
            | Fixed the name of #[+link('ENB Series', 'https://ttwoee.com#enboost')]
        h3 May 3, 2019
        +instructions
            | - Added #[+link('HQ Pre War and Burned Books', 'https://ttwoee.com#hq-pre-war-damaged-books')]
            | - Added #[+link('HD Caravan Table', 'https://ttwoee.com#hd-caravan-table')]
            | - Added #[+link('QuazarX DCInteriors HD textures', 'https://ttwoee.com#dc-interiors-hd')]
            | - Added #[+link('all QuazarX DLC Retextures', 'https://ttwoee.com#qzx-operation-anchorage')]
            | - Added #[+link('QuazarX NMC Improved and Bug Fixes', 'https://ttwoee.com#nmc-improved-bugfixes')]
            | - Added #[+link('ApateX Female Face Textures', 'https://ttwoee.com#apatex-female-face')]
            | - Switched to #[+link('NVR INI from Viva New Vegas', 'https://ttwoee.com#nvr-ini')]
            | - Added instructions for a Merge patch (#[+link('Thanks 1stbuildguy', 'https://www.reddit.com/r/ttwoee/comments/b7xiib/ttwoee_for_ttw_32_is_live/emfycpw')])
            | - Added credit for Viva New Vegas
            | - Updated #[+link('Robots HD Retexture link', 'https://ttwoee.com#robots-hd-retexture')] (#[+link('Thanks Madotan', 'https://www.reddit.com/r/ttwoee/comments/b7xiib/ttwoee_for_ttw_32_is_live/em4vri5')])
            | - Updated #[+link('NMC Textures Combined - TTW', 'https://ttwoee.com#nmc-ttw')] link to go to the forum post (#[+link('Thanks 1stbuildguy', 'https://www.reddit.com/r/ttwoee/comments/b7xiib/ttwoee_for_ttw_32_is_live/elupwe0')])
            | - Added notice to #[+link('NMC Textures Combined - TTW', 'https://ttwoee.com#nmc-ttw')] regarding account requirement (#[+link('Thanks 1stbuildguy', 'https://www.reddit.com/r/ttwoee/comments/b7xiib/ttwoee_for_ttw_32_is_live/elupwe0')])
            | - Removed Monofonto font
            | - Added #[+link('Contact page', 'https://ttwoee.com/contact')]
            | - Added #[+link('Changelog page', 'https://ttwoee.com/changelog')]

        h3 May 2, 2019
        +instructions
            | - Added service worker to cache page for offline availability

        h3 April 29, 2019
        +instructions
            | - Removed NVSR - New Vegas Stutter Remover
            | - Switched from NVR to #[+link('NVTF - New Vegas Tick Fix', 'https://ttwoee.com#nvtf')] (#[+link('Thanks Roy Batty', 'https://www.reddit.com/r/Taleoftwowastelands/comments/b8qlhl/tale_of_two_wastelands_overencumbered_edition/elwv00z')])


        h3 April 20, 2019
        +instructions
            | - Added #[+link('required FNVEdit scripts', 'https://ttwoee.com#zedit')] (#[+link('Thanks CheesusChrist15', 'https://www.reddit.com/r/ttwoee/comments/b7xiib/ttwoee_for_ttw_32_is_live/ek9yc00')])
            | - Clarified #[+link('FNVEdit Scripts instructions', 'https://ttwoee.com#zedit')] (#[+link('Thanks CheesusChrist15', 'https://www.reddit.com/r/ttwoee/comments/b7xiib/ttwoee_for_ttw_32_is_live/ek9yc00')])


        h3 April 19, 2019
        +instructions
            | - Removed HD Spoon and HD Fork (#[+link('Thanks rikaco', 'https://www.reddit.com/r/ttwoee/comments/b7xiib/ttwoee_for_ttw_32_is_live/ekrg6zq')])
