extends ../layout/index.pug

block content
    - sections.push(['https://ttwoee.com', 'Guide'])
    - sections.push(['https://ttwoee.com/changelog', 'Changelog'])

    main#contact
        form(name='contact' method='POST' data-netlify='true' netlify)
            p
                label Name:
                    input(type='text' name="name")
            
            p
                label Message:
                    textarea(name='message')
            p
                button(type='submit') Send
