extends ../layout/index.pug

block content
    - sections.push(['https://ttwoee.com', 'Guide'])
    - sections.push(['https://ttwoee.com/changelog', 'Changelog'])
    - sections.push(['https://ttwoee.com/contact', 'Contact'])
