//-
    ENB
//-

- sections.push(['#enb', 'ENB and NVR'])
- mods.push([])

section#enb
    h2 ENB and NVR

    +important This section is still being tested

    //- ENBoost
    - testing = true
    - modId = 'enboost'
    - modName = 'ENB Series'
    - modUrl = 'http://enbdev.com/mod_falloutnv_v0322.htm'
    - fileType = 'tool'
    - modAuthor = 'Boris Vorontsov'
    - modVersion = 'v0.322'
    - mainFiles = ['enbseries_falloutnv_v0322.zip']
    +mod
        +instructions
            | Open the archive and navigate into the "WrapperVersion" folder
            |
            | Copy the following into the root Fallout New Vegas folder:
            |
            | * d3d9.dll
            | * enbhost.exe


    //- FNV Large Texture Support - ENB Settings
    - testing = true
    - configFiles = true
    - modId = 'fnv-large-texture-support-enb'
    - modName = 'FNV Large Texture Support - ENB Settings'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66626'
    - modAuthor = 'DcCharge'
    - modVersion = '1.01'
    - mainFiles = ['Large Texture Support - Enb Boost - DLL Setup']
    +mod
        +instructions
            | Copy the following files into the root Fallout New Vegas directory:
            |
            | * enblocal.ini
            | * enbseries.ini

        +ini('Set VideoMemorySizeMb')
            | ; Pick your VideoMemorySizeMb from the following chart:
            |
            | ; Graphics Video Ram	VideoMemorySizeMb
            | ; ------------------	-----------------
            | ; 1 Gb			    1024
            | ; 2 Gb			    2048
            | ; 3 Gb			    3072
            | ; 4 Gb			    4096
            | ; 5 Gb			    5120
            | ; 6 Gb			    6144
            | ; 7 Gb			    7168
            | ; 8 Gb			    8192
            | ; 9 Gb			    9216
            | ; 10 Gb			    10240
            |
            | ; Use the value you selected in place of 8192
            | [MEMORY]:
            | VideoMemorySizeMb=8192

        +ini('Disable SpeedHack for NVR')
            | [PERFORMANCE]
            | SpeedHack=false


    //- NVR - New Vegas Reloaded
    - testing = true
    - configFiles = true
    - modId = 'nvr'
    - modName = 'NVR - New Vegas Reloaded'
    - modUrl = 'http://tesreloaded.com/thread/494/package'
    - fileType = 'fnv'
    - modAuthor = 'Alenet, Timeslip, Scanti, ShadeMe, Ethatron'
    - modVersion = '1.3.0'
    - mainFiles = ['NVR v1.3.0']
    +mod
        +instructions
            | Navigate to the Fallout New Vegas root directory
            |
            | Rename: binkw32.dll -> binkw32_backup.dll
            |
            | Copy the binkw32.dll from the archive into the Fallout New Vegas directory
        +mispack
            | Right click "Data"


    //- NVR Ini
    - testing = true
    - configFiles = true
    - modId = 'nvr-ini'
    - modName = 'NVR Ini'
    - modUrl = 'http://www.mediafire.com/file/lupdklcfd35wwdn/NVGE_INI.7z/file'
    - modAuthor = 'Qolore7'
    - fileType = 'fnv'
    - downloadFiles = ['NVGE INI.7z']
    +mod
        +notes
            | Disables all the effects so it is just the updated shaders and memory management so you can tweak it how you like.
            | This is from the #[+link('Viva New Vegas guide', 'https://hackmd.io/s/B1YgI2Ds7')] by Qolore7.
