include includes/mixins/mixins.pug

- let sections = []
- let mods = []
- let navMods = []
- let nav = []
- let mod
- let id

doctype html
html(lang="en")

    include includes/layout/head.pug

    body

        include includes/layout/github.pug

        main#guide
            +important
                | This guide is in transition to TTW version 3.2. It is in a state of heavy
                | development. Please report any problems on the
                | #[a(href='https://forum.step-project.com/topic/8447-tale-of-two-wastelands-over-encumbered-edition') TTWOEE forum post],
                | on the #[+link('TTWOEE subreddit', 'https://reddit.com/r/ttwoee')], or on the #[+link('TTWOEE GitHub', 'https://github.com/themagicteeth/ttwoee')]
                | Many mods have not yet been converted for the new version of TTW, therfore they are not
                | included in this guide. It should be playable in it's current state, but no gaurantees are
                | provided.

            h1.section-header Tale of Two Wastelands: Over-Encumbered Edition

            include includes/setup/introduction.pug
            include includes/setup/tools.pug
            include includes/setup/setup.pug
            include includes/setup/modorganizer.pug
            include includes/setup/ttw.pug
            include includes/setup/cleaning-esms.pug
            //- include includes/setup/optimized-textures.pug
            include includes/setup/initweaks.pug
            include includes/enb.pug
            include includes/fixes-and-extensions.pug
            include includes/projectnevada.pug
            include includes/ui.pug
            include includes/physics.pug
            include includes/cut-content.pug
            include includes/location.pug
            include includes/quests.pug
            include includes/textures.pug
            include includes/environment.pug
            include includes/creatures.pug
            include includes/npcs.pug
            include includes/armor.pug
            include includes/weapons.pug
            include includes/effects.pug
            include includes/lighting.pug
            include includes/gameplay.pug
            include includes/annoyances.pug
            include includes/lodgen.pug
            include includes/bashtags.pug
            include includes/runloot.pug

        include includes/layout/nav.pug
        link(rel='stylesheet' type='text/css' href='style.css')
