include mixins.pug

doctype html
html(lang="en")
    include includes/head.pug
    body
        h1.section-header Tale of Two Wastelands: Over-Encumbered Edition

        include includes/introduction.pug
        include includes/tools.pug
        include includes/setup.pug
        include includes/optimized-textures.pug
        include includes/initweaks.pug
        include includes/fixes-and-extensions.pug
        include includes/ui.pug
        include includes/physics.pug
        include includes/cut-content.pug
        include includes/location.pug
        include includes/quests.pug
        include includes/textures.pug
        include includes/environment.pug
        include includes/creatures.pug
        include includes/npcs.pug
        include includes/armor.pug
        include includes/weapons.pug
        include includes/effects.pug
        include includes/lighting.pug
        include includes/gameplay.pug