//-
    Annoyances
    Updated 2019-03-31
//-

- sections.push(['#annoyances', 'Annoyances'])
- mods.push([])

section#annoyances
    h2.section-header Annoyances

    #ttw-comment-removal
        +name('TTW Comment Removal Mod (Clumsy, Locks, Sneak)', 'https://drive.google.com/file/d/1NBiMZonFNPvD0yvYarS_eULsIYyghvSH/view?usp=sharing', 'ttw')
        +modInfo
            +author frootzcat
            +installation Install #[+file('CommentTTW.rar')]

    #delay-dlc
        +name('Delay DLC TTW', 'https://www.nexusmods.com/newvegas/mods/66690', 'ttw')
        +modInfo
            +author Gribbleshnibit8
            +version 1.0
            +installation Install #[+file('Delay DLC 1.0 - TTW 3.2')]

    #delay-level-up
        +name('Delay Level Up', 'https://www.nexusmods.com/newvegas/mods/62921', 'fnv')
        +modInfo
            +author Ladez
            +version 3.5
            +installation Install #[+file('Delay Level Up')]


    #faster-sleep-wait
        +name('Faster Sleep Wait', 'https://www.nexusmods.com/newvegas/mods/64708', 'fnv')
        +modInfo
            +author Roy Batty
            +version 1.1
            +installation Install #[+file('FSW')]

    #disable-xp-popup
        +name('Disable XP Popup', 'https://www.nexusmods.com/newvegas/mods/65963', 'fnv')
        +modInfo
            +author lStewieAl
            +version 1.0
            +installation Install #[+file('Disable XP Popup')]

    #disable-karma-popup
        +name('Disable Karma Popup', 'https://www.nexusmods.com/newvegas/mods/66016', 'fnv')
        +modInfo
            +author lStewieAl
            +version 1.0
            +installation Install #[+file('Disable Karma Popup')]

    #no-cripple-message
        +name('No Cripple-Critical Messages ', 'https://www.nexusmods.com/newvegas/mods/65955', 'fnv')
        +modInfo
            +author lStewieAl
            +version 1.0
            +installation Install #[+file('Disable Cripple-Critical Messages')]

    #no-grabbing-npc-owned-items
        +name('No Grabbing of NPC Owned Items', 'https://www.nexusmods.com/newvegas/mods/63337', 'fnv')
        +modInfo
            +author xQd
            +version 2.1
            +installation Install #[+file('No Grabbing of NPC Owned Items 2.1')]
            +notes You cannot grab items that you don't own.

    #tutorial-killer
        +name('Tutorial Killer', 'https://www.nexusmods.com/newvegas/mods/47746', 'fnv')
        +modInfo
            +author pintocat, Roy Batty
            +version 1.52
            +installation Install #[+file('Tutorial Killer - Scripted version')]
