//-
    Armor
    Updated 2019-03-22
    themagicteeth
//-

section#armor
    h2.section-header Armor

    //-
        aMidianBorn NV Book of Water - Book of Steel
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    +modCard('book-of-steel', 'aMidianBorn NV Book of Water - Book of Steel', 'https://www.nexusmods.com/newvegas/mods/39873', 'fnv-color')
        +author CaBaL
        +version omni2
        +installation Install nov 2011 book of steel
            pre.raised
                | TODO - Optional esp "boa ncrpahelmet.esp" and "Boacombat2glove.esp"

    //-
        Bornagain Combat Armor FO3
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    +modCard('bornagain-combat-armor-fo3', 'Bornagain Combat Armor', 'https://www.nexusmods.com/fallout3/mods/18220', 'fo3-color')
        +author EmeraldReign and Cabal
        +version 1.01
        +installation
            | Install BornagainCombatArmor4096 main file, BornagainCombatArmor4096EnvironmentMaps update file, and BornagainAnchorageCombatArmor2048,
            | BornagainGhoulCombatArmor4096, and BornagainZetaCombatArmor4096 update files
            pre.raised
                | TODO - Optional esp "Bornagain Zeta Combat Armor Texture Patch.esp"

    //-
        Bornagain Combat Armor FNV
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    +modCard('bornagain-combat-armor-fnv', 'Bornagain Combat Armor', 'https://www.nexusmods.com/newvegas/mods/48068', 'fnv-color')
        +author EmeraldReign and Cabal
        +version 1.0
        +installation Install BornagainFNVCombatArmor4096 main file and BornagainFNVCombatArmorLonesomeRoad4096 optional file

    //-
        Bornagain FO3 T45d Power Armor
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    +modCard('bornagain-fo3-t45d-power-armor', 'Bornagain FO3 T45d Power Armor', 'https://www.nexusmods.com/fallout3/mods/16882', 'fo3-color')
        +author Cabal
        +version v3
        +installation Install bornagain fo3 t45d 4096 huge v3 fixed

    //-
        Bornagain Outcast T-45d Power Armor
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    +modCard('bornagain-outcast-t45d-power-armor', 'Bornagain Outcast T-45d Power Armor', 'https://www.nexusmods.com/fallout3/mods/18221', 'fo3-color')
        +author Cabal, EmeraldReign
        +version 1.0
        +installation Install BornagainOutcastT45d4096
            pre.raised
                | TODO - Optional esp "Bornagain Outcast T-45d Texture Patch.esp"

    //-
        Bornagain FO3 Outcast
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    +modCard('bornagain-fo3-outcast', 'Bornagain FO3 Outcast', 'https://www.nexusmods.com/fallout3/mods/16199', 'fo3-color')
        +author Cabal
        +installation Install Bornagain Fo3 outcast MAIN and helmet fix

    //-
        Enclave Power Armors Retextured
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    +modCard('enclave-power-armors-retextured', 'Enclave Power Armors Retextured', 'https://www.nexusmods.com/fallout3/mods/18370', 'fo3-color')
        +author d_seven aka id2301
        +version 1
        +installation Install EPA, Hellfire, and Tesla

    //-
        Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    +modCard('book-of-steel-compatibility-edition', 'Book of Steel - Compatibility Edition', 'https://www.nexusmods.com/newvegas/mods/60666', 'ttw-color')
        +author Darthbdaman
        +version 2.1.0
        +installation Install Book of Steel - Compatibility Edition main file, and Tale of Two Wastelands optional file
        +notes
            | A patch for Cabal's aMidianBorn Book of Steel textures, to make them compatible with TTW. the original ESP's made
            | very strange edits to the game, that caused incompatibilities, which were unnecessary for a texture mod. All of 
            | these have been removed, and the only changes are made to make the armors display correctly.

    //-
        Tribal DX
        Updated 2019-03-22
    //-
    +modCard('tribal-dx', 'Tribal DX', 'https://www.nexusmods.com/fallout3/mods/6520', 'fo3-color')
        +author Weijiesen
        +installation Install Tribal DX - 4096 res -
            pre.raised
                | TODO - Optional esp "Tribal_DX.esp"
        +notes A high res and much better Tribal armor with more details.

    //-
        Mono's Updated ADAM Package
        Updated 2019-03-22
    //-
    +modCard('adam', "Mono's Updated ADAM Package", 'https://www.nexusmods.com/newvegas/mods/61390', 'fnv-color')
        +author MonoAccipiter, EssArrBee and darthbdaman
        +version 4.5.1
        +installation Install ADAM All-in-one Installer 4.5.1
            pre.raised
                | During install:
                | Select "Complete Version"
                | Then select "No" for NCR Trooper module
        +notes 
            | The original versions have ridiculous package structure that makes installation difficult. 
            | Pretty much the go-to overhaul for the game's most iconic equipment. The linked version includes
            | improvements upon AI99's updated version and a FOMOD installer.

    //-
        ALR - Aptoms Legion Retextured
        Updated 2019-03-22
    //-
    +modCard('aptoms-legion-retextured', 'ALR - Aptoms Legion Retextured', 'https://www.nexusmods.com/newvegas/mods/44248', 'fnv-color')
        +author sukayoupt aka Aptom
        +version 1.1
        +installation Install ALR v1_1
        +notes Better gear for Legion.

    //-
        NCR Civilian Clothing
        Updated 2019-03-22
    //-
    +modCard('ncr-civilian-clothing', 'NCR Civilian Clothing', 'https://www.nexusmods.com/newvegas/mods/49675', 'fnv-color')
        +author Darziak
        +version 1.0
        +installation Install NCR Civilian Clothing
        +notes Makes nice tweaks to the NCR clothing and brings a bit of color to the their wardrobe.

    //-
        NCR Trooper Overhaul_beta
        Updated 2019-03-22
    //-
    +modCard('ncr-trooper-overhaul', 'NCR Trooper Overhaul_beta', 'https://www.nexusmods.com/newvegas/mods/52721', 'fnv-color')
        +author Emerald Reign, nekronom, cabal, wjs, dragbody
        +version beta
        +installation Install Main File Beta 7_2 main file and Sapper Leg Fix update file
            pre.raised
                | TODO - Optional esp "NCRTrooperOverhaul.esp"
        +notes This is much like ADAM except that it covers the NCR troopers.

    //-
        NCR Trooper Overhaul - Distributed
        Updated 2019-03-22
    //-
    +modCard('ncr-trooper-overhaul-distributed', 'NCR Trooper Overhaul - Distributed', 'https://www.nexusmods.com/newvegas/mods/54978', 'fnv-color')
        +author pwinkle
        +version 1.0
        +installation Install Trooper Overhaul Main File
        +notes This mod takes the added trooper models and textures from NCR Trooper Overhaul and distributes them across the wasteland.

    //-
        Realistic Pip-Boy Retexture
        Updated 2019-03-22
    //-
    +modCard('realistic-pip-boy', 'Realistic Pip-Boy Retexture', 'https://www.nexusmods.com/fallout3/mods/22065', 'fo3-color')
        +author Numb Squirrel
        +version 1.0
        +installation Install Numb Squirrel Pip-Boy 4k Uncompressed

    //-
        Pimpboy
        Updated 2019-03-22
    //-
    +modCard('pimpboy', 'Pimpboy', 'https://www.nexusmods.com/newvegas/mods/60629', 'fnv-color')
        +author weijiesen
        +version 1.0
        +installation Install Pimpboy - Opal - default

    //-
        The Legacy of X13 - An Armor Overhaul
        Updated 2019-03-22
    //-
    +modCard('legacy-of-x13', 'The Legacy of X13 - An Armor Overhaul', 'https://www.nexusmods.com/newvegas/mods/42911', 'fnv-color')
        +author Emerald Reign
        +installation 
        +notes An armour overhaul project for the Assassin Suit from Dead Money and Stealth Suit from Old World Blues.

    //-
        Wasteland clothing Hires retexture
        Updated 2019-03-22
    //-
    +modCard('wasteland-clothing-retexture', 'Wasteland clothing Hires retexture', 'https://www.nexusmods.com/newvegas/mods/54478', 'fnv-color')
        +author Macintroll
        +version 1.3A
        +installation Install Wasteland Clothing HD V1-3 FULL PACK main file, and Wasteland Clothing HD V1-3 POWDERGANG FIX -IMPORTANT- update file
            pre.raised
                | TO DO - Packaged incorrectly
        +notes High res retexture of the clothing from the Mojave.

    //-
        HR Armored Vault 13 Jumpsuit
        Updated 2019-03-22
    //-
    +modCard('hr-armored-vault-13-jumpsuit', 'HR Armored Vault 13 Jumpsuit', 'https://www.nexusmods.com/newvegas/mods/62642', 'fnv-color')
        +author Ellise Decer aka Asurah
        +version 1.0
        +installation Install HR Armored Vault 13 Jumpsuit_2k

    //-
        HR Armored Vault 101 Jumpsuit
        Updated 2019-03-22
    //-
    +modCard('hr-armored-vault-101-jumpsuit', 'HR Armored Vault 101 Jumpsuit', 'https://www.nexusmods.com/fallout3/mods/21887', 'fo3-color')
        +author Ellise
        +version 1.0
        +installation Install HR Armored Vault 101 Jumpsuit_4k