//-
    Armor
    Updated 2019-03-22
    themagicteeth
//-

- let armor = []
- sections.push(['#armor', 'Armor'])
- mods.push([])

section#armor
    h2.section-header Armor

    h3.section-header Book of Steel
    //-
        aMidianBorn NV Book of Water - Book of Steel
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    - armor.push(['#book-of-steel', 'aMidianBorn NV Book of Water - Book of Steel'])
    +modCard('book-of-steel', 'aMidianBorn NV Book of Water - Book of Steel', 'https://www.nexusmods.com/newvegas/mods/39873', 'fnv-color')
        +author CaBaL
        +version omni2
        +installation Install #[+file('nov 2011 book of steel')]
        +optional 
            | Double click aMidianBorn NV Book of Water - Book of Steel in the left pane
            | Go to the [Optional ESPs] tab.
            | Move to "boa ncrpahelmet.esp" and "Boacombat2glove.esp" to the "Optional ESPs" box.
        +notes All of Cabals armor retextures

    //-
        Bornagain Combat Armor FO3
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    - armor.push(['#bornagain-combat-armor-fo3', 'Bornagain Combat Armor FO3'])
    +modCard('bornagain-combat-armor-fo3', 'Bornagain Combat Armor', 'https://www.nexusmods.com/fallout3/mods/18220', 'fo3-color')
        +author EmeraldReign and Cabal
        +version 1.01
        +installation
            | Install #[+file('BornagainCombatArmor4096')] main file, #[+file('BornagainCombatArmor4096EnvironmentMaps')]
            | update file, and #[+file('BornagainAnchorageCombatArmor2048')],
            | #[+file('BornagainGhoulCombatArmor4096')], and #[+file('BornagainZetaCombatArmor4096')] update files
        +optional 
            | Double click Bornagain Combat Armor in the left pane
            | Go to the [Optional ESPs] tab.
            | Move "Bornagain Zeta Combat Armor Texture Patch.esp" to the "Optional ESPs" box.
        +notes Combat armor high res replacer for all Fallout 3 default game combat armors

    //-
        Bornagain Combat Armor FNV
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    - armor.push(['#bornagain-combat-armor-fnv', 'Bornagain Combat Armor FNV'])
    +modCard('bornagain-combat-armor-fnv', 'Bornagain Combat Armor', 'https://www.nexusmods.com/newvegas/mods/48068', 'fnv-color')
        +author EmeraldReign and Cabal
        +version 1.0
        +installation 
            | Install #[+file('BornagainFNVCombatArmor4096')] main file and 
            | #[+file('BornagainFNVCombatArmorLonesomeRoad4096')] optional file
        +notes Combat armor high res replacer for all New Vegas default game combat armors

    //-
        Bornagain FO3 T45d Power Armor
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    - armor.push(['#bornagain-fo3-t45d-power-armor', 'Bornagain FO3 T45d Power Armor'])
    +modCard('bornagain-fo3-t45d-power-armor', 'Bornagain FO3 T45d Power Armor', 'https://www.nexusmods.com/fallout3/mods/16882', 'fo3-color')
        +author Cabal
        +version v3
        +installation Install #[+file('bornagain fo3 t45d 4096 huge v3 fixed')]
        +notes T45d PA replacer, full textures with environment and glow maps made from scratch 

    //-
        Bornagain Outcast T-45d Power Armor
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    - armor.push(['#bornagain-outcast-t45d-power-armor', 'Bornagain Outcast T-45d Power Armor'])
    +modCard('bornagain-outcast-t45d-power-armor', 'Bornagain Outcast T-45d Power Armor', 'https://www.nexusmods.com/fallout3/mods/18221', 'fo3-color')
        +author Cabal, EmeraldReign
        +version 1.0
        +installation Install #[+file('BornagainOutcastT45d4096')]
        +optional 
            | Double click Bornagain Outcast T-45d Power Armor in the left pane
            | Go to the [Optional ESPs] tab.
            | Move "Bornagain Outcast T-45d Texture Patch.esp" to the "Optional ESPs" box.
        +notes High res replacer for the Outcast T-45d

    //-
        Bornagain FO3 Outcast
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    - armor.push(['#bornagain-fo3-outcast', 'Bornagain FO3 Outcast'])
    +modCard('bornagain-fo3-outcast', 'Bornagain FO3 Outcast', 'https://www.nexusmods.com/fallout3/mods/16199', 'fo3-color')
        +author Cabal
        +installation Install #[+file('Bornagain Fo3 outcast MAIN')] and #[+file('helmet fix')]
        +optional 
            | Double click Bornagain FO3 Outcast in the left pane
            | Go to the [Optional ESPs] tab.
            | Move "BornAgain Outcast v3.esp" to the "Optional ESPs" box.
        +notes Replaces outcast armor textures for Fallout 3

    //-
        Enclave Power Armors Retextured
            - Required for Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    - armor.push(['#enclave-power-armors-retextured', 'Enclave Power Armors Retextured'])
    +modCard('enclave-power-armors-retextured', 'Enclave Power Armors Retextured', 'https://www.nexusmods.com/fallout3/mods/18370', 'fo3-color')
        +author d_seven aka id2301
        +version 1
        +installation Install #[+file('EPA')], #[+file('Hellfire')], and #[+file('Tesla')]
        +optional 
            | Double click Enclave Power Armors Retextured in the left pane
            | Go to the [Optional ESPs] tab.
            | Move "teslaPA -retextured.esp" to the "Optional ESPs" box.
        +notes Enclave PA + Hellfire PA retextured
    //-
        Book of Steel - Compatibility Edition
        Updated 2019-03-22
    //-
    - armor.push(['#book-of-steel-compatibility-edition', 'Book of Steel - Compatibility Edition'])
    +modCard('book-of-steel-compatibility-edition', 'Book of Steel - Compatibility Edition', 'https://www.nexusmods.com/newvegas/mods/60666', 'ttw-color')
        +author Darthbdaman
        +version 2.1.0
        +installation 
            | Install #[+file('Book of Steel - Compatibility Edition')]
            | main file, and #[+file('Tale of Two Wastelands')] optional file
        +notes
            | A patch for Cabal's aMidianBorn Book of Steel textures, to make them compatible with TTW. the original ESP's made
            | very strange edits to the game, that caused incompatibilities, which were unnecessary for a texture mod. All of 
            | these have been removed, and the only changes are made to make the armors display correctly.

    h3.section-header Other Armors
    //-
        Tribal DX
        Updated 2019-03-22
    //-
    - armor.push(['#tribal-dx', 'Tribal DX'])
    +modCard('tribal-dx', 'Tribal DX', 'https://www.nexusmods.com/fallout3/mods/6520', 'fo3-color')
        +author Weijiesen
        +installation Install #[+file('Tribal DX - 4096 res -')]
        +optional 
            | Double click Tribal DX in the left pane
            | Go to the [Optional ESPs] tab.
            | Move "Tribal_DX.esp" to the "Optional ESPs" box.
        +notes A high res and much better Tribal armor with more details.

    //-
        Mono's Updated ADAM Package
        Updated 2019-03-22
    //-
    - armor.push(['#adam', "Mono's Updated ADAM Package"])
    +modCard('adam', "Mono's Updated ADAM Package", 'https://www.nexusmods.com/newvegas/mods/61390', 'fnv-color')
        +author MonoAccipiter, EssArrBee and darthbdaman
        +version 4.5.1
        +installation Install #[+file('ADAM All-in-one Installer 4.5.1')]
        +instructions
            | During install:
            | Select "Complete Version"
            | Then select "No" for NCR Trooper module
        +notes 
            | The original versions have ridiculous package structure that makes installation difficult. 
            | Pretty much the go-to overhaul for the game's most iconic equipment. The linked version includes
            | improvements upon AI99's updated version and a FOMOD installer.

    //-
        ALR - Aptoms Legion Retextured
        Updated 2019-03-22
    //-
    - armor.push(['#aptoms-legion-retextured', 'ALR - Aptoms Legion Retextured'])
    +modCard('aptoms-legion-retextured', 'ALR - Aptoms Legion Retextured', 'https://www.nexusmods.com/newvegas/mods/44248', 'fnv-color')
        +author sukayoupt aka Aptom
        +version 1.1
        +installation Install #[+file('ALR v1_1')]
        +notes Better gear for Legion.

    //-
        NCR Civilian Clothing
        Updated 2019-03-22
    //-
    - armor.push(['#ncr-civilian-clothing', 'NCR Civilian Clothing'])
    +modCard('ncr-civilian-clothing', 'NCR Civilian Clothing', 'https://www.nexusmods.com/newvegas/mods/49675', 'fnv-color')
        +author Darziak
        +version 1.0
        +installation Install #[+file('NCR Civilian Clothing')]
        +notes Makes nice tweaks to the NCR clothing and brings a bit of color to the their wardrobe.

    //-
        NCR Trooper Overhaul_beta
        Updated 2019-03-22
    //-
    - armor.push(['#ncr-trooper-overhaul', 'NCR Trooper Overhaul_beta'])
    +modCard('ncr-trooper-overhaul', 'NCR Trooper Overhaul_beta', 'https://www.nexusmods.com/newvegas/mods/52721', 'fnv-color')
        +author Emerald Reign, nekronom, cabal, wjs, dragbody
        +version beta
        +installation Install #[+file('Main File Beta 7_2')] main file and #[+file('Sapper Leg Fix')] update file
        +optional 
            | Double click NCR Trooper Overhaul in the left pane
            | Go to the [Optional ESPs] tab.
            | Move "NCRTrooperOverhaul.esp" to the "Optional ESPs" box.
        +notes This is much like ADAM except that it covers the NCR troopers.

    //-
        NCR Trooper Overhaul - Distributed
        Updated 2019-03-22
    //-
    - armor.push(['#ncr-trooper-overhaul-distributed', 'NCR Trooper Overhaul - Distributed'])
    +modCard('ncr-trooper-overhaul-distributed', 'NCR Trooper Overhaul - Distributed', 'https://www.nexusmods.com/newvegas/mods/54978', 'fnv-color')
        +author pwinkle
        +version 1.0
        +installation Install #[+file('Trooper Overhaul Main File')]
        +notes This mod takes the added trooper models and textures from NCR Trooper Overhaul and distributes them across the wasteland.

    //-
        Realistic Pip-Boy Retexture
        Updated 2019-03-22
    //-
    - armor.push(['#realistic-pip-boy', 'Realistic Pip-Boy Retexture'])
    +modCard('realistic-pip-boy', 'Realistic Pip-Boy Retexture', 'https://www.nexusmods.com/fallout3/mods/22065', 'fo3-color')
        +author Numb Squirrel
        +version 1.0
        +installation Install #[+file('Numb Squirrel Pip-Boy 4k Uncompressed')]

    //-
        Pimpboy
        Updated 2019-03-22
    //-
    - armor.push(['#pimpboy', 'Pimpboy'])
    +modCard('pimpboy', 'Pimpboy', 'https://www.nexusmods.com/newvegas/mods/60629', 'fnv-color')
        +author weijiesen
        +version 1.0
        +installation Install #[+file('Pimpboy - Opal - default')]

    //-
        The Legacy of X13 - An Armor Overhaul
        Updated 2019-03-22
    //-
    - armor.push(['#legacy-of-x13', 'The Legacy of X13 - An Armor Overhaul'])
    +modCard('legacy-of-x13', 'The Legacy of X13 - An Armor Overhaul', 'https://www.nexusmods.com/newvegas/mods/42911', 'fnv-color')
        +author Emerald Reign
        +notes An armour overhaul project for the Assassin Suit from Dead Money and Stealth Suit from Old World Blues.

    //-
        Wasteland clothing Hires retexture
        Updated 2019-03-22
    //-
    - armor.push(['#wasteland-clothing-retexture', 'Wasteland clothing Hires retexture'])
    +modCard('wasteland-clothing-retexture', 'Wasteland clothing Hires retexture', 'https://www.nexusmods.com/newvegas/mods/54478', 'fnv-color')
        +author Macintroll
        +version 1.3A
        +installation 
            | Install #[+file('Wasteland Clothing HD V1-3 FULL PACK')]
            | main file, and #[+file('Wasteland Clothing HD V1-3 POWDERGANG FIX -IMPORTANT-')] update file
            +mispackaged
                | This mod is packaged incorrectly
        +notes High res retexture of the clothing from the Mojave.

    //-
        HR Armored Vault 13 Jumpsuit
        Updated 2019-03-22
    //-
    - armor.push(['#hr-armored-vault-13-jumpsuit', 'HR Armored Vault 13 Jumpsuit'])
    +modCard('hr-armored-vault-13-jumpsuit', 'HR Armored Vault 13 Jumpsuit', 'https://www.nexusmods.com/newvegas/mods/62642', 'fnv-color')
        +author Ellise Decer aka Asurah
        +version 1.0
        +installation Install #[+file('HR Armored Vault 13 Jumpsuit_2k')]

    //-
        HR Armored Vault 101 Jumpsuit
        Updated 2019-03-22
    //-
    - armor.push(['#hr-armored-vault-101-jumpsuit', 'HR Armored Vault 101 Jumpsuit'])
    +modCard('hr-armored-vault-101-jumpsuit', 'HR Armored Vault 101 Jumpsuit', 'https://www.nexusmods.com/fallout3/mods/21887', 'fo3-color')
        +author Ellise
        +version 1.0
        +installation Install #[+file('HR Armored Vault 101 Jumpsuit_4k')]