//-
    Creatures
    Updated 2019-03-22
    themagicteeth
//-

section#creatures
    h2.section-header Creatures

    //-
        It's a Dogs World - Dog Texture Overhaul
        Updated 2019-03-22
    //-
    +modCard('its-a-dogs-world',"It's a Dogs World - Dog Texture Overhaul",'https://www.nexusmods.com/newvegas/mods/59020','fnv-color')
        +author Nivea
        +version 1.0
        +installation Install DogsWorldTextureOverhaul_Large_V1_0
        +notes This mod provides higher res, and much higher detailed textures for the Normal dog, Rex, and the Cyber dog's from Old World Blues. 

    //-
        Eyebot Retextured
        Updated 2019-03-22
    //-
    +modCard('eyebot-retextured', 'Eyebot Retextured', 'https://www.nexusmods.com/fallout3/mods/22564', 'fo3-color')
        +author d7 aka id2301
        +version 1
        +installation Install EYEBOT Retextured

    //-
        Fawkes Retexture Hi-Res
        Updated 2019-03-22
    //-
    +modCard('fawkes-retexture', 'Fawkes Retexture Hi-Res', 'https://www.nexusmods.com/fallout3/mods/8721', 'fo3-color')
        +author Macintroll
        +installation Install FAWLKES Re-Texture
        +notes We just want this for the clothes

    //-
        FO3 Hirezd - Supermutants
        Updated 2019-03-22
    //-
    +modCard('fo3-hirezd-supermutants', 'FO3 Hirezd - Supermutants', 'https://www.nexusmods.com/fallout3/mods/19931', 'fo3-color')
        +author Emerald Reign
        +version 1.0
        +installation Install Supermutants main file, and Supermutant - 4k Fawkes optional file
        +notes 2k Skin textures for Supermutants and Overlords, 4k for Behemoth, plus 4k for Fawkes

    //-
        SentryTurret Retextured
        Updated 2019-03-22
    //-
    +modCard('sentryturret-retextured', 'SentryTurret Retextured', 'https://www.nexusmods.com/fallout3/mods/23034', 'fo3-color')
        +author d7 aka id2301 
        +version 1
        +installation Install d7_sentryTurret_retextured
        +notes New normals, spec, glow and diffuse maps. Also cube maps.

    //-
        Swampfolk Backwater Retexture
        Updated 2019-03-22
    //-
    +modCard('swampfolk-backwater-retexture', 'Swampfolk Backwater Retexture', 'https://www.nexusmods.com/fallout3/mods/18894', 'fo3-color')
        +author Deathclaw Alpha
        +version 1
        +installation Install Backwater Retexture
        +notes The Swampfolk are inbred, disease-ridden characters who haven't bathed in, like, twenty years. Well, they are now.

    //-
        Robot Revolution HD - Protectron
        Updated 2019-03-22
    //-
    +modCard('robot-revolution-protectron', 'Robot Revolution HD - Protectron', 'https://www.nexusmods.com/fallout3/mods/18902', 'fo3-color')
        +author OpenSaucer
        +version 1.1
        +installation Install Robot Revolution - Protectron HD Re-texture
        +notes Did you ever think the robots in D.C needed a face lift? This is for you. Actually, this is for you no matter what! 

    //-
        Vandr HD Creatures
        Updated 2019-03-22
    //-
    +modCard('vandr-hd-creatures', 'Vandr HD Creatures', 'https://www.nexusmods.com/fallout3/mods/18500', 'fo3-color')
        +author Vandrerer
        +version 1.0
        +installation Install Vandr HD Creatures
            pre.raised
                | This mod is packaged incorrectly
                | Right click "data" and select [Set Data Directory] and click OK
        +notes Retexture of creatures with totally new bump-maps and sharpened mip maps! 

    //-
        aMidianBorn Book Of Water - Book of Flesh
        Updated 2019-03-22
    //-
    +modCard('book-of-flesh', 'aMidianBorn Book Of Water - Book of Flesh', 'https://www.nexusmods.com/newvegas/mods/39873', 'fnv-color')
        +author CaBaL
        +installation Install BOA NV The Book Of Flesh

    //-
        FeralGhouls Hires Retexture
        Updated 2019-03-22
    //-
    +modCard('feralghouls-hires-retexture', 'FeralGhouls Hires Retexture', 'https://www.nexusmods.com/newvegas/mods/53960', 'fnv-color')
        +author Macintroll
        +version 1.0
        +installation Install Feral Ghould HD
            pre.raised
                | This mod is packaged incorrectly
                | Expand "FeralGhoulsHD"
                | Right click "data" and select [Set Data Directory] and click OK

    //-
        Super Mutant Mesh Replacer
        Updated 2019-03-22
    //-
    +modCard('super-mutant-mesh-replacer', 'Super Mutant Mesh Replacer', 'https://mega.nz/#!9cQXGbQS!GdWRCNZtmEWl_8RSouF70dD8MIQGrWIsFax6mtIRzM0', 'fnv-color')
        +author TheNeglected
        +version 1.3