//-
    Creatures
    Updated 2019-03-22
    themagicteeth
//-

- sections.push(['#creatures', 'Creatures'])
- let creatures = []

section#creatures
    h2.section-header Creatures

    +modCard('improved-robots', 'Improved Robots Textures', 'https://www.nexusmods.com/newvegas/mods/56759', 'fnv-color')
        +author Tau34RUS
        +version 1.0.1
        +installation 
            | Install #[span.file Improved Main Robots Textures], #[span.file Improved OWB Robot Textures],
            | and #[span.file Improved LR Robot Textures]

    //-
        It's a Dogs World - Dog Texture Overhaul
        Updated 2019-03-22
    //-
    - creatures.push(['#its-a-dogs-world', "It's a Dogs World - Dog Texture Overhaul"])
    +modCard('its-a-dogs-world', "It's a Dogs World - Dog Texture Overhaul",'https://www.nexusmods.com/newvegas/mods/59020','fnv-color')
        +author Nivea
        +version 1.0
        +installation Install #[span.file DogsWorldTextureOverhaul_Large_V1_0]
        +notes 
            | This mod provides higher res, and much higher detailed textures for the Normal dog, 
            | Rex, and the Cyber dog's from Old World Blues. 

    //-
        Eyebot Retextured
        Updated 2019-03-22
    //-
    - creatures.push(['#eyebot-retextured', 'Eyebot Retextured'])
    +modCard('eyebot-retextured', 'Eyebot Retextured', 'https://www.nexusmods.com/fallout3/mods/22564', 'fo3-color')
        +author d7 aka id2301
        +version 1
        +installation Install #[span.file EYEBOT Retextured]

    //-
        Fawkes Retexture Hi-Res
        Updated 2019-03-22
    //-
    - creatures.push(['#fawkes-retexture', 'Fawkes Retexture Hi-Res'])
    +modCard('fawkes-retexture', 'Fawkes Retexture Hi-Res', 'https://www.nexusmods.com/fallout3/mods/8721', 'fo3-color')
        +author Macintroll
        +installation Install #[span.file FAWLKES Re-Texture]
        +notes We just want this for the clothes

    //-
        FO3 Hirezd - Supermutants
        Updated 2019-03-22
    //-
    - creatures.push(['#fo3-hirezd-supermutants', 'FO3 Hirezd - Supermutants'])
    +modCard('fo3-hirezd-supermutants', 'FO3 Hirezd - Supermutants', 'https://www.nexusmods.com/fallout3/mods/19931', 'fo3-color')
        +author Emerald Reign
        +version 1.0
        +installation Install #[span.file Supermutants] main file, and #[span.file Supermutant - 4k Fawkes] optional file
        +notes 2k Skin textures for Supermutants and Overlords, 4k for Behemoth, plus 4k for Fawkes

    //-
        SentryTurret Retextured
        Updated 2019-03-22
    //-
    - creatures.push(['#sentryturret-retextured', 'SentryTurret Retextured'])
    +modCard('sentryturret-retextured', 'SentryTurret Retextured', 'https://www.nexusmods.com/fallout3/mods/23034', 'fo3-color')
        +author d7 aka id2301 
        +version 1
        +installation Install #[span.file d7_sentryTurret_retextured]
        +notes New normals, spec, glow and diffuse maps. Also cube maps.

    //-
        Swampfolk Backwater Retexture
        Updated 2019-03-22
    //-
    - creatures.push(['#swampfolk-backwater-retexture', 'Swampfolk Backwater Retexture'])
    +modCard('swampfolk-backwater-retexture', 'Swampfolk Backwater Retexture', 'https://www.nexusmods.com/fallout3/mods/18894', 'fo3-color')
        +author Deathclaw Alpha
        +version 1
        +installation Install #[span.file Backwater Retexture]
        +notes The Swampfolk are inbred, disease-ridden characters who haven't bathed in, like, twenty years. Well, they are now.

    //-
        Robot Revolution HD - Protectron
        Updated 2019-03-22
    //-
    - creatures.push(['#robot-revolution-protectron', 'Robot Revolution HD - Protectron'])
    +modCard('robot-revolution-protectron', 'Robot Revolution HD - Protectron', 'https://www.nexusmods.com/fallout3/mods/18902', 'fo3-color')
        +author OpenSaucer
        +version 1.1
        +installation Install #[span.file Robot Revolution - Protectron HD Re-texture]
        +notes 
            | Did you ever think the robots in D.C needed a face lift? This is for you.
            | Actually, this is for you no matter what! 

    //-
        Vandr HD Creatures
        Updated 2019-03-22
    //-
    - creatures.push(['#vandr-hd-creatures', 'Vandr HD Creatures'])
    +modCard('vandr-hd-creatures', 'Vandr HD Creatures', 'https://www.nexusmods.com/fallout3/mods/18500', 'fo3-color')
        +author Vandrerer
        +version 1.0
        +installation Install #[span.file Vandr HD Creatures]
        +mispackaged
            | This mod is packaged incorrectly
            | Right click "data" and select [Set Data Directory] and click [OK]
        +notes Retexture of creatures with totally new bump-maps and sharpened mip maps! 

    //-
        aMidianBorn Book Of Water - Book of Flesh
        Updated 2019-03-22
    //-
    - creatures.push(['#book-of-flesh', 'aMidianBorn Book Of Water - Book of Flesh'])
    +modCard('book-of-flesh', 'aMidianBorn Book Of Water - Book of Flesh', 'https://www.nexusmods.com/newvegas/mods/39873', 'fnv-color')
        +author CaBaL
        +installation Install #[span.file BOA NV The Book Of Flesh]

    //-
        FeralGhouls Hires Retexture
        Updated 2019-03-22
    //-
    - creatures.push(['#feralghouls-hires-retexture', 'FeralGhouls Hires Retexture'])
    +modCard('feralghouls-hires-retexture', 'FeralGhouls Hires Retexture', 'https://www.nexusmods.com/newvegas/mods/53960', 'fnv-color')
        +author Macintroll
        +version 1.0
        +installation Install #[span.file Feral Ghould HD]
        +mispackaged
            | This mod is packaged incorrectly
            | Expand "FeralGhoulsHD"
            | Right click "data" and select [Set Data Directory] and click OK


    //-
        Super Mutant Mesh Replacer
        Updated 2019-03-22
    //-
    - creatures.push(['#super-mutant-mesh-replacer', 'Super Mutant Mesh Replacer'])
    +modCard('super-mutant-mesh-replacer', 'Super Mutant Mesh Replacer', 'https://mega.nz/#!9cQXGbQS!GdWRCNZtmEWl_8RSouF70dD8MIQGrWIsFax6mtIRzM0', 'fnv-color')
        +author TheNeglected
        +version 1.3

- mods.push(creatures)