//-
    Cut Content
    Updated 2019-03-22
//-

- sections.push(['#cut-content', 'Cut Content'])
- let cutContent = []

section#cut-content
    h2.section-header Cut Content

    //-
        Strip Wall Billboards
        Updated 2019-03-22
    //-
    - cutContent.push(['#strip-wall-billboards', 'Strip Wall Billboards'])
    +modCard('strip-wall-billboards', 'Strip Wall Billboards', 'https://www.nexusmods.com/newvegas/mods/56257', 'fnv-color')
        +author sandbox6
        +version 1.0
        +installation Install #[span.file Strip Wall Billboards]
        +notes 
            | Adds previously unused billboards which were only seen during the intro to The Strip's perimeter 
            | wall making it slightly less dull. There are only three images on the billboards used in different
            | orientations, but it's still an improvement over the boring vanilla walls. 

    //-
        No more giant manhole covers
        Updated 2019-03-22
    //-
    - cutContent.push(['#no-more-giant-manhole-covers', 'No more giant manhole covers'])
    +modCard('no-more-giant-manhole-covers', 'No more giant manhole covers', 'https://www.nexusmods.com/newvegas/mods/55946', 'fnv-color')
        +author sandbox6
        +version 1.01
        +installation Install #[span.file No more giant manhole covers]
        +notes
            | Simply replaces those ridiculous looking doors in the sewers that were obviously oversized sideways
            | manhole covers with sewer grates instead. 

    //-
        Intro Bus Street Alignment
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6520&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - cutContent.push(['#intro-bus-street-alignment', 'Intro Bus Street Alignment'])
    +modCard('intro-bus-street-alignment', 'Intro Bus Street Alignment', 'https://www.nexusmods.com/newvegas/mods/66542', 'fo3-color')
        +author bigpete, Roy Batty
        +version 1.0a
        +installation Install #[span.file Intro Street Bus]
        +notes 
            | Adds the intro street bus to Chevy Chase, aligns Dupont on the map and adds the 
            | teaser trailer ruins just outside Springvale. 

- mods.push(cutContent)