//-
    Effects
    Updated 2019-03-22
    themagicteeth
//-

- sections.push(['#effects', 'Effects'])
- let effects = [] 

section#effects
    h2.section-header Effects

    //-
        Enhanced Blood
        Updated 2019-03-22
    //-
    - effects.push(['#enhanced-blood', 'Enhanced Blood'])
    +modCard('enhanced-blood', 'Enhanced Blood', 'https://www.nexusmods.com/newvegas/mods/34917', 'fnv-color')
        +author dDefinder
        +version 2.22c
        +installation 
            | Download the #[span.file Enhanced Blood Texture] main file, and 
            | #[span.file Alternate Textures] optional file. Follow these instructions:
        pre.raised
            | TO DO

    //-
        EXE - Effect teXtures Enhanced
        Updated 2019-03-22
    //-
    - effects.push(['#exe-effect-textures-enhanced', 'EXE - Effect teXtures Enhanced'])
    +modCard('exe-effect-textures-enhanced', 'EXE - Effect teXtures Enhanced', 'https://www.nexusmods.com/newvegas/mods/62989', 'fnv-color')
        +author weijiesen
        +version v2
        +installation Install #[span.file EXE FULL RES V2 -LATEST-]
        +notes Every last visual effect texture in FNV base game remade. This affects all visuals in a great way.

    //-
        HD Mist
        Updated 2019-03-22
    //-
    - effects.push(['#hd-mist', 'HD Mist'])
    +modCard('hd-mist', 'HD Mist', 'https://www.nexusmods.com/newvegas/mods/58955', 'fnv-color')
        +author Ramccoid, Adonis VII
        +version 1.0
        +installation Install #[span.file HD Mist 2k]
        +notes This is an HD texture to replace the blocky ambient mists found throughout Fallout.

    //-
        Hectrol FX Dustorm Deluxe
        Updated 2019-03-22
    //-
    - effects.push(['#hectrol-fx-duststorm-deluxe', 'Hectrol FX Dustorm Deluxe'])
    +modCard('hectrol-fx-duststorm-deluxe', 'Hectrol FX Dustorm Deluxe', 'https://www.nexusmods.com/newvegas/mods/44025', 'fnv-color')
        +author Hectrol
        +version 1.0
        +installation Install #[span.file Hectrol_FX_Duststorm_Deluxe_HighRes_Retex]
        pre.raised
            | This mod is packaged incorretly.
            | Expand "Hectrol_FX_Duststorm_Deluxe_HighRes_Retex"
            | Right click "2048" and select [Set data directory]
            | Click [Ok]

    //-
        IMPACT
        Updated 2019-03-22
    //-
    //- - effects.push(['#impact', 'IMPACT'])
    //- +modCard('impact', 'IMPACT', 'https://www.nexusmods.com/newvegas/mods/57113', 'fnv-color')
    //-     +author Weijiesen
    //-     +version 2.0
    //-     +installation 
    //-         | Install #[span.file IMPACT - The Michael Bay] main file and 
    //-         | #[span.file Optional Option - No Refract Hits] optional file

    //-
        IMPACT - Compatibility Edition
        Updated 2019-03-22
    //-
    //- - effects.push(['#impact-compatibility-edition', 'IMPACT - Compatibility Edition'])
    //- +modCard('impact-compatibility-edition', 'IMPACT - Compatibility Edition', 'https://www.nexusmods.com/newvegas/mods/62050', 'fnv-color')
    //-     +author Weijiesen, darthbdaman
    //-     +version 1.1.2
    //-     +installation Install #[span.file IMPACT]

- mods.push(effects)