//-
    ENB
    Updated 2019-03-30
//-

- sections.push(['#enb', 'ENB'])
- mods.push([])

section#enb
    h2.section-header ENB

    #vramtesttool
        +name('VRamSizeTest', 'http://enbdev.com/download_vramsizetest.htm', 'tool')
        +modInfo
            +author Boris Vorontsov
            +version v1.0
            +installation Download #[+file('VRamSizeTest v1.0')]
            +important Determine usable video RAM for setting up the ENB
            pre.raised
                | Extract the archive and run VRamSizeDX9.exe
                | Take note of the number for use in the enblocal.ini

    #enboost
        +name('ENBoost', 'http://enbdev.com/mod_falloutnv_v0322.htm', 'tool')
        +modInfo
            +author Boris Vorontsov
            +version v0.322
            +installation Download #[+file('enbseries_falloutnv_v0322.zip')]
        pre.raised
            | Open the archive and navigate into the "WrapperVersion" folder
            |
            | Extract everything into the Fallout New Vegas root folder except:
            |
            | * license_en.txt
            | * readme_en.txt
