//-
    ENB
    Updated 2019-03-30
//-

- sections.push(['#enb', 'ENB'])
- mods.push([])

section#enb
    h2.section-header ENB

    #enboost
        +name('ENBoost', 'http://enbdev.com/patch_falloutnv_enboost_v0203.htm', 'tool')
        +modInfo
            +author Boris Vorontsov
            +version v0.203
            +installation Download #[+file('ENBoost v0.203 patch for Fallout 3 / New Vegas')]
        pre.raised
            | Open the archive and navigate into the "InjectorVersion" folder
            | Extract the following files to the root New Vegas folder:
            |
            | * enbhost.exe
            | * ENBInjector.exe
            | * enbseries.dll
            | * enblocal.ini
