//-
    Environment
    Updated 2019-03-22
//-

- sections.push(['#environment', 'Environment'])
- let environment = []

section#environment
    h2.section-header Environment

    //-
        Gas Pumps of New Vegas
        Updated 2019-03-22
    //-
    - id = 'gas-pumps-of-new-vegas'
    - mod = 'Gas Pumps of New Vegas'
    - environment.push([`#${id}`, mod])
    +modCard(id, mod, 'https://www.nexusmods.com/newvegas/mods/60246', 'fnv-color')
        +author EdibleGrenade12, Thaiauxn
        +version v1.5
        +installation 
            | Install #[span.file Gas Pumps of NV Ver. 1.0] main file, and 
            | #[span.file Gas Pumps of NV Update 1.5] update file.
        +notes There are gas stations in New Vegas, but where are the gas pumps? This mod puts them where I think they should be. 

    //-
        Vault 22 Flora Overhaul
        Updated 2019-03-22
    //-
    - id = 'vault-22-flora-overhaul'
    - mod = 'Vault 22 Flora Overhaul'
    - environment.push([`#${id}`, mod])
    +modCard(id, mod, 'https://www.nexusmods.com/newvegas/mods/54472', 'fnv-color')
        +author Macintroll
        +version 1.1
        +installation Install #[span.file Vault 22 FloraOverhaul Alpha 1-1]
            pre.raised
                | This mod is packaged incorrectly
                | Expand "Vault22FloraOverhaul-mod"
                | Right click "data" and select [Set Data Directory] and click OK
        +notes 
            | This mod trys to add realistic flora overgrown in the vault 22. All levels have 
            | been modified and cluttered with more flora, ivy, bushes, grasses and some creepy things.
            | Game play should be a little more difficult but main quest is almost untouched.


- mods.push(environment)