//-
    Gameplay
    Updated 2019-03-22
//-

section#gameplay
    h2.section-header Gameplay

    //-
        BLEED
        Updated 2019-03-22
    //-
    +modCard('bleed', 'BLEED', 'https://www.nexusmods.com/newvegas/mods/61141', 'ttw-color')
        +author Roy Batty, Puppettron
        +version 1.7.3
        +installation Install BLEED
        +notes Ballistic Locational Energy Explosive Damage. BLEED is an overhaul of how damage and force is applied.

    //-
        Gunsmithing
        Updated 2019-03-22
    //-
    +modCard('gunsmithing', 'Gunsmithing', 'https://www.nexusmods.com/newvegas/mods/50312', 'ttw-color')
        +author Puppettron
        +version 4.4.2
        +installation Install the Gunsmithing TTW optional file
        +notes 
            | A smallish mod that adds gunsmithing to NV, so you can break down and build weapons your damn self, 
            | instead of relying on NPCs all the time. 

    //-
        Nipton Fires Extinguished
        Updated 2019-03-22
    //-
    +modCard('nipton-fires-extinguished', 'Nipton Fires Extinguished', 'https://www.nexusmods.com/newvegas/mods/53846', 'fnv-color')
        +author Qwerty
        +version 1.0
        +installation Install Nipton Fires Extinguished
        +notes Makes fire and smoke effects in Nipton disappear 1 day after the first player visit. 

    //-
        No Grabbing of NPC Owned Items
        Updated 2019-03-22
    //-
    +modCard('no-grabbing-npc-owned-items', 'No Grabbing of NPC Owned Items', 'https://www.nexusmods.com/newvegas/mods/63337', 'fnv-color')
        +author xQd
        +version 2.1
        +installation Install No Grabbing of NPC Owned Items 2.1
        +notes You cannot grab items that you don't own. 
    
    //-
        Root 'n Loot TTW 
        Updated 2019-03-22
    //-
    +modCard('root-n-loot', "Root 'n Loot TTW", 'https://www.nexusmods.com/newvegas/mods/59378', 'ttw-color')
        +author Roy Batty
        +version 1.8
        +installation Install Root 'n Loot
        +notes Replaces all static containers with lootable equivalents.

    //-
        Static Battery Replacer
        Updated 2019-03-22
    //-
    +modCard('static-battery-replacer', 'Static Battery Replacer', 'https://www.nexusmods.com/newvegas/mods/36052', 'fnv-color')
        +author pintocat
        +version 1.0
        +installation Install Static Battery Replacer
        +notes 
            | Replaces 50 of the 59 static Fission Battery models with the Misc Item version that can be taken. 
            | The remaining 9 are there as visual "power sources" for lights and such.