//-
    Gameplay
    Updated 2019-03-22
//-

- let gameplay = []
- sections.push(['#gameplay', 'Gameplay'])

section#gameplay
    h2.section-header Gameplay

    //-
        BLEED
        Updated 2019-03-22
    //-
    - gameplay.push(['#bleed', 'BLEED'])
    +modCard('bleed', 'BLEED', 'https://www.nexusmods.com/newvegas/mods/61141', 'ttw-color')
        +author Roy Batty, Puppettron
        +version 1.7.3
        +installation Install #[span.file BLEED]
        +notes Ballistic Locational Energy Explosive Damage. BLEED is an overhaul of how damage and force is applied.

    - gameplay.push(['#delay-dlc', 'Delay DLC TTW'])
    +modCard('delay-dlc', 'Delay DLC TTW', 'https://www.nexusmods.com/newvegas/mods/66690', 'ttw-color')
        +author Gribbleshnibit8
        +version 1.0
        +installation Install #[span.file Delay DLC 1.0 - TTW 3.2]

    //-
        Gunsmithing
        Updated 2019-03-22
    //-
    - gameplay.push(['#gunsmithing', 'Gunsmithing'])
    +modCard('gunsmithing', 'Gunsmithing', 'https://www.nexusmods.com/newvegas/mods/50312', 'ttw-color')
        +author Puppettron
        +version 4.4.2
        +installation Install the #[span.file Gunsmithing TTW] optional file
        +notes
            | A smallish mod that adds gunsmithing to NV, so you can break down and build weapons your damn self,
            | instead of relying on NPCs all the time.

    //- - gameplay.push(['#immersive-minigames', 'Immersive Minigames'])
    //- +modCard('immersive-minigames', 'Immersive Minigames', 'https://www.nexusmods.com/newvegas/mods/58246', 'fnv-color')
    //-     +author Gribbleshnibit8 and pintocat
    //-     +version 1.5
    //-     +installation Install #[span.file Immersive Minigames]

    - gameplay.push(['#mobile-truck-base', 'Mobile Truck Base TTW'])
    +modCard('mobile-truck-base', 'Mobile Truck Base - TTW', 'https://www.nexusmods.com/newvegas/mods/66012', 'ttw-color')
        +author pintocat
        +version 1.0
        +installation Install #[span.file Mobile Truck Base - TTW 3.2 - 1.0]

    +modCard('more-spawns', 'More Spawns', 'https://drive.google.com/file/d/1ATP_TnysYYKFZ2LPsSHRT45kgCpyiLeJ/view?usp=sharing')
        +author FiftyTifty
        +installation Install #[span.file More Spawns.7z]
        pre.raised
            | TODO - Move 3x version to optional

    //-
        Nipton Fires Extinguished
        Updated 2019-03-22
    //-
    - gameplay.push(['#nipton-fires-extinguished', 'Nipton Fires Extinguished'])
    +modCard('nipton-fires-extinguished', 'Nipton Fires Extinguished', 'https://www.nexusmods.com/newvegas/mods/53846', 'fnv-color')
        +author Qwerty
        +version 1.0
        +installation Install #[span.file Nipton Fires Extinguished]
        +notes Makes fire and smoke effects in Nipton disappear 1 day after the first player visit.

    //-
        No Grabbing of NPC Owned Items
        Updated 2019-03-22
    //-
    - gameplay.push(['#no-grabbing-npc-owned-items', 'No Grabbing of NPC Owned Items'])
    +modCard('no-grabbing-npc-owned-items', 'No Grabbing of NPC Owned Items', 'https://www.nexusmods.com/newvegas/mods/63337', 'fnv-color')
        +author xQd
        +version 2.1
        +installation Install #[span.file No Grabbing of NPC Owned Items 2.1]
        +notes You cannot grab items that you don't own.

    //-
        Root 'n Loot TTW
        Updated 2019-03-22
    //-
    - gameplay.push(['#root-n-loot', "Root 'n Loot TTW"])
    +modCard('root-n-loot', "Root 'n Loot TTW", 'https://www.nexusmods.com/newvegas/mods/59378', 'ttw-color')
        +author Roy Batty
        +version 1.8
        +installation Install #[span.file Root 'n Loot]
        +notes Replaces all static containers with lootable equivalents.

    +modCard('sawyer-batty', 'Sawyer Batty', 'https://drive.google.com/open?id=1UXVRedhxB7ZZxksSU110zSP3mlxFT4MO', 'ttw-color')
        +author jsawyer, Roy Batty
        +installation Install #[span.file sawyerbatty.7z]

    //-
        Static Battery Replacer
        Updated 2019-03-22
    //-
    - gameplay.push(['#static-battery-replacer', 'Static Battery Replacer'])
    +modCard('static-battery-replacer', 'Static Battery Replacer', 'https://www.nexusmods.com/newvegas/mods/36052', 'fnv-color')
        +author pintocat
        +version 1.0
        +installation Install #[span.file Static Battery Replacer]
        +notes
            | Replaces 50 of the 59 static Fission Battery models with the Misc Item version that can be taken.
            | The remaining 9 are there as visual "power sources" for lights and such.

    - gameplay.push(['#tutorial-killer', 'Tutorial Killer'])
    +modCard('tutorial-killer', 'Tutorial Killer', 'https://www.nexusmods.com/newvegas/mods/47746', 'fnv-color')
        +author pintocat, Roy Batty
        +version 1.52
        +installation Install #[span.file Tutorial Killer - Scripted version]


- mods.push(gameplay)
