//-
    Gameplay
    Updated 2019-03-22
//-

- mods.push([])
- sections.push(['#gameplay', 'Gameplay'])

section#gameplay
    h2.section-header Gameplay

    //-
        BLEED
        Updated 2019-04-02
    //-
    #bleed
        +name('BLEED', 'https://www.nexusmods.com/newvegas/mods/61141', 'ttw')
        +modInfo
            +author Roy Batty, Puppettron
            +version 1.7.3
            +installation Install #[+file('BLEED')]
            +notes
                | Ballistic Locational Energy Explosive Damage. BLEED is an overhaul of how
                | damage and force is applied.

    //-
        Flashlight NVSE
        Updated 2019-04-02
    //-
    #flashlight-nvse
        +name('Flashlight NVSE', 'https://www.nexusmods.com/newvegas/mods/39968', 'fnv')
        +modInfo
            +author vivanto
            +version 1.22
            +installation Install #[+file('FlashlightNVSE122 fomod installer')]

    //-
        TTW Flashlight NVSE
        Updated 2019-04-02
    //-
    #flashlight-nvse-ttw
        +name('TTW Flashlight NVSE', 'https://drive.google.com/open?id=1lJpwTDidKoh7QuwnqQzKNN8lc-17exiY', 'ttw')
        +modInfo
            +author Roy Batty
            +installation Install #[+file('ttw_flashlightnvse.7z')]

    +merge Merge Flashlight NVSE and TTW Flashlight NVSE
    pre.mt0 TODO

    //-
        Gunsmithing
        Updated 2019-03-22
    //-
    #gunsmithing
        +name('Gunsmithing', 'https://www.nexusmods.com/newvegas/mods/50312', 'ttw')
        +modInfo
            +author Puppettron
            +version 4.4.2
            +installation Install the #[+file('Gunsmithing TTW')] optional file
            +notes
                | A smallish mod that adds gunsmithing to NV, so you can break down and build weapons your damn self,
                | instead of relying on NPCs all the time.

    //-
        Immersive Minigames
        Updated 2019-04-02
        Disabled for now
    //-
    //- +modCard('immersive-minigames', 'Immersive Minigames', 'https://www.nexusmods.com/newvegas/mods/58246', 'fnv-color')
    //-     +author Gribbleshnibit8 and pintocat
    //-     +version 1.5
    //-     +installation Install #[span.file Immersive Minigames]

    //-
    //-
    #mobile-truck-base
        +name('Mobile Truck Base', 'https://www.nexusmods.com/newvegas/mods/66012', 'ttw')
        +modInfo
            +author tdx73
            +version 1.51
            +installation Install #[+file('Data')]
            +notes This adds a purchase able truck to Gibson Scrapyard that serves as a mobile player base.
    //-
        Mobile Truck Base - TTW
        Updated 2019-04-02
    //-
    #mobile-truck-base-ttw
        +name('Mobile Truck Base - TTW', 'https://www.nexusmods.com/newvegas/mods/66012', 'ttw')
        +modInfo
            +author pintocat
            +version 1.0
            +installation Install #[+file('Mobile Truck Base - TTW 3.2 - 1.0')]
            +notes This patches Mobile Truck Base for TTW

    //-
        More Spawns
        Updated 2019-04-02
    //-
    #more-spawns
        +name('More Spawns', 'https://drive.google.com/file/d/1ATP_TnysYYKFZ2LPsSHRT45kgCpyiLeJ/view?usp=sharing', 'ttw')
        +modInfo
            +author FiftyTifty
            +installation Install #[+file('More Spawns.7z')]
            +optional 
                | Double click More Spawns in the left pane and go to the [Optional ESPs] tab.
                | Move the 3x version to the "Optional ESPs" box.

    //-
        Nipton Fires Extinguished
        Updated 2019-03-22
    //-
    #nipton-fires-extinguished
        +name('Nipton Fires Extinguished', 'https://www.nexusmods.com/newvegas/mods/53846', 'fnv')
        +modInfo
            +author Qwerty
            +version 1.0
            +installation Install #[+file('Nipton Fires Extinguished')]
            +notes Makes fire and smoke effects in Nipton disappear 1 day after the first player visit.

    //-
        Root 'n Loot TTW
        Updated 2019-03-22
    //-
    #root-n-loot
        +name("Root 'n Loot TTW", 'https://www.nexusmods.com/newvegas/mods/59378', 'ttw')
        +modInfo
            +author Roy Batty
            +version 1.8
            +installation Install #[+file("Root 'n Loot")]
            +notes Replaces all static containers with lootable equivalents.

    //-
        Sawyer Batty
        Updated 2019-04-02
    //-
    #sawyer-batty
        +name('Sawyer Batty', 'https://drive.google.com/open?id=1UXVRedhxB7ZZxksSU110zSP3mlxFT4MO', 'ttw')
        +modInfo
            +author jsawyer, Roy Batty
            +installation Install #[+file('sawyerbatty.7z')]

    //-
        Static Battery Replacer
        Updated 2019-03-22
    //-
    #static-battery-replacer
        +name('Static Battery Replacer', 'https://www.nexusmods.com/newvegas/mods/36052', 'fnv')
        +modInfo
            +author pintocat
            +version 1.0
            +installation Install #[+file('Static Battery Replacer')]
            +notes
                | Replaces 50 of the 59 static Fission Battery models with the Misc Item version that can be taken.
                | The remaining 9 are there as visual "power sources" for lights and such.
