//-
    Lighting
    Updated 2019-03-22
    themagicteeth
//-

- sections.push(['#lighting', 'Lighting'])
- let lighting = []

section#lighting
    h2.section-header Lighting

    div.copy-bg
        p Currently TTW does not have a patched interior lighting mod for the Capital Wasteland.

    //-
        Interior Lighting Overhaul
        Updated 2019-03-22
    //-
    //- - lighting.push(['#interior-lighting-overhaul', 'Interior Lighting Overhaul'])
    //- +modCard('interior-lighting-overhaul', 'Interior Lighting Overhaul', 'https://www.nexusmods.com/newvegas/mods/35794', 'fnv-color')
    //-     +author Sarge198 and Killergrimm
    //-     +version 6.9
    //-     +installation Instll #[span.file Interior Lighting Overhaul 6-9]
    //-         pre.raised
    //-             | This mod is packaged incorrectly.
    //-             | Download Interior Lighting Overhaul 6-9  and extract the .fomod in the file.
    //-             | You will then install this .fomod through Mod Organizer.
    //-             | Choose Ultimate edition and any other patches for mods you may have installed.
    //-             |
    //-             | DO NOT INSTALL THE TTW PATCH. It is depricated.
    //-     +notes
    //-         | Modifies all interior cells giving them a realistic look. This mod aims to increase the immersion and creepiness of
    //-         | the fallout world, especially inside the vaults, caves and buildings. Lighting values are adjusted as well as the addition
    //-         | of lighting fixtures to the appropriate places where they were left out.

    //-
        Old World Blues Path Lighting
        Updated 2019-03-22
    //-
    - lighting.push(['#old-world-blues-path-lighting', 'Old World Blues Path Lighting'])
    +modCard('old-world-blues-path-lighting', 'Old World Blues Path Lighting', 'https://www.nexusmods.com/newvegas/mods/43485', 'fnv-color')
        +author Sarge198
        +version 1.1
        +installation Install #[span.file Old World Blues Path Lighting]
        +notes Turns on all the blue garden lights in the Old World Blues DLC. Also scripted to turn them on at 2000hrs and off at 0700hrs.

    //-
        Realistic Wasteland Lighting
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6685&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - lighting.push(['#realistic-wasteland-lighting', 'FNV Realistic Wasteland Lighting'])
    +modCard('realistic-wasteland-lighting', 'FNV Realistic Wasteland Lighting', 'https://www.nexusmods.com/newvegas/mods/52037', 'ttw-color')
        +author xCamoLegend, Sal203, RoyBatty
        +version v5.542
        +installation Install #[span.file TTW Realistic Wasteland Lighting]
        +notes
            | A complete weather overhaul for Fallout New Vegas and its DLCs with complete Tale of Two Wastelands support.
            | Designed to make the game look more realistic. Improves lighting, weather, clouds, stars, moon and the overall
            | look and feel of the wasteland.

- mods.push(lighting)
