//-
    Exploration
    Updated 2019-03-22
//-

- sections.push(['#exploration', 'Exploration'])
- let location = []

section#exploration
    h2.section-header Exploration

    //-
        Another Interior Mod
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6518&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - location.push(['#another-interior-mod', 'Another Interior Mod'])
    +modCard('another-interior-mod', 'Another Interior Mod', 'https://www.nexusmods.com/newvegas/mods/66611', 'ttw-color')
        +author Roy Batty
        +version 1.0
        +installation Install #[span.file Another Interior Mod]
        +notes Adds 40+ locations to the DC Wasteland, compatible with TTW Interiors, AWOP4FO3 and The Regulators

    //-
        Auto Gates Redux
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6519&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - location.push(['#auto-gates-redux', 'Auto Gates Redux'])
    +modCard('auto-gates-redux', 'Auto Gates Redux', 'https://drive.google.com/open?id=1Sy-LA2dGBudt_os63LYv9LTjsWvH0OnT', 'ttw-color')
        +author Roy Batty
        +version Update 2
        +notes 
            | This mod makes all the animated gates, doors and rivet city bridge animate when you
            | approach and leave.

    //-
        A World of Pain F03
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6617&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - location.push(['#awop-fo3', 'A World of Pain F03'])
    +modCard('awop-fo3', 'A World of Pain F03', 'https://www.nexusmods.com/newvegas/mods/66611', 'fo3-color')
        +author mystro, Roy Batty
        +version 2.02
        +installation Install #[span.file A World of Pain for Fallout 3]
        +notes 
            | Adds many intense and unique locations to the Capital Wasteland, new items, 4D storage, 
            | two companions and a couple of quests.

    //-
        A World of Pain NV
        Updated 2019-03-22
    //-
    - location.push(['#awop-fnv', 'A World of Pain NV'])
    +modCard('awop-fnv', 'A World of Pain NV', 'https://www.nexusmods.com/newvegas/mods/38719', 'fnv-color')
        +author Dj Mystro
        +version 6.01
        +installation Install #[span.file A World of Pain], and #[span.file AWOP Dead Money 2.0]
        +notes 
            | Adds 159 new and intense locations to the wasteland filled with enemies and loot. They vary from small Gas Stations
            | to huge maze-like sewers and derelict factories. Adds several days of new gameplay possibilities. Filled with quests, 
            | NPCs with dialogue, vendors and some of the toughest enemies you will ever encounter. 

    //-
        TTW - AWOPNV Compatibility Patch
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6526&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - location.push(['#ttw-awopnv-patch', 'TTW - AWOPNV Compatibility Patch'])
    +modCard('ttw-awopnv-patch', 'TTW - AWOPNV Compatibility Patch', 'https://www.nexusmods.com/newvegas/mods/66268', 'ttw-color')
        +author Roy Batty
        +version 1.01
        +installation
            | Install #[span.file TTW A World of Pain A World of Pain for Fallout 3], and 
            | #[span.file TTW A World of Pain Patch]
        +notes Compatibility patches for A World of Pain, A World of Pain for Fallout 3 and Tale of Two Wastelands.

    //-
        Devestated City
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6521&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - location.push(['#devestated-city', 'Devestated City'])
    +modCard('devestated-city', 'Devestated City', 'https://drive.google.com/open?id=1MqAsu6aicz3nVnLm1HSC36resUGs0r_p', 'ttw-color')
        +author Wasteland Loner, Roy Batty
        +notes 
            | This mod attempts to make the downtown D.C. area feel more post apocalyptic, 
            | by adding things like vehicles, rubble, craters etc. However, the changes are
            | not too extensive at the moment.

    //-
        Intro Bus Street Alignment
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6520&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - location.push(['#intro-bus-street-alignment', 'Intro Bus Street Alignment'])
    +modCard('intro-bus-street-alignment', 'Intro Bus Street Alignment', 'https://www.nexusmods.com/newvegas/mods/66542', 'fo3-color')
        +author bigpete, Roy Batty
        +version 1.0a
        +installation Install #[span.file Intro Street Bus]
        +notes 
            | Adds the intro street bus to Chevy Chase, aligns Dupont on the map and adds the 
            | teaser trailer ruins just outside Springvale. 

    //-
        Museum Halls of Today
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6522&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - location.push(['#museum-halls-of-today', 'Museum Halls of Today'])
    +modCard('museum-halls-of-today', 'Museum Halls of Today', 'https://drive.google.com/open?id=1BQ04-lB4n6g1rhM0ku5LRKgCaK8uTjcY', 'fo3-color')
        +author Wasteland Loner, Roy Batty
        +notes This mod adds The Halls of Today to the Museum of Technology in The Mall.

    //-
        TTW Interiors
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6541&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    - location.push(['#ttw-interiors', 'TTW Interiors'])
    +modCard('ttw-interiors', 'TTW Interiors', 'https://www.nexusmods.com/newvegas/mods/66449', 'ttw-color')
        +author chucksteel
        +installation
            | Install #[span.file TTW Interiors Core v4.3.2] and #[span.file _TTW Interiors Combo v6.4]
            | main files, #[span.file NMC NVInt - TTW Int compatibility Patch Large v2.0]
            | miscellaneous file, and the #[span.file Devestated City patch] from 
            | #[a(href='https://drive.google.com/file/d/13u2iAyJMHw3bK7tgKlM597f80wFjERkE/view?usp=sharing') here]
        +notes This is a total merge of The D.C. Interiors Project, The N.V. Interiors Project and some of chucksteels other mods.


- mods.push(location)