//-
    LODGen
    Updated 2019-03-30
//-

- sections.push(['#lod', 'LOD'])
- mods.push([])

section#lod
	h2.section-header LOD
	
	#improved-lod-noise
		+name('Improved LOD Noise Texture', 'https://www.nexusmods.com/newvegas/mods/46451', 'fnv')
		+modInfo
			+author Cyberlazy
			+version V1.00
			+installation Install #[+file('Improved LOD noise Texture')]
	
	#fnvlodgen
		+name('FNVLODGen', 'https://www.nexusmods.com/newvegas/mods/58562', 'fnv')
		+modInfo
			+author Ehamloptiran Sheson and FNVEdit Team
			+version 1.1
			+installation 
				| Install #[+file('FNVLODGen Resources')] main file, and
				| #[+file('NMC LOD texture fix')] and #[+file('Trees LOD Billboards Vanilla')]
				| optional files

	p.copy-bg.mb0
		| Now that FNVLODGens resources are installed into Mod Organizer LODs can
		| be generated using FNVLODGen (installed in the Tools section).
	p.copy-bg.mt0
		| Before running FNVLODGen, an ini setting in the fallout.ini
		| must be updated to include the TTW BSAs.
	
	pre
		| Open Mod Organizer.
		| Click [Tools]>[Edit Ini] at the top of the window.
		| Verify fallout.ini is selected and change the following lines.
		| Click [Save] and close the window. 
		
	+ini Update SArchive list to use TTW assets
	pre.mt0
		| [Archive]
		| SArchiveList=Fallout - Textures.bsa, Fallout - Textures2.bsa, Fallout - Meshes.bsa, Fallout - Meshes2.bsa, Fallout - Voices1.bsa, Fallout - Sound.bsa, Fallout - Misc.bsa

	p.copy-bg.mb0
		| Now FNVLODGen can be ran through Mod Organizer to generate the LODs.
		| Follow the instructions below:
	pre.mt0
		| From the executables dropdown, select FNVLODGen, and wait for it to finish loading
		|
		| On the left side (where all of the checkboxes are), right click and select "Select All"
		|
		| Set the "Atlas size" to 8192x8192
		|
		| Check the box next to "Trees LOD"
		|
		| Click [Generate]
		| 
		| LODs will now be generated, this can take 20 to 30 minutes
		| Once it is finished, close the window
		|
		| Open Mod Organizer and enable "FNVLODGENOutput" in the left pane.
	
		
		

	