//-
    NPCs
    Updated 2019-04-02

    Potential mods
        - Immersive mouth and teeth - https://www.nexusmods.com/newvegas/mods/66630 and https://www.nexusmods.com/fallout3/mods/23527
//-

- sections.push(['#npcs', 'NPCs'])

section#npcs
    h2.section-header NPCs

    //-
        Authentic Burned Man
        Updated 2019-03-22
    //-
    #authentic-burned-man
        +name('Authentic Burned Man', 'https://www.nexusmods.com/newvegas/mods/41974', 'fnv')
        +modInfo
            +author Rocket
            +version 1.0
            +installation Install #[+file('Better Burned Man')]
            +instructions TO DO - Requires cleaning
            +notes
                | This redesigns Joshua Graham, The Burned Man, to much more closely match his
                | appearance in the game art. Now he actually looks burnt! 

    //-
        Beards
        Updated 2019-03-22
    //-
    #beards
        +name('Beards', 'https://www.nexusmods.com/newvegas/mods/49624', 'fnv')
        +modInfo
            +author Drumber
            +version 1.0
            +installation Install #[+file('HQ Beards 2048x2048')]
            +optional
                | Double click Beards in the left pane and go to the [Optional ESPs] tab.
                | Move "Beards.esp" to the "Optional ESPs" box.
            +notes Nice beards.

    //-
        Immersive Mouth and Teeth FO3
        Updated 2019-04-02
    //-
    #immersive-mouth-and-teeth-fo3
        +name('Immersive Mouth and Teeth FO3', 'https://www.nexusmods.com/fallout3/mods/23527', 'fo3')
        +modInfo
            +author ClearanceClarence
            +version 1.0
            +installation Install #[+file('Immersive Mouth and Teeth - F3 Version - 2K - 1.0')]


    //-
        Immersive Mouth and Teeth FNV
        Updated 2019-04-02
    //-
    #immersive-mouth-and-teeth-fnv
        +name('Immersive Mouth and Teeth FNV', 'https://www.nexusmods.com/newvegas/mods/66630', 'fnv')
        +modInfo
            +author ClearanceClarence
            +version 1.0
            +installation Install #[+file('Immersive Mouth and Teeth - FNV Version - 2K - 1.0')]


    //-
        Naturual Eyes
        Updated 2019-04-02
    //-
    #natural-eyes
        +name('Natural Eyes', 'https://www.nexusmods.com/newvegas/mods/62811', 'fnv')
        +modInfo
            +author zzjay
            +version 1.1
            +installation Install #[+file('Eyes Smaller Iris')]

- mods.push([])