//-
    NPCs
    Updated 2019-03-22

    Potential mods
        - Immersive mouth and teeth - https://www.nexusmods.com/newvegas/mods/66630 and https://www.nexusmods.com/fallout3/mods/23527
        - natural eyes - https://www.nexusmods.com/newvegas/mods/62811
        - EYES - https://www.nexusmods.com/newvegas/mods/57296
//-

- sections.push(['#npcs', 'NPCs'])

section#npcs
    h2.section-header NPCs

    //-
        Authentic Burned Man
        Updated 2019-03-22
    //-
    #authentic-burned-man
        +name('Authentic Burned Man', 'https://www.nexusmods.com/newvegas/mods/41974', 'fnv')
        +modInfo
            +author Rocket
            +version 1.0
            +installation Install #[+file('Better Burned Man')]
            pre.raised TO DO - Requires cleaning
            +notes
                | This redesigns Joshua Graham, The Burned Man, to much more closely match his
                | appearance in the game art. Now he actually looks burnt! 

    //-
        Beards
        Updated 2019-03-22
    //-
    #beards
        +name('Beards', 'https://www.nexusmods.com/newvegas/mods/49624', 'fnv')
        +modInfo
            +author Drumber
            +version 1.0
            +installation Install #[+file('HQ Beards 2048x2048')]
            +optional
                pre.mt0
                    | Double click Beards in the left pane and go to the [Optional ESPs] tab.
                    | Move "Beards.esp" to the "Optional ESPs" box.
            +notes Nice beards.

- mods.push([])