//-
    Project Nevada
    Updated 2019-03-30
//-

- sections.push(['#project-nevada', 'Project Nevada'])
- mods.push([])

section#project-nevada
    h2.section-header Project Nevada

    #pn
        +name('Project Nevada', 'https://www.nexusmods.com/newvegas/mods/40040', 'fnv')
        +modInfo
            +author PN Team
            +version 2.5
            +installation Install #[+file('Project Nevada 2_5')]
            pre.raised
                | During installation only check the "Core" module (the first box)
                |
                | Select [Yes] to keep the installed version of MCM when prompted

    #pn-extra
        +name('Project Nevada - Extra Options', 'https://www.nexusmods.com/newvegas/mods/47285', 'fnv')
        +modInfo
            +author Gribbleshnibit8, Roy Batty
            +version 1.3
            +installation Install #[+file('Project Nevada - Extra Options 1_3')]
            pre.raised
                | During installation only check the "Core" module (the first box)

    #pn-ttw
        +name('Project Nevada TTW Patch', 'http://idek.chir.uno/ttw/TTW-PNxC-Patch.zip', 'ttw')
        +modInfo
            +author EyeDeck
            +version 1.2.0
            +installation Install #[+file('TTW-PNxC-Patch.zip')]
            pre.raised
                | Post install move TTW_PNxC.esp to Optional ESPs
