//-
    Quests
    Updated 2019-03-22
//-

- sections.push(['#quests', 'Quests'])

section#quests
    h2.section-header Quests

    //-
        A Trail of Crumbs
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6517&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    #a-trail-of-crumbs
        +name('A Trail of Crumbs', 'https://www.nexusmods.com/newvegas/mods/66267', 'fo3')
        +modInfo
            +author Mike Hancho, Roy Batty
            +version 1.4
            +installation Install #[+file('A Trail of Crumbs')]
            +notes An exciting, fun and challenging quest to 10 forgotten locations

    //-
        The Regulators
        Updated 2019-03-29
    //-
    #the-regulators
        +name('The Regulators', 'https://www.nexusmods.com/newvegas/mods/66266', 'ttw')
        +modInfo
            +author WilliamSea, Roy Batty
            +version 1.4
            +installation Install #[+file('The Regulators')]

    //-
        Washington's Malevolence
        Updated 2019-03-29
    //-
    #washingtons-malevolence
        +name("Washington's Malevolence", 'https://www.nexusmods.com/newvegas/mods/66413', 'fo3')
        +modInfo
            +author Team Silent Pizza
            +version 2.1.1
            +installation Install #[+file('Main File')]
            +notes 
                | Journey to Maddox Island in the Chesapeake Bay, in search of riches and
                | new technologies! Meet new people along the way and discover the secrets
                | that the island has in store. 

- mods.push([])
