//-
    Quests
    Updated 2019-03-22
//-

section#quests
    h2.section-header Quests

    //-
        A Trail of Crumbs
            - https://taleoftwowastelands.com/viewtopic.php?f=55&t=6517&sid=d7978d3911e87f0ba5b6af81269d94e9
        Updated 2019-03-22
    //-
    +modCard('a-trail-of-crumbs', 'A Trail of Crumbs', 'https://www.nexusmods.com/newvegas/mods/66267', 'fo3-color')
        +author Mike Hancho, Roy Batty
        +version 1.4
        +installation Install A Trail of Crumbs
        +notes An exciting, fun and challenging quest to 10 forgotten locations