section#setup
    h2.section-header Setup

    div#clean-old-files
        h3.section-header Clean Old Files
        p.copy-bg
            | It is important that the games installation files are as close to vanilla as possible.
            | Follow the steps below to ensure that your game is free from previous modding files and
            | that the ini files are reset to their default state.

        div#reset-game-files
            h4.section-header Reset Game Files
            +important If this is not a clean installation of Fallout New Vegas and you have modded prior perform the following:
                pre.mt0
                    | Delete everything in the New Vegas folder except the Data folder.
                    | Open the Data folder and delete everything that is not a vanilla ESM or BSA from New Vegas or the DLCs.
                    | If you have previously "cleaned" the base game ESMs, delete those as well, as TTW requires them uncleaned.
                    |
                    | Go to New Vegas in Steam, right click, and select [Properties].
                    | Navigate to [Verify Game Cache] option and Steam will download all the necessary files.
                    |
                    | Optional Tip: Making a archive of the clean game installation with 7Zip is handy for reinstalling Fallout.

        div#reset-inis
            h4.section-header Reset Inis
            +important To ensure the INI files are the vanilla INI files perform the following:
                pre.mt0
                    | Navigate to My Games/Documents and delete the following files:
                    |
                    | Fallout.ini
                    | FalloutPrefs.ini
                    |
                    | This will allow the INIs to revert back to vanilla when the game is launched.


    div#steam-settings
        h3.section-header Steam Settings
        p.copy-bg.mb0 
            | Steam overlay can cause some visual problems with some mods and ENB. If it is not needed,
            | it is recommended to turn it off.
        pre.mt0
            | Launch Steam, and proceed to Library.
            | Right-click "Fallout: New Vegas", and click [Properties].
            | In the [General] tab, uncheck the [Enable Steam Overlay...] box.
            | Click close.


    div#ogg-vorbis-libs
        h3.section-header Ogg Vorbis Libraries

        +modCard('', 'Ogg Vorbis Libraries', 'https://www.nexusmods.com/newvegas/mods/61265', 'fnv-color')
            +author Kanewright
            +version 3
            +installation Install only the following files to the main FalloutNV folder:
                pre.mt0.raised
                    | libogg.dll
                    | libvorbis.dll
                    | libvorbisfile.dll
            +notes Latest compiled Ogg Vorbis Libraries. The game uses it for decoding оgg audio format.


    div#nvse-and-4gbfnv
        h3.section-header NVSE and 4GBNV

        p.copy-bg
            | The following mods are very important to a any modded Fallout. The first mod, New Vegas Script Extender (NVSE) allows 
            | for many game changing things to be added into the game, while the 4GB New Vegas Loader (4GBNV) allows for more memory 
            | to be used by the game, which allows for better graphics and more things to be going on at once.

        //-
            New Vegas Script Extender (NVSE)
            Updated 2019-03-23
        //-
        +modCard('nvse', 'New Vegas Script Extender (NVSE)', 'http://nvse.silverlock.org', 'fnv-color')
            +author ianpatt, behippo and scruggsywuggsy the ferret
            +version 5.1b4
            +installation Install only the following files to the main FalloutNV folder:
                pre.mt0.raised
                    | nvse_1_4.dll
                    | nvse_loader.exe
                    | nvse_steam_loader.dll
                    |
                    | The rest will be installed later, during the ModOrganizer setup.
            +notes
                | The New Vegas Script Extender, or NVSE for short, is a modder's resource that expands the scripting capabilities 
                | of Fallout: NV. It does so without modifying the executable files on disk, so there are no permanent side effects.
                | Without NVSE, many mods that add incredible features to Fallout New Vegas cannot be used.


        //-
            FNV 4GB Patcher
                - https://forum.step-project.com/topic/11603-fallout-new-vegas-4gb-patcher-roy-batty-luthienanarion/
            Updated 2019-03-23
        //-
        +modCard('4gbfnv', 'FNV 4GB Patcher', 'https://www.nexusmods.com/newvegas/mods/62552', 'fnv-color')
            +author Roy Batty, LuthienAnarion 
            +version 1.4
            +installation
                pre.mt0.raised
                    | Install only the following files to the main FalloutNV folder:
                    |
                    | FalloutNVpatch.exe
                    |
                    | Then run the exe
            +notes 
                | Fallout New Vegas only allows for 2 GB of RAM to be accessed by the FalloutNV.exe, so this will allow 4 GB of RAM
                | to be accessed by setting the LAA flag. 

        +important 
            | These mods are not completely installed yet! Installation will be finished in the following sections.
    
    div#configure-mod-organizer
        h3.section-header Configure Mod Organizer

        p.copy-bg
            | Now that the base game is properly configured, the next step is to set up our mod management utility.
            |
            | Mod Organizer is the mod manager of choice for the following reasons:
            |
            | 1) Profiles allow multiple configurations set up per character and/or playthrough.
            | 2) Mod Downloads via NXM allows downloading of mods directly using the "Download With Manager" button on the Nexus site.
            | 3) Mod Version Tracking uses the power of the Nexus site to track major mod updates. However, this is not a replacement for the track file option on the actual Nexus site for optional downloads!
            | 4) NMM Installer Compatibility allows the use of Nexus Mod Manager installers.
            | 5) Manual Installation Option allows modification and selection of the data folder in an archive manually, allowing fixes of path problems at install time.
            | 6) Virtual File System allows a clean base Fallout installation without the mess of moving files. Additionally extends this file system to other tools such as LOOT, FNVEdit, and Wrye Flash NV. 
        
        div#setup-vanilla-fallout
            h4.section-header Setup a Vanilla Fallout: New Vegas Profile
            pre
                | Start Mod Organizer.
                | If this is the first run, Mod Organizer will prompt to select which game to manage, select Fallout New Vegas.
                |
                | Click the [Configure Profiles] button at the top of the window. The icon looks like an ID card.
                | Verify "Automatic Archive Invalidation" is checked.
                | Click [Create] and type "Fallout New Vegas" in the text box.
                | Verify that "Default Game Settings" is unchecked then click [OK].
                | Select the "Default" profile and click [Remove]. Select [Yes] when prompted.
                | Close the dialogue by clicking [Close].
                |
                | Verify that "Fallout New Vegas" is the currently selected profile in the "Profile" drop-down above the left-pane of the Mod Organizer window.

    div#mod-organizer-settings
            h4.section-header Configure ModOrganizer Settings

            p.copy-bg.mb0 Next the ModOrganizer settings will need to be configured.
                pre.mt0
                    | Click the [Settings] button at the top of the main Mod Organizer window. The icon looks like a screwdriver and wrench.
                    |
                    | In the "Settings" dialogue, click the [Nexus] tab.
                    | Check "Automatically Log-In to Nexus" and input a valid nexus username and password.
                    |
                    | In the "Settings" dialogue, click the [Plugins] tab.
                    | Select "Basic Diagnosis Plugin" in the left pane.
                    | In the right pane, double click on the value to the right of "check_modorder" and select "false".
                    |
                    | In the "Settings" dialogue, click the [Workarounds] tab.
                    | Verify that NMM Version is at least 0.52.2, if it is not then update it to this value.
                    |
                    | Close the window by clicking [OK]. 

        

