//-
    Textures
    Updated 2019-03-22
//-

- sections.push(['#textures', 'Textures'])
- textures = []

section#textures
    h2.section-header Textures

    //-
        Arlington Tombstones Redone
        Updated 2019-03-22
    //-
    +modCard('arlington-tombstone-redone', 'Arlington Tombstones Redone', 'https://www.nexusmods.com/fallout3/mods/23059', 'fo3-color')
        +author d7
        +version 1
        +installation Install #[span.file d7_tombstones_redo]
        +notes New meshes and textures for the Arlington graveyard tombstones

    //-
        Retextured Clutter Collection
        Updated 2019-03-22
    //-
    +modCard('retextured-clutter-collection', 'Retextured Clutter Collection', 'https://www.nexusmods.com/fallout3/mods/6894', 'fo3-color')
        +author ObsidianStag
        +version FINAL
        +installation Install #[span.file BetterClutterCollection]
        +notes 
            | This mod replaces several Clutter textures with a much larger, more detailed
            | versions. Also included are a few new textures, for wooden and metal shelves. 

    +modCard('nmc-fo3', 'NMC Texture Pack – Fallout 3', 'https://www.nexusmods.com/fallout3/mods/12056', 'fo3-color')
        +author NeilMc_NMC
        +version 1.0
        +installation Download #[span.file NMCs Texture Pack MAXIMUM Pack SINGLE FILE FOR NMM]
        +notes Replaces Terrain, trees, interiors/ exteriors, and most vehicles and furniture with high resolution (200-400%) real-life photograph-based equivalents.

    +modCard('nmc-fnv', 'NMC Texture Pack – New Vegas', 'https://www.nexusmods.com/newvegas/mods/43135', 'fnv-color')
        +author NeilMc_NMC
        +version 1.0
        +installation 
            | Download #[span.file NMCs Textures NV LARGE Pack Part 1 of 3 FOR NMM], 
            | #[span.file NMCs Textures NV LARGE Pack Part 2 of 3 FOR NMM],
            | #[span.file NMCs Textures NV LARGE Pack Part 3 of 3 FOR NMM] main files, 
            | #[span.file NMC New Vegas Patch for ALL Sized packs] optional file, and
            | #[span.file NMCs Texture pack WASHEDOUTWASTELAND Large and Medium] optional file
        +notes Re-textures roads, trees, landscape, vehicles buildings and interiors with high-resolution photographic based equivalent textures.
    
    +modCard('nmc-ttw', 'NMC Textures Combined - TTW', 'https://taleoftwowastelands.com/download/file.php?id=2189&sid=7e34f9e642b87e7e17516369d4a02a47', 'ttw-color')
        +author Roy Batty
        +installation
        pre.raised
            | Create a work folder.
            | Create a folder in your work folder and name it "NMC Textures - TTW".
            | Extract the Fallout 3 pack, the New Vegas Pack (Extract all three main into the same folder), and Washed out Wasteland pack into separate, easily identifiable folders.
            | Extract the script package.
            |
            | Select the script that corresponds to the Fallout 3 pack you downloaded and copy it into the “textures” sub folder of the extracted pack.
            | Double click on the script to execute it.
            | When the script has finished, delete it.
            | In the extracted Fallout 3, select and copy the textures folder and paste it in the "NMC Textures - TTW" folder.
            | 
            | Select the script that corresponds to the New Vegas pack and copy it into the “Textures” sub folder of the extracted pack.
            | Double click on the script to execute it.
            | When the script is finished, delete it.
            | In the extracted Fallout New Vegas folder, select and copy textures folders and paste it in the "NMC Textures - TTW" folder, select merge and overwrite when prompted.
            | 
            | Extract the Large Texture Pack Patches download and copy the “Textures” sub folder to the New Vegas pack directory where the other extracted New Vegas textures are.
            | Copy the "meshes" and "textures" folders of the combined cleaned New Vegas pack to the "NMC Textures - TTW" folder and select merge and overwrite when prompted.
            |
            | Select the script that corresponds to the Washed out Wasteland and copy it into the “Textures” sub folder of the extracted pack.
            | Double click on the script to execute it. When the script is finished, delete it.
            | Rename the folder “NMC Washed Out Wasteland”.
            | 
            | Close ModOrganizer, and navigate to "ModOrganizer/mods" folder, copy the "NMC Textures - TTW" and the “NMC Washed Out Wasteland” folders and paste them it into the "ModOrganizer/mods" folder.
            | Close explorer, launch ModOrganizer, and enable NMC Textures - TTW and NMC Washed Out Wasteland in the left pane.

        +hidden
            pre.mt0
                | Hide the following folders:
                |
                | Textures/interface

        div.raised
            +important 
                | The "NMC Washed Out Wasteland" folder is enabled during the Fallout 3 portion of Tale of Two Wastelands and disabled for
                | the New Vegas portion.

    //-
        MG's Neat Clutter Retextures
        Updated 2019-03-22
    //-
    +modCard('mgs-neat-clutter-retextures', "MG's Neat Clutter Retextures", 'https://www.nexusmods.com/newvegas/mods/42551', 'fnv-color')
        +author Mental Gear
        +version 7.0
        +installation Install #[span.file MGs NCR Pack Ojo friendly 7]
        +notes Hires textures and normal maps for more than 200 items or objects.

    //-
        Ojo Bueno Texture Pack
        Updated 2019-03-22
    //-
    +modCard('ojo-bueno', 'Ojo Bueno Texture Pack', 'https://www.nexusmods.com/newvegas/mods/39755', 'fnv-color')
        +author tapioks
        +version Quiznak
        +installation
            | Install #[span.file Ojo Bueno Texture Pack for FNV - ULTRA]
            | main file and #[span.file Ojo Bueno Vending Machine Update ULTRA] update file
        +notes High quality hand-crafted texture replacers for a myriad of items throughout the Mojave wasteland.

    //-
        UHQ Terrain, Rock, Roads, & Grass Overhaul
        Updated 2019-03-22
    //-
    +modCard('uhq-terrain-rock-roads-grass', 'UHQ Terrain, Rock, Roads, & Grass Overhaul', 'https://www.moddb.com/mods/uhq-terrain-rock-roads-grass-overhaul/downloads', 'fo3-color')
        +author Marcurios
        +version v1.1
        +installation Download #[span.file UHQ Terrain, Rock, Roads & Grass Overhaul v1.1]
        +hidden
            | Hide the following folders:
            |
            | meshes/architecture/urban
            | textures/architecture/urban
        +optional 
            | Double click UHQ Terrain, Rock, Roads, & Grass Overhaul in the left pane and go to the [Optional ESPs] tab.
            | Move the "MCGrass.esp" and "MCRockTextures.esp" to the "Optional ESPs" box.
        +notes This Texture/Mesh Pack will upgrade the Terrain fidelity of the Fallout 3 Wasteland.

    //-
        Mothership Zeta DLC Retextured
        Updated 2019-03-22
    //-
    +modCard('mothership-zeta-dlc-retextured', 'Mothership Zeta DLC Retextured', 'https://www.nexusmods.com/fallout3/mods/8260', 'fo3-color')
        +author Weijiesen
        +version 1.0
        +installation Install #[span.file WJS DLC05 Retex 1_0]
        +notes
            | The spaceship looks like metal instead of cardboard now! The aliens look creepy instead of bland now!
            | Zeta has been awesomefied. EVERY single last texture.

    //-
        Hectrol Tumbleweed
        Updated 2019-03-22
    //-
    +modCard('hectrol-tumbleweed', 'Hectrol Tumbleweed', 'https://www.nexusmods.com/newvegas/mods/40333', 'fnv-color')
        +author Hectrol
        +version 1.0
        +installation Install #[span.file Hectrol Tumbleweed Deluxe HighRes Retex]
        +notes This skin modifies the aspect of default boring tumbleweeds by realistic tumbleweeds, and adds a new Normal Map

    //-
        Textures Over Time
        Updated 2019-03-22
    //-
    +modCard('textures-over-time', 'Textures Over Time', 'https://www.nexusmods.com/newvegas/mods/41101', 'fnv-color')
        +author DonKnotts
        +version 1.0
        +installation Install #[span.file FlagStoneWalls], #[span.file HH_Sandstone], and #[span.file Sandbags]

    //-
        Money Higher Quality Retex
        Updated 2019-03-22
    //-
    +modCard('money-higher-quality-retex', 'Money Higher Quality Retex', 'https://www.nexusmods.com/newvegas/mods/40792', 'fnv-color')
        +author Lord Inquisitor
        +version 1.2
        +installation Install #[span.file MoneyRetexV1_2]

    //-
        Acoraito HD Textures Pack
        Updated 2019-03-22
    //-
    +modCard('acoraito-hd-textures', 'Acoraito HD Textures Pack', 'https://www.nexusmods.com/newvegas/mods/59194', 'fnv-color')
        +author Acoraito
        +installation Install #[span.file Acoraito HD Textures Pack 2k]

    //-
        Audley's Misc Textures
        Updated 2019-03-22
    //-
    +modCard('audleys-misc-textures', "Audley's Misc Textures", 'https://www.nexusmods.com/newvegas/mods/58318', 'fnv-color')
        +author Audley
        +version 1.0
        +installation Install #[span.file Audleys Misc Textures - Fear and Loathing] optional file

    //-
        Bear Trap Retextured
        Updated 2019-03-22
    //-
    +modCard('bear-trap-retextured', 'Bear Trap Retextured', 'https://www.nexusmods.com/fallout3/mods/11748', 'fo3-color')
        +author konji
        +version 1.00
        +installation Install #[span.file beartrap retextured]
        +notes A new texture for the bear trap.

    //-
        Cherry Bomb HD Retexture
        Updated 2019-03-22
    //-
    +modCard('cherry-bomb-hd-retexture', 'Cherry Bomb HD Retexture', 'https://www.nexusmods.com/newvegas/mods/61186', 'fnv-color')
        +author legandalfo and Jokerine
        +installation 
            | Install #[span.file Cherry Bomb HD retexture] main file, and 
            | #[span.file Round mesh for cherry bomb] optional files
        +notes Cherry Bomb retextured to be less ugly. 

    //-
        Fallout Food Package Retexture Compilation
        Updated 2019-03-22
    //-
    +modCard('food-package-retexture-collection', 'Fallout Food Package Retexture Compilation', 'https://www.nexusmods.com/newvegas/mods/59232', 'fnv-color')
        +author Majormodder 
        +version 3.0
        +installation Install #[span.file Food compilation dirty set uncompressed 3 point Oh]
        +optional 
            | Double click Fallout Food Package Retexture Compilation in the left pane and go to the [Optional ESPs] tab.
            | Move the "majormodder's Junk Food to Barbeque Crisps.esp" to the "Optional ESPs" box.
        +notes Revamps the old food textures for the box packages with textures ranging from 1k-2k size, lore friendly too. 

    //-
        Collision Meshes - Fallout Food Package Retexture Patch
        Updated 2019-03-22
    //-
    +modCard('collision-meshes-fo3-food-package-retexture-patch', 'Collision Meshes - Fallout Food Package Retexture Patch', 'https://www.nexusmods.com/fallout3/mods/21946', 'fo3-color')
        +author KaneWright
        +version 1.0
        +installation Install optional file #[span.file FalloutFoodPackageRetextureCompilationFix]

    //-
        Hectrol Lockinterface Deluxe
        Updated 2019-03-22
    //-
    +modCard('hectrol-lockinterface-deluxe', 'Hectrol Lockinterface Deluxe', 'https://www.nexusmods.com/newvegas/mods/39945', 'fnv-color')
        +author Hectrol
        +version 1.0
        +installation Install #[span.file Hectrol Lockinterface Deluxe HighRes Retex]
        +notes This skin modifies the aspect of blocked locks interface. The full effect of the Normal Map is displayed correctly in motion.

    //-
        Hectrol Mailbox Deluxe
        Updated 2019-03-22
    //-
    +modCard('hectrol-mailbox-deluxe', 'Hectrol Mailbox Deluxe', 'https://www.nexusmods.com/newvegas/mods/40513', 'fnv-color')
        +author Hectrol
        +version 1.0
        +installation Install #[span.file Hectrol Mailbox Deluxe HighRes Retex]
        +notes This skin modifies the aspect of default boring mailbox by realistic mailbox.

    //-
        Hi-Res Lunchbox
        Updated 2019-03-22
    //-
    +modCard('hi-res-lunchbox', 'Hi-Res Lunchbox', 'https://www.nexusmods.com/fallout3/mods/3682', 'fo3-color')
        +author Dazington
        +version 1.0
        +installation Install #[span.file Hi-Res_Lunchbox_V1_0]
        +notes Replaces the standard 256x256 lunchbox texture with a higher resolution 1024x1024

    //-
        Magazine Redux
        Updated 2019-03-22
    //-
    +modCard('magazine-redux', 'Magazine Redux', 'https://www.nexusmods.com/newvegas/mods/42681', 'fnv-color')
        +author razzy1319
        +version 1.1
        +installation Install #[span.file Magazine Redux] main file, and #[span.file MagRedux QuickFix] update file
        +notes High Quality(although grunged up to fit the lore) Magazines.

    //-
        Minimod - High Resolution Newspapers
        Updated 2019-03-22
    //-
    +modCard('minimod', 'Minimod - High Resolution Newspapers', 'https://www.nexusmods.com/newvegas/mods/50812', 'fnv-color')
        +author Tagaziel and LadySinestro
        +version 1.5
        +installation Download #[span.file New and Improved Meshes by LadySinestro]
        +mispackaged
            | This mod is packaged incorrectly
            | Expand 
            | Right click and select [Set Data Directory] and click [OK]

    //-
        Neglected Clutter
        Updated 2019-03-22
    //-
    +modCard('neglected-clutter', 'Neglected Clutter', 'https://www.nexusmods.com/newvegas/mods/59756', 'fnv-color')
        +author aogara
        +version 1.4
        +installation 
            | Install #[span.file Neglected Architecture and Furnitures], #[span.file Neglected Clutters], 
            | and #[span.file Neglected Clutters - New Paint Gun]

    //-
        PM's HD Ammo Boxes
        Updated 2019-03-22
    //-
    +modCard('pms-hd-ammo-boxes', "PM's HD Ammo Boxes", 'https://www.nexusmods.com/newvegas/mods/64007', 'fnv-color')
        +author Pommymax
        +version 1.1
        +installation Install #[span.file PM's HD Ammo Boxes - 4K Diffuse 2K Normals] optional file
        +notes HD Retextures for all ammo boxes.

    //-
        PM's Med-Textures - HD Chems and Venoms
        Updated 2019-03-22
    //-
    +modCard('pms-med-textures', "PM's Med-Textures - HD Chems and Venoms", 'https://www.nexusmods.com/newvegas/mods/62946', 'fnv-color')
        +author Pommymax
        +version 1.0
        +installation
            | Install #[span.file PM's Med-Textures v1.0] main file, #[span.file PM's Med-X Texture],
            | and #[span.file Sebastjin's Normals] optional files
        +notes HD Retextures for all chems, venoms, and antivenoms.

    //-
        Pre-War Money Retexture
        Updated 2019-03-22
    //-
    +modCard('pre-war-money-retexture', 'Pre-War Money Retexture', 'https://www.nexusmods.com/newvegas/mods/36718', 'fnv-color')
        +author Red.Room.Service
        +version  1.2
        +installation Install #[span.file Pre-War Money Retexture -RRS]. When prompted, select Light Distress for both bills.
        +notes A re-texture of Pre-War Money featuring authentic, time-frame accurate, appropriately distressed, bills

    +modCard('spoon-redone', 'Spoon Redone', 'https://www.nexusmods.com/newvegas/mods/66237', 'fnv-color')
        +author TactaGhoul
        +version 1.1
        +installation Install #[span.file SpoonRedone_v1.1]

    +modCard('fork-redone', 'Fork Redone', 'https://www.nexusmods.com/newvegas/mods/66202', 'fnv-color')
        +author PrinceMinusA
        +version 1.2
        +installation Install #[span.file Fork Redone 1.2 (Newest)]

    //-
        TVSet Retextured
        Updated 2019-03-22
    //-
    +modCard('tvset-retextured', 'TVSet Retextured', 'https://www.nexusmods.com/fallout3/mods/23023', 'fo3-color')
        +author d7 aka id2301
        +version 1
        +installation Install #[span.file d7_tvset_retextured]

    //-
        Tweaked Cashregister
        Updated 2019-03-22
    //-
    +modCard('tweaked-cashregister', 'Tweaked Cashregister', 'https://www.nexusmods.com/newvegas/mods/40329', 'fnv-color')
        +author Lord Inquisitor and Tapiokas
        +version 1.0
        +installation Install #[span.file TweakCashregisterV1_0]
        +notes Cashregister tweaked and made more 3d based

    //-
        Tweaked Chems Replacer
        Updated 2019-03-22
    //-
    +modCard('tweaked-chems-replacer', 'Tweaked Chems Replacer', 'https://www.nexusmods.com/newvegas/mods/37255', 'fnv-color')
        +author Lord Inquisitor
        +version 1.1
        +installation Install #[span.file TweakChems1_1]
        +notes The chems given a tweaked meshs and also new textures in case of Mentats, Rebound, and Jet Turbo. 

    //-
        Tweaked Coffee Maker
        Updated 2019-03-22
    //-
    +modCard('tweaked-coffee-maker', 'Tweaked Coffee Maker', 'https://www.nexusmods.com/fallout3/mods/10246', 'fo3-color')
        +author Lord Inquisitor
        +version 1.0
        +installation Install #[span.file coffeemaker01 v1]
        +notes A tweaked Coffeemaker for the office, made it so its less flat. Adds the "wings", switches and grilles. Causes minor issue with a TTW Interiors mesh.

    //-
        Tweaked Generator
        Updated 2019-03-22
    //-
    +modCard('tweaked-generator', 'Tweaked Generator', 'https://www.nexusmods.com/fallout3/mods/12353', 'fo3-color')
        +author Lord Inquisitor
        +version 1.0
        +installation Install #[span.file GeneratorTweaked1_0]
        +notes Replaces the vanilla generator mesh (generator01.nif) with a slightly up meshed version.

    //-
        Tweaked Intercom
        Updated 2019-03-22
    //-
    +modCard('tweaked-intercom', 'Tweaked Intercom', 'https://www.nexusmods.com/fallout3/mods/10003', 'fo3-color')
        +author Lord Inquisitor
        +version 1.0
        +installation Install #[span.file Intercom01 replacer]
        +mispackaged
            | This mod is packaged incorrectly
            | Expand 
            | Right click and select [Set Data Directory] and click [OK]
        +notes Just makes it more 3D. Original was a bit too flat.

    //-
        Tweaked Wrench
        Updated 2019-03-22
    //-
    +modCard('tweaked-wrench', 'Tweaked Wrench', 'https://www.nexusmods.com/fallout3/mods/10212', 'fo3-color')
        +author Lord Inquisitor
        +version  1.0
        +installation Install #[span.file Wrench01 V_0]
        +mispackaged
            | This mod is packaged incorrectly
            | Expand 
            | Right click and select [Set Data Directory] and click [OK]
        +notes The Vanilla Wrench has been tweaked to be more 3D with hollow handle, hanging hole and adjuster.

    //-
        Vertibird Re-textured
        Updated 2019-03-22
    //-
    +modCard('vertibird-retextured', 'Vertibird Re-textured', 'https://www.nexusmods.com/fallout3/mods/8602', 'fo3-color')
        +author Macintroll
        +version v0.1
        +installation Install #[span.file Vertibird re-textured]
        +mispackaged
            | This mod is packaged incorrectly
            | Expand 
            | Right click and select [Set Data Directory] and click [OK]

- mods.push(textures)