//-
    Tools
    Updated 2019-03-22
//-

- sections.push(['#tools', 'Tools'])
- let tools = []

section#tools
    h2.section-header Tools
    
    //-
        7-Zip
        Updated 2019-03-22
    //-
    - tools.push(['#7-zip', '7-Zip'])
    +modCard('7-zip', '7-Zip', 'https://www.7-zip.org', 'tool-color')
        +author Igor Pavlov
        +version 2019-02-21
        +installation Download the 64-bit x64 exe

    //-
        FNVEdit aka xEdit
        Updated 2019-03-22
    //-
    - tools.push(['#fnvedit', 'FNVEdit aka xEdit'])
    +modCard('fnvedit', 'FNVEdit aka xEdit', 'https://www.nexusmods.com/newvegas/mods/34703', 'tool-color')
        +author ElminsterAU
        +version 4.0.2
        +notes 
            | The function of this tool is to remove Identical To Master(ITM) records, Undelete Deleted Records(UDR), 
            | and clean dirty edits as specified by the guide the ESMs and ESPs that Fallout will be loading. 

    //-
        Mod Organizer
        Updated 2019-03-22
    //-
    - tools.push(['#mod-organizer', 'Mod Organizer'])
    +modCard('mod-organizer', 'Mod Organizer', 'https://www.nexusmods.com/skyrimspecialedition/mods/6194', 'tool-color')
        +author Tannin, MO2 Team 
        +version 2.1.6 (Installer version)
        +installation
            pre.raised
                | To use MO for multiple games it must have multiple installs in different locations. 
                | It is recommended to put each install of MO into the game directory of each game that it will be installed for. We will only be managing Fallout New Vegas.
                | For New Vegas, it should go into .../Steam/steamapps/common/Fallout New Vegas.
                |
                | In the installer, check "Handle NXM Links".
                | This allows direct downloading of mods using the "Download With Manager" button on Nexus mod pages.
        +notes The function of this tool is to manage mods and is the mod manager of choice for this guide.

    //-
        LOOT
        Updated 2019-03-22
    //-
    - tools.push(['#loot', 'LOOT'])
    +modCard('loot', 'LOOT', 'https://loot.github.io', 'tool-color')
        +author LOOT Team
        +version v0.14.3
        +installation Download LOOT.Installer.exe

- mods.push(tools)