//-
    UI
    Updated 2019-03-22
//-

- sections.push(['#ui', 'User Interface'])
- mods.push([])

section#ui
    h2.section-header User Interface

    h3.section-header HUD

    //-
        FPS Weapon Wheel
        Updated 2019-04-02
    //-
    #fps-weapon-wheel
        +name('FPS Weapon Wheel', 'https://www.nexusmods.com/newvegas/mods/39997', 'fnv')
        +modInfo
            +author vivanto
            +version 1.13
            +installation Install #[+file('FPSWeaponWheel113')]

    //-
        FPS Weapon Wheel - Vanilla UI Patch
        Updated 2019-04-02
    //-
    #fps-weapon-wheel-vanilla-ui
        +name('FPS Weapon Wheel - Vanilla UI Patch', 'https://www.nexusmods.com/newvegas/mods/63908', 'fnv')
        +modInfo
            +author frosty-theaussie
            +version 1.0
            +installation Install #[+file('FPS Weapon Wheel - Vanilla UI Patch')]

    //-
        Loot Menu
        Updated 2019-04-02
    //-
    #loot-menu
        +name('Loot Menu', 'https://www.nexusmods.com/newvegas/mods/61723', 'fnv')
        +modInfo
            +author Gribbleshnibit8
            +version 1.13
            +installation Install #[+file('Loot Menu')]

    //-
        Loot Menu - Vanilla UI Patch
        Updated 2019-04-02
    //-
    #loot-menu-vanilla-ui
        +name('Loot Menu - Vanilla UI Patch', 'https://www.nexusmods.com/newvegas/mods/63908', 'fnv')
        +modInfo
            +author frosty-theaussie
            +version 1.1
            +installation Install #[+file('Loot Menu - Vanilla UI Patch')]

    //-
        Weapon Wheel Plus Looting Menu for FNV
        Updated 2019-04-02
    //-
    #weapon-wheel-plus-looting
        +name('Weapon Wheel Plus Looting Menu for FNV', 'https://www.nexusmods.com/newvegas/mods/65198', 'fnv')
        +modInfo
            +author samaelaunweor
            +version 1.0
            +installation Install #[+file('Weapon Wheel Plus Looting Menu for FNV')]

    //-
        Better Pickup Prompt
        Updated 2019-04-02
    //-
    +modCard('better-pick-up-prompt', 'Better Pickup Prompt', 'https://www.nexusmods.com/newvegas/mods/63091', 'fnv-color')
        +author Ladez
        +version 2.0
        +installation Install #[span.file Better Pickup Prompt]

    //-
        The Mod Configuration Menu
        Updated 2019-03-22
    //-
    +modCard('mcm', 'The Mod Configuration Menu', 'https://www.nexusmods.com/newvegas/mods/42507', 'fnv-color')
        +author Pelinor
        +version 1.5
        +installation
            | Install #[span.file The Mod Configuration Menu] main file, and the
            | #[span.file MCM BugFix 2] update file
        +notes Allows any number of mods to be configured from a single menu.

    //-
        High Quality Pip-Boy Icons
        Updated 2019-03-22
    //-
    +modCard('high-quality-pip-boy-icons', 'High Quality Pip-Boy Icons', 'https://www.nexusmods.com/fallout3/mods/22808', 'fo3-color')
        +author Genin32
        +version 3.00
        +installation Install #[span.file High Quality Pip-Boy Icons]
        +notes This mod remasters over 100+ pip-boy icons: stats, skills, perks and apparel.

    //-
        The Weapon Mod Menu
        Updated 2019-04-02
    //-
    +modCard('weapon-mod-menu', 'The Weapon Mod Menu', 'https://www.nexusmods.com/newvegas/mods/44515', 'fnv-color')
        +author Pelinor
        +version 1.2
        +installation Install #[span.file The Weapon Mod Menu]
        +notes Opens up new features to the weapon modding interface used in game, so it is more intuitive.

    //-
        Vanilla UI Plus
        Updated 2019-03-22
    //-
    +modCard('vanilla-ui-plus', 'Vanilla UI Plus', 'https://www.moddb.com/mods/vanilla-ui-plus/downloads', 'fnv-color')
        +author Axonis
        +version 7.71
        +installation Install #[span.file Vanilla UI Plus (New Vegas) 7.71]
        +notes
            | Vanilla UI Plus (VUI+) is a Fallout 3 and New Vegas mod that greatly improves the user interface without
            | compromising the original style.

    //-
        Vanilla HUD Remastered
        Updated 2019-03-22
    //-
    +modCard('vanilla-hud-remastered', 'Vanilla HUD Remastered', 'https://www.nexusmods.com/newvegas/mods/64102', 'fnv-color')
        +author BmanBlazer
        +version 1.83
        +installation Install #[span.file Vanilla HUD Remastered 4K v1.83]
        +instructions
            | Select VHR with VUI+ Patch.
        +notes
            | This mod is designed to update the HUD for 1080p resolutions or higher (1440p, 4K, etc) while maintaining the
            | same original look and style.

    //-
        Enhanced Item Info - Extra UI HUD
        Updated 2019-04-02
    //-
    +modCard('enhanced-item-info', 'Enhanced Item Info - Extra UI HUD', 'https://www.nexusmods.com/newvegas/mods/60534', 'fnv-color')
        +author pintocat
        +version 1.4.3
        +installation Install #[span.file Enhanced Item Info 1-4-3] and #[span.file Enhanced Item Info - Non-Darn patch] old file

    //-
        UIO - UI Organizer
        Updated 2019-03-22
    //-
    +modCard('uio', 'UIO - UI Organizer', 'https://www.nexusmods.com/newvegas/mods/57174', 'fnv-color')
        +author jazzisparis
        +version 2.03
        +installation Install #[span.file UIO - User Interface Organizer]
        +notes
            | An NVSE-powered plugin that is designed to manage and maintain all UI/HUD extensions added to the game by
            | various mods. Once installed, UIO will ensure UI extensions are always properly installed and, when necessary,
            | properly removed; it will automatically detect, resolve and prevent UI-related issues, and will help keep the game's
            | UI intact.


    //-
        One HUD - oHUD
        Updated 2019-04-02
    //-
    +modCard('ohud', 'One HUD - oHUD', 'https://www.nexusmods.com/newvegas/mods/44757', 'fnv-color')
        +author Gopher
        +version 1.1
        +installation Install #[span.file One HUD (oHUD)]

    h3.section-header Other UI

    //-
        CASM with MCM
        Updated 2019-04-02
    //-
    #casm-with-mcm
        +name('CASM with MCM', 'https://www.nexusmods.com/newvegas/mods/45652', 'fnv')
        +modInfo
            +author Cipscis and Gribbleshnibit8
            +version 1.8
            +installation Install #[+file('CASM with MCM')]

    //-
        Enhanced Camera
        Updated 2019-04-02
    //-
    #enhanced-camera
        +name('Enhanced Camera', 'https://www.nexusmods.com/newvegas/mods/45652', 'fnv')
        +modInfo
            +author LogicDragon
            +version 1.4c
            +installation Install #[+file('Enhanced Camera 1.4c')]

    //-
        JIP Improved Recipe Menu
        Updated 2019-03-22
    //-
    +modCard('jip-improved-recipe-menu', 'JIP Improved Recipe Menu', 'https://www.nexusmods.com/newvegas/mods/59638', 'fnv-color')
        +author jazzisparis
        +version 1.20
        +installation Install #[span.file JIP Improved Recipe Menu]
        +notes This mod makes the crafting interface (Recipe Menu) easier, more efficient and less tedious to use.

    //-
        JIP Companions Command and Control
        Updated 2019-04-02
    //-
    +modCard('jip-ccc', 'JIP Companions Command and Control', 'https://www.nexusmods.com/newvegas/mods/50468', 'fnv-color')
        +author jazzisparis
        +version 2.60
        +installation Install #[span.file JIP Companions Command and Control]

    //-
        Pause Menu HD
        Updated 2019-04-02
    //-
    #pause-menu-hd
        +name('Pause Menu HD', 'https://www.nexusmods.com/newvegas/mods/63934', 'fnv')
        +modInfo
            +author pilamin
            +version 1.0
            +installation Install #[+file('Pause Menu HD - 2048')]

    h3.section-header Sortomatic

    //-
        Sortomatic
        Updated 2019-04-02
    //-
    +modCard('sortomatic', 'Sortomatic', 'https://www.nexusmods.com/newvegas/mods/41142', 'fnv-color')
        +author tunaisafish and Gribbleshnibit8
        +version 1.3
        +installation Install #[span.file Sortomatic_v1_3]

    //-
        Sortomatic Ingredient Loader
        Updated 2019-04-02
    //-
    +modCard('sortomatic-ingredient', 'Sortomatic Ingredient Loader', 'https://www.nexusmods.com/newvegas/mods/65921', 'fnv-color')
        +author pintocat
        +version 1.1
        +installation Install #[span.file Sortomatic Ingredient Loader 1-1]

    //-
        TTW DLC Sortomatic Homes
        Updated 2019-04-02
    //-
    +modCard('sortomatic-homes', 'TTW DLC Sortomatic Homes', 'https://www.nexusmods.com/newvegas/mods/65988', 'ttw-color')
        +author pintocat
        +version 1.0
        +installation Install #[span.file TTW DLC Sortomatic Homes 1-0]
