//-
    Weapons
    Updated 2019-03-22
//-

- sections.push(['#weapons', 'Weapons'])
- let weapons = []

section#weapons
    h2.section-header Weapons

    //-
        Bowie knife retexture
        Updated 2019-03-22
    //-
    - weapons.push(['#bowie-knife-retexture', 'Bowie knife retexture'])
    +modCard('bowie-knife-retexture', 'Bowie knife retexture', 'https://www.nexusmods.com/newvegas/mods/62970', 'fnv-color')
        +author FalloutMG
        +version 1
        +installation Install Bowie knife retexture
    
    //-
        Cleaver and Chopper Retexture
        Updated 2019-03-22
    //-
    - weapons.push(['#cleaver-chopper-retexture', 'Cleaver and Chopper Retexture'])
    +modCard('cleaver-chopper-retexture', 'Cleaver and Chopper Retexture', 'https://www.nexusmods.com/newvegas/mods/63539', 'fnv-color')
        +author FalloutMG
        +installation Install Cleaver Retexture

    //-
        Combat and Chance's knife retexture
        Updated 2019-03-22
    //-
    - weapons.push(['#combat-chance-knife-retexture', "Combat and Chance's knife retexture"])
    +modCard('combat-chance-knife-retexture', "Combat and Chance's knife retexture", 'https://www.nexusmods.com/newvegas/mods/63055', 'fnv-color')
        +author FalloutMG
        +version 1
        +installation Install Combat knife Retexture

    //-
        Fallout 3 Hirezd
        Updated 2019-03-22
    //-
    - weapons.push(['#fo3-hirezd', 'Fallout 3 Hirezd'])
    +modCard('fo3-hirezd', 'Fallout 3 Hirezd', 'https://www.nexusmods.com/fallout3/mods/19931', 'fo3-color')
        +author Emerald Reign
        +installation Install BB Gun, Grenades, Knuckles, Lincolns Repeater, and Mines

    //-
        Hatchet retexture
        Updated 2019-03-22
    //-
    - weapons.push(['#hatchet-retexture', 'Hatchet retexture'])
    +modCard('hatchet-retexture', 'Hatchet retexture', 'https://www.nexusmods.com/newvegas/mods/62997', 'fnv-color')
        +author FalloutMG
        +version 1
        +installation Install Hatchet retexture

    //-
        HD One Hand Melee
        Updated 2019-03-22
    //-
    - weapons.push(['#hd-one-hand-melee', 'HD One Hand Melee'])
    +modCard('hd-one-hand-melee', 'HD One Hand Melee', 'https://www.nexusmods.com/newvegas/mods/42509', 'fnv-color')
        +author InsanitySorrow, 2cooldays 
        +installation Install Install One Hand Melee HD and Gun Runner Box HD
            pre.raised
                | During installation do not install the meshes folder

    //-
        Laer Retexture
        Updated 2019-03-22
    //-
    - weapons.push(['#laer-retexture', 'Laer Retexture'])
    +modCard('laer-retexture', 'Laer Retexture', 'https://www.nexusmods.com/newvegas/mods/45042', 'fnv-color')
        +author  The Riff
        +version 1.1
        +installation Install Main
            pre.raised
                | This mod is packaged incorrectly.
                | During install right click "data" and select [Set Data Directory]
                | Untick "before.png" and "after.png"
                | Click [Ok]

    //-
        MFC Grenade Texture Fix
        Updated 2019-03-22
    //-
    - weapons.push(['#mfg-grenade-texture-fix', 'MFC Grenade Texture Fix'])
    +modCard('mfg-grenade-texture-fix', 'MFC Grenade Texture Fix', 'https://www.nexusmods.com/newvegas/mods/58734', 'fnv-color')
        +author Adonis VII
        +version v1.0
        +installation Install MFC Meshes

    //-
        Retextured Fallout Ordnance - RFO
        Updated 2019-03-22
    //-
    - weapons.push(['#rfo', 'Retextured Fallout Ordnance - RFO'])
    +modCard('rfo', 'Retextured Fallout Ordnance - RFO', 'https://www.nexusmods.com/newvegas/mods/44429', 'fnv-color')
        +author Emerald Reign
        +version 0.2
        +installation Install Retextured FALLOUT Ordnance

    //-
        Shishkebab the Retexture
        Updated 2019-03-22
    //-
    - weapons.push(['#shishkebab-the-retexture', 'Shishkebab the Retexture'])
    +modCard('shishkebab-the-retexture', 'Shishkebab the Retexture', 'https://www.nexusmods.com/fallout3/mods/3879', 'fo3-color')
        +author macintroll
        +installation Install shishkebab the flaming sword

    //-
        Throwing melee weapon retexture
        Updated 2019-03-22
    //-
    - weapons.push(['#throwing-melee-weapon-retexture', 'Throwing melee weapon retexture'])
    +modCard('throwing-melee-weapon-retexture', 'Throwing melee weapon retexture', 'https://www.nexusmods.com/newvegas/mods/63000', 'fnv-color')
        +author FalloutMG
        +version 1
        +installation Install Throwing melee weapon retexture

    //-
        Weapon Enhancement Project
        Updated 2019-03-22
    //-
    - weapons.push(['#weapon-enhancement-project', 'Weapon Enhancement Project'])
    +modCard('weapon-enhancement-project', 'Weapon Enhancement Project', 'https://www.nexusmods.com/fallout3/mods/21245', 'fo3-color')
        +author Christopher Wallace and MadCat221
        +version 1.0
        +installation Install Weapon Enhancement Pack

    //-
        Weapon Retexture Project
        Updated 2019-03-22
    //-
    - weapons.push(['#weapon-retexture-project', 'Weapon Retexture Project'])
    +modCard('weapon-retexture-project', 'Weapon Retexture Project', 'https://www.nexusmods.com/newvegas/mods/38285', 'fnv-color')
        +author Millenia
        +version 2.1.8
        +installation Install Weapon Retexture Project - WRP main file, WRP Hotfix update file, and WRP-TTW Patch optional file

    //-
        Bozar Retexture
        Updated 2019-03-22
    //-
    - weapons.push(['#bozar-retexture', 'Bozar Retexture'])
    +modCard('bozar-retexture', 'Bozar Retexture', 'https://www.nexusmods.com/newvegas/mods/56477', 'fnv-color')
        +author Millenia
        +version 1.1
        +installation Install Bozar_retexture_4k_maps

    //-
        Half Hansified Holorifle
        Updated 2019-03-22
    //-
    - weapons.push(['#half-hansified-holorifle', 'Half Hansified Holorifle'])
    +modCard('half-hansified-holorifle', 'Half Hansified Holorifle', 'https://www.nexusmods.com/newvegas/mods/50547', 'fnv-color')
        +author MadCat221
        +version 1
        +installation Install Half Hansified Holorifle Standard
            pre.raised
                | Rename holorifle.nif to Nvdlc01weapholorifle.nif

- mods.push(weapons)