//-
    Weapons
    Updated 2019-03-22
//-

- sections.push(['#weapons', 'Weapons'])
- let weapons = []

section#weapons
    h2.section-header Weapons

    //-
        Bowie knife retexture
        Updated 2019-03-22
    //-
    #bowie-knife-retexture
        +name('Bowie knife retexture', 'https://www.nexusmods.com/newvegas/mods/62970', 'fnv')
        +modInfo
            +author FalloutMG
            +version 1
            +installation Install #[+file('Bowie knife retexture')]
 
    //-
        Cleaver and Chopper Retexture
        Updated 2019-03-22
    //-
    #cleaver-chopper-retexture
        +name('Cleaver and Chopper Retexture', 'https://www.nexusmods.com/newvegas/mods/63539', 'fnv')
        +modInfo
            +author FalloutMG
            +installation Install #[+file('Cleaver Retexture')]

    //-
        Combat and Chance's knife retexture
        Updated 2019-03-22
    //-
    #combat-chance-knife-retexture
        +name("Combat and Chance's knife retexture", 'https://www.nexusmods.com/newvegas/mods/63055', 'fnv')
        +modInfo
            +author FalloutMG
            +version 1
            +installation Install #[+file('Combat knife Retexture')]

    //-
        Fallout 3 Hirezd
        Updated 2019-03-22
    //-
    #fo3-hirezd
        +name('Fallout 3 Hirezd','https://www.nexusmods.com/fallout3/mods/19931','fo3')
        +modInfo
            +author Emerald Reign
            +installation 
                | Install #[+file('BB Gun')], #[+file('Grenades')], #[+file('Knuckles')],
                | #[+file('Lincolns Repeater')], and #[+file('Mines')]

    //-
        Hatchet retexture
        Updated 2019-03-22
    //-
    #hatchet-retexture
        +name('Hatchet retexture', 'https://www.nexusmods.com/newvegas/mods/62997', 'fnv')
        +modInfo
            +author FalloutMG
            +version 1
            +installation Install #[+file('Hatchet retexture')]

    //-
        HD One Hand Melee
        Updated 2019-03-22
    //-
    #hd-one-hand-melee
        +name('HD One Hand Melee', 'https://www.nexusmods.com/newvegas/mods/42509', 'fnv')
        +modInfo
            +author InsanitySorrow, 2cooldays 
            +installation Install #[+file('One Hand Melee HD')] and #[+file('Gun Runner Box HD')]
            pre.raised During installation do not install the meshes folder

    //-
        Laer Retexture
        Updated 2019-03-22
    //-
    #laer-retexture
        +name('Laer Retexture', 'https://www.nexusmods.com/newvegas/mods/45042', 'fnv')
        +modInfo
            +author  The Riff
            +version 1.1
            +installation Install #[+file('Main')]
            pre.raised
                | This mod is packaged incorrectly.
                | During install right click "data" and select [Set Data Directory]
                | Untick "before.png" and "after.png"
                | Click [Ok]

    //-
        MFC Grenade Texture Fix
        Updated 2019-03-22
    //-
    #mfc-grenade-texture-fix
        +name('MFC Grenade Texture Fix', 'https://www.nexusmods.com/newvegas/mods/58734', 'fnv')
        +modInfo
            +author Adonis VII
            +version v1.0
            +installation Install #[+file('MFC Meshes')]

    //-
        Retextured Fallout Ordnance - RFO
        Updated 2019-03-22
    //-
    #rfo
        +name('Retextured Fallout Ordnance - RFO', 'https://www.nexusmods.com/newvegas/mods/44429', 'fnv')
        +modInfo
            +author Emerald Reign
            +version 0.2
            +installation Install #[+file('Retextured FALLOUT Ordnance')]

    //-
        Shishkebab the Retexture
        Updated 2019-03-22
    //-
    #shishkebab-the-retexture
        +name('Shishkebab the Retexture', 'https://www.nexusmods.com/fallout3/mods/3879', 'fo3')
        +modInfo
            +author macintroll
            +installation Install #[+file('shishkebab the flaming sword')]

    //-
        Throwing melee weapon retexture
        Updated 2019-03-22
    //-
    #throwing-melee-weapon-retexture
        +name('Throwing melee weapon retexture', 'https://www.nexusmods.com/newvegas/mods/63000', 'fnv')
        +modInfo
            +author FalloutMG
            +version 1
            +installation Install #[+file('Throwing melee weapon retexture')]

    //-
        Weapon Enhancement Project
        Updated 2019-03-22
    //-
    #weapon-enhancement-project
        +name('Weapon Enhancement Project', 'https://www.nexusmods.com/fallout3/mods/21245', 'fo3')
        +modInfo
            +author Christopher Wallace and MadCat221
            +version 1.0
            +installation Install #[+file('Weapon Enhancement Pack')]

    //-
        Weapon Retexture Project
        Updated 2019-03-22
    //-
    //- - weapons.push(['#weapon-retexture-project', 'Weapon Retexture Project'])
    //- +modCard('weapon-retexture-project', 'Weapon Retexture Project', 'https://www.nexusmods.com/newvegas/mods/38285', 'fnv-color')
    //-     +author Millenia
    //-     +version 2.1.8
    //-     +installation 
    //-         | Install #[span.file Weapon Retexture Project - WRP] main file, 
    //-         | #[span.file WRP Hotfix] update file, and #[span.file WRP-TTW Patch] optional file

    //-
        Bozar Retexture
        Updated 2019-03-22
    //-
    //- - weapons.push(['#bozar-retexture', 'Bozar Retexture'])
    //- +modCard('bozar-retexture', 'Bozar Retexture', 'https://www.nexusmods.com/newvegas/mods/56477', 'fnv-color')
    //-     +author Millenia
    //-     +version 1.1
    //-     +installation Install #[span.file Bozar_retexture_4k_maps]

    //-
        Half Hansified Holorifle
        Updated 2019-03-22
    //-
    //- - weapons.push(['#half-hansified-holorifle', 'Half Hansified Holorifle'])
    //- +modCard('half-hansified-holorifle', 'Half Hansified Holorifle', 'https://www.nexusmods.com/newvegas/mods/50547', 'fnv-color')
    //-     +author MadCat221
    //-     +version 1
    //-     +installation Install #[span.file Half Hansified Holorifle Standard]
    //-         pre.raised
    //-             | Rename holorifle.nif to Nvdlc01weapholorifle.nif

- mods.push(weapons)