:root {
  --page-bg: #0a1919;
  --mod-card-bg: #91a6bb;
  --instructions-bg: #d3d3d3;
  --important-bg: #ff6653;
  --ini-bg: #7494ff;
  --merge-bg: #eb8cba;
  --optional-bg: #f68f3b;
  --settings-bg: #d9b400;
  --mod-name-bg: #2f4f4f;
  --copy-bg: gray;
  --menu-accent-bg: #4caf50;
  --tool-color: #9666fc;
  --fo3-mod-color: #74fc39;
  --fnv-mod-color: #fcb040;
  --ttw-mod-color: #7bdefc;
  --hidden-bg: #4597de;
  --mispackage-bg: #8c7b4c;
  --white: #fff;
  --raised-shadow: 2px 3px 3px 0 rgba(41, 41, 41, 0.3);
}
body {
  background-color: var(--page-bg);
  margin-left: 0;
  margin-bottom: 5rem;
}
main {
  margin: 0 auto;
  width: 98%;
}
form {
  background-color: var(--mod-card-bg);
}
button {
  background-color: var(--menu-accent-bg);
  color: white;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: var(--raised-shadow);
  cursor: pointer;
}
.important {
  font-family: sans-serif;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
}
textarea,
input {
  background-color: var(--instructions-bg);
  box-shadow: var(--raised-shadow);
  border: none;
}
input {
  height: 2.25rem;
}
textarea {
  padding: 1rem;
}
.copy-bg {
  background-color: var(--copy-bg);
  padding: 0.5rem;
  font-family: sans-serif;
  font-weight: bold;
}

.core {
  float: right;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.25rem;
  cursor: help;
}

/* Section header font sizes */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4 {
  color: var(--white);
  font-family: sans-serif;
  margin-bottom: 0;
}

/* Link colors */
a {
  color: var(--white);
  text-decoration: none;
  font-family: sans-serif;
}
/* Generic link hover style */
a:hover {
  text-decoration: underline;
}

/* Instructions */
pre {
  white-space: pre-wrap;
  background-color: var(--instructions-bg);
  font-family: monospace;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Helper classes */
.mw-100 {
  max-width: 100%;
}
.mw40 {
  max-width: 40rem;
}

.b {
  font-weight: bold;
}
.mod-card-bg .instruction-block,
.raised {
  box-shadow: var(--raised-shadow);
}
.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.pt2 {
  padding-top: 2rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.center {
  margin: 0 auto;
}
.w-80 {
  width: 80%;
}
.tool-color {
  color: var(--tool-color);
}
.fo3-color {
  color: var(--fo3-mod-color);
}
.fnv-color {
  color: var(--fnv-mod-color);
}
.ttw-color {
  color: var(--ttw-mod-color);
}

.db {
  display: block;
}

/* Link styles */
.fo3-color,
.fnv-color,
.ttw-color,
.tool-color {
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

/* Link hover styles */
.fo3-color:hover,
.fnv-color:hover,
.ttw-color:hover,
.tool-color:hover {
  color: var(--white);
  text-decoration: none;
}

/* Special header styles */
.ini,
.merge,
.important,
.optional,
.hidden,
.mispackage {
  font-family: sans-serif;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
}

/* Special header colors */
.ini {
  background-color: var(--ini-bg);
}
.important {
  background-color: var(--important-bg);
}
.merge {
  background-color: var(--merge-bg);
}
.optional {
  background-color: var(--optional-bg);
}
.hidden {
  background-color: var(--hidden-bg);
}
.mispackage {
  background-color: var(--mispackage-bg);
}

.group .mod-name:not(:first-of-type) {
  margin-top: 0;
}

/* Mod card name style */
.mod-name {
  background-color: var(--mod-name-bg);
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Mod cards */
.mod-card-bg {
  background-color: var(--mod-card-bg);
  padding: 0.5rem;
}

/* File name bubble */
.file {
  background: #67829c;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

nav {
  display: none;
}

nav ul {
  font-size: 0.85rem;
}

ul,
li {
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

li a {
  padding-left: 1rem;
}

.nav-header {
  font-size: 2rem;
  font-family: sans-serif;
  padding-left: 0;
  background: var(--menu-accent-bg);
  border-bottom: solid thin black;
}

li,
li a {
  color: #000000;
}

li:hover a,
.nav-header a {
  color: #ffffff;
  text-decoration: none;
}
#adding-mods a,
#changelog a {
  color: var(--menu-accent-bg);
  font-weight: bold;
}
li:hover,
li:focus-within {
  cursor: pointer;
  background: var(--menu-accent-bg);
}

li:focus-within a {
  outline: none;
}

@media screen and (min-width: 60em) {
  nav {
    top: 0;
    position: fixed;
    width: 13rem;
    display: block;
  }
  main {
    max-width: 60rem;
    margin-left: 18rem;
  }
}
