h3 Annoyances

//- Tutorial Killer
- hasPlugins = true
- coreMod = true
- modId = 'tutorial-killer'
- modName = 'Tutorial Killer'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/47746'
- modAuthor = 'pintocat, Roy Batty'
- modVersion = '1.52'
- mainFiles = ['Tutorial Killer - Scripted version']
+mod
    +notes
        | This removes message boxes that pop up during the tutorial,
        | as well as one-time help pop-ups, repeating corner-messages.


//- lStewieAl's Tweaks
- coreMod = true
- configFiles = true
- modId = '1stewieAI-tweaks'
- modName = "lStewieAl's Tweaks"
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66347'
- modAuthor = 'lStewieAl'
- modVersion = '2.45'
- mainFiles = ['Stewie Tweaks']
- optionalFiles = ['Stewie Tweaks INI']
+mod
    +instructions
        | Double click lStewieAl's Tweaks in the left pane of Mod Organizer
        | Click the [INIs] tab
        | Modify the ini settings as below
    +ini('Enable features in nvse_stewie_tweaks.ini')
        | [Tweaks]
        | bNoScreenshotPopup=1
        | bNoKarmaMessages=1
        | bNoCrippleCriticalMessages=1
        | bFasterSleepWait=1
        | bNoXPMessages=1
        | bNoUnconciousMessage=1
        | bNoStartMenuDLCPopup=1
    +notes
        | An espless collection of small game tweaks with an INI to configure settings.
        | Includes Faster Sleep Wait, Essential Companions toggle and more.


//- Delay DLC TTW
- hasPlugins = true
- coreMod = true
- modId = 'delay-dlc'
- modName = 'Delay DLC TTW'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66690'
- fileType = 'ttw'
- modAuthor = 'Gribbleshnibit8'
- modVersion = '1.0'
- mainFiles = ['Delay DLC 1.0 - TTW 3.2']
+mod
    +notes
        | It stops the annoying messages that display when a new DLC is loaded, and requires
        | that you be within a certain distance of the broadcast location before you can pick
        | up the radio signal. Once you do have the signal, you have to listen to the WHOLE
        | thing in order to get the quest and map marker for the location.
