h3 Combat

//- BLEED
- difficulty = true
- hasPlugins = true
- modId = 'bleed'
- modName = 'BLEED'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/61141'
- fileType = 'ttw'
- modAuthor = 'Roy Batty, Puppettron'
- modVersion = '1.7.3'
- mainFiles = ['BLEED']
+mod
    +notes
        | Overhauls how damage and force is applied, making combat quicker 
        | and harder, and making previously unviable builds such as unarmed more viable
