h3 Combat

//- BLEED
- difficulty = true
- hasPlugins = true
- modId = 'bleed'
- modName = 'BLEED'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/61141'
- fileType = 'ttw'
- modAuthor = 'Roy Batty, Puppettron'
- modVersion = '1.7.3'
- mainFiles = ['BLEED']
+mod
    +notes
        | Overhauls how damage and force is applied, making combat quicker 
        | and harder, and making previously unviable builds such as unarmed more viable


//- More Spawns
- difficulty = true
- hasPlugins = true
- converted = true
- modId = 'more-spawns'
- modName = 'More Spawns'
- modUrl = 'https://drive.google.com/file/d/1ATP_TnysYYKFZ2LPsSHRT45kgCpyiLeJ/view?usp=sharing'
- fileType = 'ttw'
- modAuthor = 'FiftyTifty'
- mainFiles = ['More Spawns.7z']
+mod
    +optionalEsps('More Spawns', '3x version')
    +notes
        | Increases spawns around the Wasteland. More info on
        | #[+link('the TTW forum post', 'https://taleoftwowastelands.com/viewtopic.php?t=6678')]


//- Retrievable Throwables
- hasPlugins = true
- modId = 'retrievable-throwables'
- modName = 'Retrievable Throwables'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66461'
- modAuthor = 'Xilandro'
- modVersion = '0.8b'
- mainFiles = ['Retrievable Throwables']
+mod
