h3 Combat

//- B42 Weapon Inertia
- hasPlugins = true
- modId = 'b42-weapon-inertia'
- modName = 'B42 Weapon Inertia'
- modAuthor = 'Xilandro and JazzIsParis'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/64335'
- modVersion = '0.1beta'
- mainFiles = ['B42 Inertia']
+mod
    +instructions
        | During installation uncheck "readme.txt"


//- BLEED
- difficulty = true
- hasPlugins = true
- converted = true
- modId = 'bleed'
- modName = 'BLEED'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/61141'
- fileType = 'ttw'
- modAuthor = 'Roy Batty, Puppettron'
- modVersion = '1.7.3'
- mainFiles = ['BLEED']
+mod
    +notes
        | Ballistic Locational Energy Explosive Damage. BLEED is an overhaul of how
        | damage and force is applied.


//- DiaMoveNVSE
- modId = 'diamovenvse'
- modName = 'DiaMoveNVSE'
- modAuthor = 'cOjzZ'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66451'
- modVersion = 'Alpha04.53'
- mainFiles = ['DiaMoveNVSE']
+mod
    +ini('If using Enhanced Camera make the following changes to the INI')
        | ; Find the ControlNode section and make this change
        | [ControlNode]
        | EnableECCompatible=true
    +notes
        | To use load a save, walk around and double click "z" to enable exVanity mode
        | (skyrim-like vanity mode, need to switch POV once to works)


//- Live Dismemberment
- modId = 'live-dismemberment'
- modName = 'Live Dismemberment'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/64914'
- modAuthor = 'C16 and Asurah'
- modVersion = '1.8'
- mainFiles = ['Live Dismemberment Update']
+mod


//- More Spawns
- difficulty = true
- hasPlugins = true
- converted = true
- modId = 'more-spawns'
- modName = 'More Spawns'
- modUrl = 'https://drive.google.com/file/d/1ATP_TnysYYKFZ2LPsSHRT45kgCpyiLeJ/view?usp=sharing'
- fileType = 'ttw'
- modAuthor = 'FiftyTifty'
- mainFiles = ['More Spawns.7z']
+mod
    +optionalEsps('More Spawns', '3x version')
    +notes
        | Increases spawns around the Wasteland. More info on
        | #[+link('the TTW forum post', 'https://taleoftwowastelands.com/viewtopic.php?t=6678')]


//- Retrievable Throwables
- hasPlugins = true
- modId = 'retrievable-throwables'
- modName = 'Retrievable Throwables'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66461'
- modAuthor = 'Xilandro'
- modVersion = '0.8b'
- mainFiles = ['Retrievable Throwables']
+mod


//- C16's Vanilla Sprint
- hasPlugins = true
- coreMod = true
- modId = 'c16-vanilla-sprint'
- modName = "C16's Vanilla Sprint"
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66960'
- modAuthor = 'C16, Asurah, and yvileapsis'
- modVersion = '2.3'
- mainFiles = ['C16s Vanilla Sprint - Main File']
+mod


//- VATS Alternative - A Comprehensive Bullet Time Mod
- hasPlugins = true
- modId = 'vats-alternative'
- modName = 'VATS Alternative - A Comprehensive Bullet Time Mod'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/62278'
- modAuthor = 'PushTheWinButton and miguick'
- modVersion = '2.5'
- mainFiles = ['VATS Alternative - Bullet Time']
+mod
