h3 Immersion

//- Root 'n Loot TTW
- hasPlugins = true
- modId = 'root-n-loot'
- modName = "Root 'n Loot TTW"
- modUrl = 'https://www.nexusmods.com/newvegas/mods/59378'
- fileType = 'ttw'
- modAuthor = 'Roy Batty'
- modVersion = '1.9'
- mainFiles = ["Root 'n Loot"]
+mod
    +notes Replaces all static containers with lootable equivalents.
