h3 Immersion


//- Bottle That Water TTW
- hasPlugins = true
- converted = true
- modId = 'bottle-that-water'
- modName = 'TTW - Bottle That Water'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66933'
- modVersion = 'v1.05'
- modAuthor = 'LordBishek, LFox, and Sessine'
- fileType = 'ttw'
- mainFiles = ['Bottle That Water 1_05']
+mod
    .raised
        +important DO NOT buy or carry more than one canteen at a time!


//- FPGE - Functional Post Game Ending
- hasPlugins = true
- coreMod = true
- modId = 'fpge'
- modName = 'FPGE - Functional Post Game Ending'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66726'
- modAuthor = 'Kazopert'
- modVersion = '1.51'
- mainFiles = ['Functional Post Game Ending', 'Functional Post Game Ending - Outside Bets Patch']
+mod
    +notes Reviewing Outside Bets Patch


//- Gunsmithing
- hasPlugins = true
- converted = true
- modId = 'gunsmithing'
- modName = 'Gunsmithing'
- fileType= 'ttw'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/50312'
- modAuthor = 'Puppettron'
- modVersion = '4.4.2'
- optionalFiles = ['Gunsmithing TTW']
+mod
    +notes
        | A smallish mod that adds gunsmithing to NV, so you can break down and build weapons your damn self,
        | instead of relying on NPCs all the time.


//- Immersive Minigames
- hasPlugins = true
- modId = 'immersive-minigames'
- modName = 'Immersive Minigames'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/58246'
- modAuthor = 'Gribbleshnibit8 and pintocat'
- modVersion = '1.5'
- mainFiles = ['Immersive Minigames']
+mod


//- Nipton Fires Extinguished
- hasPlugins = true
- modId = 'nipton-fires-extinguished'
- modName = 'Nipton Fires Extinguished'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/53846'
- modAuthor = 'Qwerty'
- modVersion = '1.0'
- mainFiles = ['Nipton Fires Extinguished']
+mod
    +notes Makes fire and smoke effects in Nipton disappear 1 day after the first player visit.


//-
    Root 'n Loot TTW
    Updated 2019-03-22
//-
#root-n-loot
    +name("Root 'n Loot TTW", 'https://www.nexusmods.com/newvegas/mods/59378', 'ttw')
    +modInfo
        +author Roy Batty
        +version 1.9
        +installation Install #[+file("Root 'n Loot")]
        +notes Replaces all static containers with lootable equivalents.


//- Snowglobe Tweaks
- hasPlugins = true
- testing = true
- modId = 'snowglobe-tweaks'
- modName = 'Snowglobe Tweaks'
- modAuthor = 'Asterra'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/67021'
- modVersion = '1.0'
- mainFiles = ['Snowglobe Tweaks']
+mod


//- Static Battery Replacer
- hasPlugins = true
- modId = 'static-battery-replacer'
- modName = 'Static Battery Replacer'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/36052'
- modAuthor = 'pintocat'
- modVersion = '1.0'
- mainFiles = ['Static Battery Replacer']
+mod
    +notes
        | Replaces 50 of the 59 static Fission Battery models with the Misc Item version that can be taken.
        | The remaining 9 are there as visual "power sources" for lights and such.


//- Weapons of the Wasteland
- hasPlugins = true
- modId = 'weapons-of-the-wasteland'
- modName = 'Weapons of the Wasteland'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66115'
- modAuthor = 'MildlyFootwear'
- modVersion = 'v0.9b'
- mainFiles = ['Weapons of the Wasteland']
+mod