//-
    Gameplay

    TTW Economy optimised
    Just Recoil Emulator BETA
//-

- mods.push([])
- sections.push(['#gameplay', 'Gameplay'])

section#gameplay
    h2 Gameplay

    include overhauls.pug
    include combat.pug
    include annoyances.pug
    include newitems.pug
    include immersion.pug