//-
    Gameplay

    TTW Economy optimised
    Just Recoil Emulator BETA
//-

- mods.push([])
- sections.push(['#gameplay', 'Gameplay'])

section#gameplay
    h2 Gameplay


    //- Bottle That Water TTW
    - hasPlugins = true
    - converted = true
    - modId = 'bottle-that-water'
    - modName = 'TTW - Bottle That Water'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66933'
    - modVersion = '1.0'
    - modAuthor = 'LordBishek, LFox, and Sessine'
    - fileType = 'ttw'
    - mainFiles = ['TTW - Bottle That Water']
    +mod
        +important DO NOT buy or carry more than one canteen at a time!


    //- Gunsmithing
    - hasPlugins = true
    - converted = true
    - modId = 'gunsmithing'
    - modName = 'Gunsmithing'
    - fileType= 'ttw'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/50312'
    - modAuthor = 'Puppettron'
    - modVersion = '4.4.2'
    - optionalFiles = ['Gunsmithing TTW']
    +mod
        +notes
            | A smallish mod that adds gunsmithing to NV, so you can break down and build weapons your damn self,
            | instead of relying on NPCs all the time.


    //- More Spawns
    - difficulty = true
    - hasPlugins = true
    - converted = true
    - modId = 'more-spawns'
    - modName = 'More Spawns'
    - modUrl = 'https://drive.google.com/file/d/1ATP_TnysYYKFZ2LPsSHRT45kgCpyiLeJ/view?usp=sharing'
    - fileType = 'ttw'
    - modAuthor = 'FiftyTifty'
    - mainFiles = ['More Spawns.7z']
    +mod
        +optionalEsps('More Spawns', '3x version')
        +notes
            | Increases spawns around the Wasteland. More info on
            | #[+link('the TTW forum post', 'https://taleoftwowastelands.com/viewtopic.php?t=6678')]


    //- Sawyer Batty
    - difficulty = true
    - hasPlugins = true
    - converted = true
    - modId = 'sawyer-batty'
    - modName = 'Sawyer Batty'
    - modUrl = 'https://drive.google.com/open?id=1UXVRedhxB7ZZxksSU110zSP3mlxFT4MO'
    - fileType = 'ttw'
    - modAuthor = 'jsawyer, Roy Batty'
    - modVersion = ''
    - mainFiles = ['sawyerbatty.7z']
    +mod
        +notes
            | This is a modified version of JSawyer Mod, which overhauls many aspects of the game
            | a list of what is changed (mostly, some has been removed) can be found on
            | #[+link('Gamepedia', 'https://fallout.gamepedia.com/JSawyer')].
            | More info on this patched version can be found on
            | #[+link('the TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?t=6578')]

    //-
        Flashlight NVSE
        Updated 2019-04-02
    //-
    #flashlight-nvse
        +name('Flashlight NVSE', 'https://www.nexusmods.com/newvegas/mods/39968', 'fnv')
        +modInfo
            +author vivanto
            +version 1.22
            +installation Install #[+file('FlashlightNVSE122 fomod installer')]

    //-
        TTW Flashlight NVSE
        Updated 2019-04-02
    //-
    #flashlight-nvse-ttw
        +name('TTW Flashlight NVSE', 'https://drive.google.com/open?id=1lJpwTDidKoh7QuwnqQzKNN8lc-17exiY', 'ttw')
        +modInfo
            +author Roy Batty
            +installation Install #[+file('ttw_flashlightnvse.7z')]


    //- Immersive Minigames
    - hasPlugins = true
    - modId = 'immersive-minigames'
    - modName = 'Immersive Minigames'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/58246'
    - modAuthor = 'Gribbleshnibit8 and pintocat'
    - modVersion = '1.5'
    - mainFiles = ['Immersive Minigames']
    +mod


    //-
        Mobile Truck Base
        Updated 2019-04-03
    //-
    #mobile-truck-base
        +name('Mobile Truck Base', 'https://www.nexusmods.com/newvegas/mods/50978', 'fnv')
        +modInfo
            +author tdx73
            +version 1.51
            +installation Install #[+file('Data')]
            +notes This adds a purchase able truck to Gibson Scrapyard that serves as a mobile player base.

    //-
        Mobile Truck Base - TTW
        Updated 2019-04-02
    //-
    #mobile-truck-base-ttw
        +name('Mobile Truck Base - TTW', 'https://www.nexusmods.com/newvegas/mods/66012', 'ttw')
        +modInfo
            +author pintocat
            +version 1.0
            +installation Install #[+file('Mobile Truck Base - TTW 3.2 - 1.0')]
            +notes This patches Mobile Truck Base for TTW



    //-
        Root 'n Loot TTW
        Updated 2019-03-22
    //-
    #root-n-loot
        +name("Root 'n Loot TTW", 'https://www.nexusmods.com/newvegas/mods/59378', 'ttw')
        +modInfo
            +author Roy Batty
            +version 1.8
            +installation Install #[+file("Root 'n Loot")]
            +notes Replaces all static containers with lootable equivalents.


    //-
        Live Dismemberment
        Updated 2019-04-03
    //-
    #live-dismemberment
        +name('Live Dismemberment', 'https://www.nexusmods.com/newvegas/mods/64914', 'fnv')
        +modInfo
            +author C16 and Asurah
            +version 1.8
            +installation Install #[+file('Live Dismemberment Update')]


    //- BLEED
    - difficulty = true
    - hasPlugins = true
    - converted = true
    - modId = 'bleed'
    - modName = 'BLEED'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/61141'
    - fileType = 'ttw'
    - modAuthor = 'Roy Batty, Puppettron'
    - modVersion = '1.7.3'
    - mainFiles = ['BLEED']
    +mod
        +notes
            | Ballistic Locational Energy Explosive Damage. BLEED is an overhaul of how
            | damage and force is applied.


    //- Vanilla Sprint
    - hasPlugins = true
    - coreMod = true
    - modId = 'vanilla-sprint'
    - modName = 'Vanilla Sprint'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66535'
    - modAuthor = 'C16 and Asurah'
    - modVersion = 'rev1.4'
    - mainFiles = ['VanillaSprint']
    +mod


    //- VATS Alternative - A Comprehensive Bullet Time Mod
    - hasPlugins = true
    - modId = 'vats-alternative'
    - modName = 'VATS Alternative - A Comprehensive Bullet Time Mod'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62278'
    - modAuthor = 'PushTheWinButton and miguick'
    - modVersion = '2.5'
    - mainFiles = ['VATS Alternative - Bullet Time']
    +mod


    //- TTW Nuka-Cola Expansion
    - hasPlugins = true
    - converted = true
    - modId = 'nuka-cola-expansion'
    - modName = 'TTW Nuka-Cola Expansion'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66618piber20 '
    - modAuthor = 'piber20'
    - fileType = 'ttw'
    - modVersion = '1'
    - mainFiles = ['Nuka-Cola Expansion - Main File']
    +mod


    //- TTW Transportalponder! Extended
    - hasPlugins = true
    - converted = true
    - modId = 'ttw-transportalponder'
    - modName = 'TTW Transportalponder! Extended'
    - modUrl = 'https://drive.google.com/open?id=140ouHxJSCj1e3SzX6o9vAsD0_XCNGHka'
    - fileType = 'ttw'
    - modAuthor = 'Enkay'
    - modVersion = '2.1'
    - mainFiles = ['TTWTransportalponderEx.7z']
    +mod
        +notes
            | For more details visit
            | #[+link('the TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6634')]

        +important2('If you use the Transportalponder to no effect')
            | Press the ~ key to open the console
            | Enter the following commands:
            |
            | player.removeitem 300E1B0 1
            | player.additem 300E1B0 1


    //- Weapons of the Wasteland
    - hasPlugins = true
    - modId = 'weapons-of-the-wasteland'
    - modName = 'Weapons of the Wasteland'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66115'
    - modAuthor = 'MildlyFootwear'
    - modVersion = 'v0.9b'
    - mainFiles = ['Weapons of the Wasteland']
    +mod


    //- Weapon Mod Vending Machine TTW
    - hasPlugins = true
    - converted = true
    - modId = 'weapon-mod-vending-machine'
    - modName = 'Weapon Mod Vending Machine TTW'
    - modUrl = 'https://drive.google.com/open?id=1-rq_hMirlvO2ermAzStBvcX7Ks4gcOQv'
    - fileType = 'ttw'
    - modAuthor = 'Ghostfish, Roy Batty'
    - mainFiles = ['WeaponModVendingMachine.7z']
    +mod
        +notes
            | For more details visit the
            | #[+link('TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6523')]


    //- lStewieAl's Tweaks
    - coreMod = true
    - configFiles = true
    - modId = '1stewieAI-tweaks'
    - modName = "lStewieAl's Tweaks"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66347'
    - modAuthor = 'lStewieAl'
    - modVersion = '2.35'
    - mainFiles = ['Stewie Tweaks']
    - optionalFiles = ['Stewie Tweaks INI']
    +mod
        +instructions
            | Double click lStewieAl's Tweaks in the left pane of Mod Organizer
            | Click the [INIs] tab
            | Modify the ini settings as below
        +ini('Enable features in nvse_stewie_tweaks.ini')
            | [Tweaks]
            | bNoScreenshotPopup=1
            | bNoKarmaMessages=1
            | bNoCrippleCriticalMessages=1
            | bFasterSleepWait=1
            | bNoXPMessages=1
            | bNoUnconciousMessage=1
            | bNoStartMenuDLCPopup=1
        +notes
            | An espless collection of small game tweaks with an INI to configure settings.
            | Includes Faster Sleep Wait, Essential Companions toggle and more.


    //- Delay DLC TTW
    - hasPlugins = true
    - coreMod = true
    - converted = true
    - modId = 'delay-dlc'
    - modName = 'Delay DLC TTW'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66690'
    - fileType = 'ttw'
    - modAuthor = 'Gribbleshnibit8'
    - modVersion = '1.0'
    - mainFiles = ['Delay DLC 1.0 - TTW 3.2']
    +mod
        +notes
            | It stops the annoying messages that display when a new DLC is loaded, and requires
            | that you be within a certain distance of the broadcast location before you can pick
            | up the radio signal. Once you do have the signal, you have to listen to the WHOLE
            | thing in order to get the quest and map marker for the location.


    //- Delay Level Up
    - hasPlugins = true
    - modId = 'delay-level-up'
    - modName = 'Delay Level Up'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62921'
    - modAuthor = 'Ladez'
    - modVersion = '3.5'
    - mainFiles = ['Delay Level Up']
    +mod
        +notes
            | The level up menu no longer opens automatically.
            | The player can level up their character via the stats page in the Pip-Boy.
            | The player can skip assignment of skill points and perks during level up.
            | Leftover points can be spent in-between levels, also via the Pip-Boy.


    //- FPGE - Functional Post Game Ending
    - hasPlugins = true
    - coreMod = true
    - modId = 'fpge'
    - modName = 'FPGE - Functional Post Game Ending'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66726'
    - modAuthor = 'Kazopert'
    - modVersion = '1.51'
    - mainFiles = ['Functional Post Game Ending', 'Functional Post Game Ending - Outside Bets Patch']
    +mod
        +notes Reviewing Outside Bets Patch


    //- Nipton Fires Extinguished
    - hasPlugins = true
    - modId = 'nipton-fires-extinguished'
    - modName = 'Nipton Fires Extinguished'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/53846'
    - modAuthor = 'Qwerty'
    - modVersion = '1.0'
    - mainFiles = ['Nipton Fires Extinguished']
    +mod
        +notes Makes fire and smoke effects in Nipton disappear 1 day after the first player visit.


    //- Static Battery Replacer
    - hasPlugins = true
    - modId = 'static-battery-replacer'
    - modName = 'Static Battery Replacer'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/36052'
    - modAuthor = 'pintocat'
    - modVersion = '1.0'
    - mainFiles = ['Static Battery Replacer']
    +mod
        +notes
            | Replaces 50 of the 59 static Fission Battery models with the Misc Item version that can be taken.
            | The remaining 9 are there as visual "power sources" for lights and such.


    //- TTW Comment Removal Mod (Clumsy, Locks, Sneak)
    - hasPlugins = true
    - converted = true
    - modId = 'ttw-comment-removal'
    - modName = 'TTW Comment Removal Mod (Clumsy, Locks, Sneak)'
    - modUrl = 'https://drive.google.com/file/d/1NBiMZonFNPvD0yvYarS_eULsIYyghvSH/view?usp=sharing'
    - fileType = 'ttw'
    - modAuthor = 'frootzcat'
    - mainFiles = ['CommentTTW.rar']
    +mod
        +notes
            | This is basically a merged mod that cuts out: knocked Over Items ("Feeling clumsy today?"),
            | looking at Locks ("Don't try it."), sneaking Comments ("I see you."). More info on the
            | #[+link('mods forum post', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6605&sid=16a02787fce15e5188a8778d7563b3f2')]


    //- Tutorial Killer
    - hasPlugins = true
    - coreMod = true
    - modId = 'tutorial-killer'
    - modName = 'Tutorial Killer'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/47746'
    - modAuthor = 'pintocat, Roy Batty'
    - modVersion = '1.52'
    - mainFiles = ['Tutorial Killer - Scripted version']
    +mod
        +notes
            | This removes message boxes that pop up during the tutorial,
            | as well as one-time help pop-ups, repeating corner-messages.
