//-
    Gameplay
//-

- sections.push(['#gameplay', 'Gameplay'])

section#gameplay
    h2 Gameplay

    include overhauls.pug
    include combat.pug
    include annoyances.pug
    include newitems.pug
    include immersion.pug
