h3 New Items

//- Flashlight NVSE
- hasPlugins = true
- modId = 'flashlight-nvse'
- modName = 'Flashlight NVSE'
- modAuthor = 'vivanto'
- modVersion = '1.22'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/39968'
- mainFiles = ['FlashlightNVSE122 fomod installer']
+mod


//- TTW Flashlight NVSE
- converted = true
- hasPlugins = true
- modName = 'TTW Flashlight NVSE'
- modId = 'flashlight-nvse-ttw'
- fileType = 'ttw'
- modUrl = 'https://drive.google.com/open?id=1lJpwTDidKoh7QuwnqQzKNN8lc-17exiY'
- modAuthor = 'Roy Batty'
- downloadFiles = ['ttw_flashlightnvse.7z']
+mod


//- Mobile Truck Base
//- - modId = 'mobile-truck-base'
//- - modName = 'Mobile Truck Base'
//- - modUrl = 'https://www.nexusmods.com/newvegas/mods/50978'
//- - modAuthor = 'tdx73'
//- - modVersion = '1.51'
//- - mainFiles = ['Data']
//- +mod
//-     +notes This adds a purchase able truck to Gibson Scrapyard that serves as a mobile player base.


//- Mobile Truck Base - TTW
//- - converted = true
//- - hasPlugins = true
//- - modId = 'mobile-truck-base-ttw'
//- - modName = 'Mobile Truck Base - TTW'
//- - modUrl = 'https://www.nexusmods.com/newvegas/mods/66012'
//- - fileType = 'ttw'
//- - modAuthor = 'pintocat'
//- - modVersion = '1.0'
//- - mainFiles = ['Mobile Truck Base - TTW 3.2 - 1.0']
//- +mod
//-     +notes This patches Mobile Truck Base for TTW


//- TTW Nuka-Cola Expansion
//- - hasPlugins = true
//- - modId = 'nuka-cola-expansion'
//- - modName = 'TTW Nuka-Cola Expansion'
//- - modUrl = 'https://www.nexusmods.com/newvegas/mods/66618'
//- - modAuthor = 'piber20'
//- - fileType = 'ttw'
//- - modVersion = '1'
//- - mainFiles = ['Nuka-Cola Expansion - Main File']
//- +mod


//- TTW Transportalponder! Extended
- hasPlugins = true
- modId = 'ttw-transportalponder'
- modName = 'TTW Transportalponder! Extended'
- modUrl = 'https://drive.google.com/open?id=140ouHxJSCj1e3SzX6o9vAsD0_XCNGHka'
- fileType = 'ttw'
- modAuthor = 'Enkay'
- modVersion = '2.1'
- mainFiles = ['TTWTransportalponderEx.7z']
+mod
    +notes
        | For more details visit
        | #[+link('the TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6634')]

    +important2('If you use the Transportalponder to no effect')
        | Press the ~ key to open the console
        | Enter the following commands:
        |
        | player.removeitem 300E1B0 1
        | player.additem 300E1B0 1


//- Weapon Mod Vending Machine TTW
- hasPlugins = true
- converted = true
- modId = 'weapon-mod-vending-machine'
- modName = 'Weapon Mod Vending Machine TTW'
- modUrl = 'https://drive.google.com/open?id=1-rq_hMirlvO2ermAzStBvcX7Ks4gcOQv'
- fileType = 'ttw'
- modAuthor = 'Ghostfish, Roy Batty'
- mainFiles = ['WeaponModVendingMachine.7z']
+mod
    +notes
        | For more details visit the
        | #[+link('TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6523')]
