h3 New Items

//- Flashlight NVSE
- hasPlugins = true
- modId = 'flashlight-nvse'
- modName = 'Flashlight NVSE'
- modAuthor = 'vivanto'
- modVersion = '1.22'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/39968'
- mainFiles = ['FlashlightNVSE122 fomod installer']
+mod


//- TTW Flashlight NVSE
- converted = true
- hasPlugins = true
- modName = 'TTW Flashlight NVSE'
- modId = 'flashlight-nvse-ttw'
- fileType = 'ttw'
- modUrl = 'https://drive.google.com/open?id=1lJpwTDidKoh7QuwnqQzKNN8lc-17exiY'
- modAuthor = 'Roy Batty'
- downloadFiles = ['ttw_flashlightnvse.7z']
+mod

//- TTW Transportalponder! Extended
- hasPlugins = true
- modId = 'ttw-transportalponder'
- modName = 'TTW Transportalponder! Extended'
- modUrl = 'https://drive.google.com/open?id=140ouHxJSCj1e3SzX6o9vAsD0_XCNGHka'
- fileType = 'ttw'
- modAuthor = 'Enkay'
- modVersion = '2.1'
- mainFiles = ['TTWTransportalponderEx.7z']
+mod
    +notes
        | For more details visit
        | #[+link('the TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6634')]

    +important2('If you use the Transportalponder to no effect')
        | Press the ~ key to open the console
        | Enter the following commands:
        |
        | player.removeitem 300E1B0 1
        | player.additem 300E1B0 1


//- Weapon Mod Vending Machine TTW
//- hasPlugins = true
//- converted = true
- modId = 'weapon-mod-vending-machine'
- modName = 'Weapon Mod Vending Machine TTW'
- modUrl = 'https://drive.google.com/open?id=1-rq_hMirlvO2ermAzStBvcX7Ks4gcOQv'
- fileType = 'ttw'
- modAuthor = 'Ghostfish, Roy Batty'
- mainFiles = ['WeaponModVendingMachine.7z']
+mod
    +notes
        | For more details visit the
        | #[+link('TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6523')]
