h3 New Items

//- Flashlight NVSE
#flashlight-nvse
    +name('Flashlight NVSE', 'https://www.nexusmods.com/newvegas/mods/39968', 'fnv')
    +modInfo
        +author vivanto
        +version 1.22
        +installation Install #[+file('FlashlightNVSE122 fomod installer')]

//- TTW Flashlight NVSE
#flashlight-nvse-ttw
    +name('TTW Flashlight NVSE', 'https://drive.google.com/open?id=1lJpwTDidKoh7QuwnqQzKNN8lc-17exiY', 'ttw')
    +modInfo
        +author Roy Batty
        +installation Install #[+file('ttw_flashlightnvse.7z')]


//- Mobile Truck Base
#mobile-truck-base
    +name('Mobile Truck Base', 'https://www.nexusmods.com/newvegas/mods/50978', 'fnv')
    +modInfo
        +author tdx73
        +version 1.51
        +installation Install #[+file('Data')]
        +notes This adds a purchase able truck to Gibson Scrapyard that serves as a mobile player base.

//- Mobile Truck Base - TTW
- modId = 'mobile-truck-base-ttw'
- modName = 'Mobile Truck Base - TTW'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66012'
- fileType = 'ttw'
- modAuthor = 'pintocat'
- modVersion = '1.0'
- mainFiles = ['Mobile Truck Base - TTW 3.2 - 1.0']
+mod
    +notes This patches Mobile Truck Base for TTW


//- TTW Nuka-Cola Expansion
- hasPlugins = true
- converted = true
- modId = 'nuka-cola-expansion'
- modName = 'TTW Nuka-Cola Expansion'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66618piber20 '
- modAuthor = 'piber20'
- fileType = 'ttw'
- modVersion = '1'
- mainFiles = ['Nuka-Cola Expansion - Main File']
+mod


//- TTW Transportalponder! Extended
- hasPlugins = true
- converted = true
- modId = 'ttw-transportalponder'
- modName = 'TTW Transportalponder! Extended'
- modUrl = 'https://drive.google.com/open?id=140ouHxJSCj1e3SzX6o9vAsD0_XCNGHka'
- fileType = 'ttw'
- modAuthor = 'Enkay'
- modVersion = '2.1'
- mainFiles = ['TTWTransportalponderEx.7z']
+mod
    +notes
        | For more details visit
        | #[+link('the TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6634')]

    +important2('If you use the Transportalponder to no effect')
        | Press the ~ key to open the console
        | Enter the following commands:
        |
        | player.removeitem 300E1B0 1
        | player.additem 300E1B0 1


//- Weapon Mod Vending Machine TTW
- hasPlugins = true
- converted = true
- modId = 'weapon-mod-vending-machine'
- modName = 'Weapon Mod Vending Machine TTW'
- modUrl = 'https://drive.google.com/open?id=1-rq_hMirlvO2ermAzStBvcX7Ks4gcOQv'
- fileType = 'ttw'
- modAuthor = 'Ghostfish, Roy Batty'
- mainFiles = ['WeaponModVendingMachine.7z']
+mod
    +notes
        | For more details visit the
        | #[+link('TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6523')]