h3 Overhauls

//- Economy Overhaul
- difficulty = true
- hasPlugins = true
- testing = true
- modId = 'economy-overhaul'
- modName = 'Economy Overhaul'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/62899'
- modAuthor = 'PushTheWinButton'
- modVersion = '1.11'
- mainFiles = ['Economy Overhaul']
+mod
    +notes 
        | Overhauls value of items, repair costs, amount of vendor caps,
        | casino outputs, and the usability of the barter skill


//- JSawyer Ultimate Edition
- difficulty = true
- hasPlugins = true
- modId = 'jsawyer-ultimate-edition'
- modName = 'JSawyer Ultimate Edition'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/61592'
- modAuthor = 'jsawyer, PushTheWinButton '
- mainFiles = ['JSawyer Ultimate Edition']
- optionalFiles = ['JSawyer Ultimate Edition - GRA Merged']
+mod
    +notes
        | This is a modified version of JSawyer Mod, which overhauls many aspects of the game
        | a list of what is changed (mostly, some has been removed) can be found on
        | #[+link('Gamepedia', 'https://fallout.gamepedia.com/JSawyer')].


//- JSawyer Ultimate Edition TTW Patch
- hasPlugins = true
- fileType = 'ttw'
- modId = 'jsawyer-ttw-patch'
- modName = 'JSawyer Ultimate Edition TTW Patch'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66462'
- modAuthor = 'PushTheWinButton'
- mainFiles = ['JSawyer Ultimate Edition - TTW Patch']
- modVersion = '1.00'
+mod
    +notes Patched JSawyer Ultimate Edition for TTW
