h3 Overhauls

//- Sawyer Batty
- difficulty = true
- hasPlugins = true
- converted = true
- modId = 'sawyer-batty'
- modName = 'Sawyer Batty'
- modUrl = 'https://drive.google.com/open?id=1UXVRedhxB7ZZxksSU110zSP3mlxFT4MO'
- fileType = 'ttw'
- modAuthor = 'jsawyer, Roy Batty'
- modVersion = ''
- mainFiles = ['sawyerbatty.7z']
+mod
    +notes
        | This is a modified version of JSawyer Mod, which overhauls many aspects of the game
        | a list of what is changed (mostly, some has been removed) can be found on
        | #[+link('Gamepedia', 'https://fallout.gamepedia.com/JSawyer')].
        | More info on this patched version can be found on
        | #[+link('the TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?t=6578')]