//-
    LODGen
//-

- sections.push(['#lod', 'LOD'])

section#lod
    h2 LOD

    //- FNVLODGen
    - testing = true
    - hasPlugins = true
    - preReq = 'FNVLODGen Executable'
    - modId = 'fnvlodgen'
    - modName = 'FNVLODGen'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/58562'
    - modVersion = '1.1'
    - modAuthor = 'Ehamloptiran Sheson and FNVEdit Team'
    - mainFiles = ['FNVLODGen Resources']
    - optionalFiles = ['NMC LOD texture fix', 'Trees LOD Billboards Vanilla']
    +mod


    //- LOD Additions and Improvements
    - testing = true
    - modId = 'lod-additions'
    - modName = 'LOD Additions and Improvements'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/61206'
    - modVersion = '1.06'
    - modAuthor = 'tomzik'
    - mainFiles = ['LODadditions']
    +mod
        +hidden
            | * textures/clutter/billboard01blod.dds
            | * textures/clutter/billboard01blod_n.dds
        +important2('Requires manual cleaning')
            | Run FNVEdit through MO2
            | Right-click inside the file listing and select None
            | Check the box adjacent to tmzLODadditions.esp and click [OK]
            | Enter DA726 to FormID search box in the top left and hit enter
            | Right-click in the right pane and select Hide no conflict rows
            | Drag and drop NVDefaultExterior from FalloutNV.esm on to WastelandBaseImageSpace from tmzLODadditions.esp
            | Save and exit


    //- Less Horrendous Vikki and Vance Casino LOD Mesh
    - testing = true
    - modId = 'less-horrendous-vikki-vance-casino'
    - modName = 'Less Horrendous Vikki and Vance Casino LOD Mesh'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/63956'
    - modVersion = '0.1'
    - modAuthor = 'Faram aka Biohazard'
    - mainFiles = ['Less Horrendous Vikki and Vance Casino LOD']
    +mod
        +notes Replaces the terrible LOD model and textures of the Vikki and Vance


    //- Much Needed LOD
    - testing = true
    - modId = 'much-needed-lod'
    - modName = 'Much Needed LOD'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/64805'
    - modAuthor = 'pilamin'
    - modVersion = '1.2'
    - mainFiles = ['Much Needed LOD']
    - optionalFiles = ['Much Needed LOD - Ojo Bueno Patch']
    +mod
        +notes Adds new distant LOD to vehicles, roads, barricades, rocks/cliffs, etc.


    //- Improved LOD Noise Texture
    - modId = 'improved-lod-noise'
    - modName = 'Improved LOD Noise Texture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/46451'
    - modVersion = 'V1.00'
    - modAuthor = 'Cyberlazy'
    - mainFiles = ['Improved LOD noise Texture']
    +mod

    +important2('Before running FNVLODGen, an ini setting in the fallout.ini must be updated to include the TTW BSAs.')

    pre
        | Open Mod Organizer.
        | Click [Tools]>[Edit Ini] at the top of the window.
        | Verify fallout.ini is selected and change the following lines.
        | Click [Save] and close the window.

    +ini('Update SArchive list to use TTW assets')
        | [Archive]
        | SArchiveList=Fallout - Textures.bsa, Fallout - Textures2.bsa, Fallout - Meshes.bsa, Fallout - Meshes2.bsa, Fallout - Voices1.bsa, Fallout - Sound.bsa, Fallout - Misc.bsa

    h3#generating-xlodgen Generating LOD with xLODGen

    +important xLODGen can take upwards of 1.5 hours to generate LOD

    +copy('mb0')
        | Before generating LOD with FNVLODGen, xLODGen must be ran first. xLODGen will
        | generate LOD for terrain and objects (it is better than FNVLODGen). FNVLODGen will
        | be ran afterwards to generate LOD for trees. Follow the steps below to run xLODGen.
        | This section is based off #[+link('Qolore7s Viva New Vegas guide', 'https://hackmd.io/s/Skv11ma9m')].

    pre.mt0
        | From the executables dropdown, select xLODGen, and wait for it to finish loading
        | On the left side (where all of the checkboxes are), right click and select "Select All"

    +copy('mb0')
        | Configure Objects LOD as below
    pre.mt0
        include objectslod.pug

    +important
        | There are four layers of LOD that must be configured.
        | For each layer configure as below under the Terrain LOD section:

    +copy('mb0')
        | Ensure LOD4 is selected and configure as below:
    pre.mt0
        include lod4.pug

    +copy('mb0')
        | Ensure LOD8 is selected and configure as below:
    pre.mt0
        include lod8.pug

    +copy('mb0')
        | Ensure LOD16 is selected and configure as below:
    pre.mt0
        include lod16.pug

    +copy('mb0')
        | Ensure LOD32 is selected and configure as below:
    pre.mt0
        include lod32.pug

    +important Ensure that Trees LOD is UNCHECKED

    +instructions Click [Generate] and wait for it to finish

    h3 Generating LOD with FNVLODGen

    +copy('mb0')
        | Now that FNVLODGens resources are installed into Mod Organizer LODs can
        | be generated using FNVLODGen (installed in the Tools section).
        | These steps are based of the small guide on the
        | #[+link('TTW forums by Roy Batty', 'https://taleoftwowastelands.com/viewtopic.php?f=24&t=7132&sid=7e34f9e642b87e7e17516369d4a02a47')].

    +copy('mb0')
        | Follow the instructions below:
    pre.mt0
        | From the executables dropdown, select FNVLODGen, and wait for it to finish loading
        |
        | On the left side (where all of the checkboxes are), right click and select "Select All"
        |
        | Set the "Atlas size" to 8192x8192
        |
        | Check the box next to "Trees LOD"
        |
        | Click [Generate]
        |
        | LODs will now be generated, this can take 20 to 30 minutes
        | Once it is finished, close the window
        |
        | Open Mod Organizer and enable "FNVLODGENOutput" in the left pane.
