- sections.push(['#ui', 'User Interface'])

section#ui
    h2 User Interface

    //- Better Pickup Prompt (NVSE)
    - coreMod = true
    - modId = 'better-pick-up-prompt'
    - modName = 'Better Pickup Prompt (NVSE)'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/67234'
    - modAuthor = 'c6'
    - modVersion = '1.2'
    - mainFiles = ['Better Pickup Prompt (NVSE)']
    +mod
        +notes
            | Makes several improvements to the pickup prompt that appears
            | when you look at an item


    //- Enhanced Item Info - Extra UI HUD
    //- - modId = 'enhanced-item-info'
    //- - modName = 'Enhanced Item Info - Extra UI HUD'
    //- - modUrl = 'https://www.nexusmods.com/newvegas/mods/60534'
    //- - modAuthor = 'pintocat'
    //- - modVersion = '1.4.3'
    //- - mainFiles = ['Enhanced Item Info 1-4-3']
    //- +mod


    //- JIP Companions Command and Control
    - hasPlugins = true
    - coreMod = true
    - modId = 'jip-ccc'
    - modName = 'JIP Companions Command and Control'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/50468'
    - modAuthor = 'jazzisparis'
    - modVersion = '2.60'
    - mainFiles = ['JIP Companions Command and Control']
    +mod
        +notes
            | A better way of commanding companions around, also gives
            | extended companion features


    //- JIP Improved Recipe Menu
    - hasPlugins = true
    - coreMod = true
    - modId = 'jip-improved-recipe-menu'
    - modName = 'JIP Improved Recipe Menu'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59638'
    - modAuthor = 'jazzisparis'
    - modVersion = '1.20'
    - mainFiles = ['JIP Improved Recipe Menu']
    +mod
        +notes
            | This mod makes the crafting interface (Recipe Menu) easier, more efficient
            | and less tedious to use.


    //- The Mod Configuration Menu
    - coreMod = true
    - hasPlugins = true
    - requiredBy = 'multiple mods'
    - modId = 'mcm'
    - modName = 'The Mod Configuration Menu'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/42507'
    - modAuthor = 'Pelinor'
    - modVersion = '1.5'
    - mainFiles = ['The Mod Configuration Menu']
    - updateFiles = ['MCM BugFix 2']
    +mod
        +notes Allows any number of mods to be configured from a single menu.


    //- The Weapon Mod Menu
    - hasPlugins = true
    - preReq = 'The Mod Configuration Menu'
    - modId = 'weapon-mod-menu'
    - modName = 'The Weapon Mod Menu'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/44515'
    - modAuthor = 'Pelinor'
    - modVersion = '1.2'
    - mainFiles = ['The Weapon Mod Menu']
    +mod
        +notes
            | Opens up new features to the weapon modding interface used in game,
            | so it is more intuitive. Lets you remove weapon mods and see all
            | available mods for a particular weapon


    //- Pause Menu HD
    - modId = 'pause-menu-hd'
    - modName = 'Pause Menu HD'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/63934'
    - modAuthor = 'pilamin'
    - modVersion = '1.0'
    - mainFiles = ['Pause Menu HD - 2048']
    +mod


    //- FPS Weapon Wheel
    - hasPlugins = true
    - requiredBy = 'Weapon Wheel Plus Looting Menu for FNV, and FPS Weapon Wheel - Vanilla UI Patch'
    - modId = 'fps-weapon-wheel'
    - modName = 'FPS Weapon Wheel'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/39997'
    - modAuthor = 'vivanto'
    - modVersion = '1.13'
    - mainFiles = ['FPSWeaponWheel113']
    +mod


    //- Loot Menu
    - hasPlugins = true
    - requiredBy = 'Weapon Wheel Plus Looting Menu for FNV, and Loot Menu - Vanilla UI Patch'
    - modId = 'loot-menu'
    - modName = 'Loot Menu'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/61723'
    - modAuthor = 'Gribbleshnibit8'
    - modVersion = '1.13'
    - mainFiles = ['Loot Menu']
    +mod
        +notes Adds the Fallout 4-style looting system to New Vegas


    //- Weapon Wheel Plus Looting Menu for FNV
    - hasPlugins = true
    - preReq = 'FPS Weapon Wheel, and Loot Menu'
    - modId = 'weapon-wheel-plus-looting'
    - modName = 'Weapon Wheel Plus Looting Menu for FNV'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/65198'
    - modAuthor = 'samaelaunweor'
    - modVersion = '1.0'
    - mainFiles = ['Weapon Wheel Plus Looting Menu for FNV']
    +mod


    //- UIO - UI Organizer
    - coreMod = true
    - hasPlugins = true
    - preReq = 'Requires NVSE'
    - modId = 'uio'
    - modName = 'UIO - UI Organizer'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/57174'
    - modAuthor = 'jazzisparis'
    - modVersion = '2.03'
    - mainFiles = ['UIO - User Interface Organizer']
    +mod
        +notes
            | An NVSE-powered plugin that is designed to manage and maintain all UI/HUD extensions added to the game by
            | various mods. Once installed, UIO will ensure UI extensions are always properly installed and, when necessary,
            | properly removed; it will automatically detect, resolve and prevent UI-related issues, and will help keep the game's
            | UI intact.


    //- One HUD - oHUD
    - hasPlugins = true
    - modId = 'ohud'
    - modName = 'One HUD - oHUD'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/44757'
    - modAuthor = 'Gopher'
    - modVersion = '1.1'
    - mainFiles = ['One HUD (oHUD)']
    +mod
        +notes Lets you take control of your HUD by adding, hiding, or removing elements


    //- Just Dynamic Crosshair
    - hasPlugins = true
    - modId = 'just-dynamic-crosshair'
    - modName = 'Just Dynamic Crosshair'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66676'
    - modAuthor = 'yvileapsis'
    - mainFiles = ['Just Dynamic Crosshair - Main File']
    - modVersion = '1.6ree'
    +mod
        +notes Adds a highly configurable dynamic crosshair that changes in accordance to the weapon's spread


    //- Just Hit Marker
    - hasPlugins = true
    - modId = 'just-hit-marker'
    - modName = 'Just Hit Marker'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66667'
    - modAuthor = 'yvileapsis'
    - modVersion = '1.7'
    - mainFiles = ['Just Hit Marker - Main File']
    +mod
        +notes Adds highly configurable hit markers


    //- Just Visual Objectives
    - hasPlugins = true
    - modId = 'just-visual-objectives'
    - modName = 'Just Visual Objectives'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66901'
    - modAuthor = 'yvileapsis'
    - modVersion = '1.4'
    - mainFiles = ['Just Visual Objectives - Main File']
    +mod
        +notes Adds highly configurable visual 3D markers for all of your current objectives


    //- Vanilla UI Plus
    - requiredBy = 'Vanilla HUD Remastered, Vanilla HUD Remastered Patch, Loot Menu - Vanilla UI Patch, and FPS Weapon Wheel - Vanilla UI Patch'
    - coreMod = true
    - configFiles = true
    - modId = 'vanilla-ui-plus'
    - modName = 'Vanilla UI Plus'
    - modUrl = 'https://www.moddb.com/mods/vanilla-ui-plus/downloads'
    - fileType = 'fnv'
    - modAuthor = 'Axonis'
    - modVersion = '7.79'
    - mainFiles = ['Vanilla UI Plus (New Vegas) 7.71']
    +mod
        +instructions
            | Many options can be configured via the xml config file
            |
            | Right click on Vanilla UI Plus in the left pane of Mod Organizer
            | Select "Open In Explorer"
            |
            | Navigate to Menus\Prefabs\VUI+
            | Open settings.xml in a text editor
            |
            | Set <_VUI+StatusInfo> to 2
            | Save and exit
        +notes
            | Vanilla UI Plus (VUI+) is a Fallout 3 and New Vegas mod that greatly improves the user interface without
            | compromising the original style.


    //- Vanilla UI Plus Plugin
    - modId = 'vanilla-ui-plus-plugin'
    - modName = 'Vanilla UI Plus Plugin'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/67032'
    - modVersion = '2.5'
    - modAuthor = 'Axonis'
    - miscFiles = ['Vanilla UI Plus Plugin with HH Armor Fix']
    +mod
        +notes Displays additional information in the Container Menu and the Companion Wheel


    //- Vanilla HUD Remastered
    - requiredBy = 'Vanilla HUD Remastered Patch'
    - coreMod = true
    - preReq = 'Vanilla UI Plus'
    - modId = 'vanilla-hud-remastered'
    - modName = 'Vanilla HUD Remastered'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/64102'
    - modAuthor = 'BmanBlazer'
    - modVersion = '1.83'
    - mainFiles = ['Vanilla HUD Remastered 4K v1.83']
    +mod
        +instructions
            | During installation select VHR with VUI+ Patch
        +notes
            | This mod is designed to update the HUD for 1080p resolutions or higher (1440p, 4K, etc) while maintaining the
            | same original look and style.


    //- Vanilla HUD Remastered Patch
    - coreMod = true
    - preReq = 'Vanilla UI Plus, and Vanilla HUD Remastered'
    - modId = 'vanilla-hud-remastered-patch'
    - modName = 'Vanilla HUD Remastered Patch'
    - modUrl = 'https://www.moddb.com/mods/vanilla-ui-plus/addons/vanilla-hud-remastered-patch'
    - fileType = 'fnv'
    - modAuthor = 'Axonis'
    - modVersion = '1.83f'
    - mainFiles = ['Vanilla HUD Remastered Patch 1.83c']
    +mod
        +notes
            | Patches Vanilla HUD Remastered 1.83 to retain compatibility with the latest VUI+
            | features. To install, allow VHR to overwrite VUI+, and allow this patch to overwrite VHR.


    //- CALIFORNIA Fonts for Vanilla
    - coreMod = true
    - modId = 'california-fonts'
    - modName = 'CALIFORNIA Fonts for Vanilla'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66000'
    - modAuthor = 'emptybell'
    - modVersion = '0.7'
    - mainFiles = ['CALIFORNIA Fonts for Vanilla']
    +mod
        +notes
            | More ‘modern’, smaller fonts for VUI+,
            | since the text size seems to be the biggest attraction of DarnUI


    //- FPS Weapon Wheel - Vanilla UI Patch
    - preReq = 'Vanilla UI Plus, and FPS Weapon Wheel'
    - modId = 'fps-weapon-wheel-vanilla-ui'
    - modName = 'FPS Weapon Wheel - Vanilla UI Patch'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/63908'
    - modAuthor = 'frosty-theaussie'
    - modVersion = '1.0'
    - mainFiles = ['FPS Weapon Wheel - Vanilla UI Patch']
    +mod


    //- Loot Menu - Vanilla UI Patch'
    - preReq = 'Vanilla UI Plus, and Loot Menu'
    - modId = 'loot-menu-vanilla-ui'
    - modName = 'Loot Menu - Vanilla UI Patch'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/63908'
    - modAuthor = 'frosty-theaussie'
    - modVersion = '1.1'
    - mainFiles = ['Loot Menu - Vanilla UI Patch']
    +mod
        +notes Adds the Fallout 4-style looting system to New Vegas


    //- MTUI
    - modId = 'mtui'
    - modName = 'MTUI Dialogue Background'
    - modUrl = 'https://drive.google.com/file/d/1pP0Rw_1RfFAC4jYYlY7hPFBaaxSXaxKs/view?usp=sharing'
    - fileType = 'fnv'
    - modAuthor = 'Max Tael, Vermin'
    - downloadFiles = ['MTUI Dialogue Background (VUI+ Version).7z)']
    +mod
        +notes Adds the dialogue menu background gradiant from MTUI.


    //- MCM Matches HUD Color
    - preReq = 'The Mod Configuration Menu'
    - modId = 'mcm-matches-hud'
    - modName = 'MCM Matches HUD Color'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/64013'
    - modAuthor = 'SimonPDX '
    - modVersion = '1.0'
    - mainFiles = ['MCM Pause Menu Button Color Changer']
    +mod
        +notes Says it right on the tin, really.


    +merge('TTWOEE - UI Merge', 'ttwoee-ui-merge')
        | * Better Pickup Prompt.esp
        | * JIP Improved Recipe Menu.esp
        | * Vanilla UI Plus.esp


    //- +merge('TTWOEE - Just Mods Merge', 'ttwoee-just-mods-merge')
        | * JustDynamicCrosshair.esp
        | * JustVisualObjectives.esp
        | * JustHitMarker.esp
    //-
