- sections.push(['#ui', 'User Interface'])

section#ui
    h2 User Interface
   
    //- JIP Improved Recipe Menu
    - hasPlugins = true
    - coreMod = true
    - modId = 'jip-improved-recipe-menu'
    - modName = 'JIP Improved Recipe Menu'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/59638'
    - modAuthor = 'jazzisparis'
    - modVersion = '1.20'
    - mainFiles = ['JIP Improved Recipe Menu']
    +mod
        +notes
            | This mod makes the crafting interface (Recipe Menu) easier, more efficient
            | and less tedious to use.


    //- The Mod Configuration Menu
    - coreMod = true
    - hasPlugins = true
    - requiredBy = 'multiple mods'
    - modId = 'mcm'
    - modName = 'The Mod Configuration Menu'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/42507'
    - modAuthor = 'Pelinor'
    - modVersion = '1.5'
    - mainFiles = ['The Mod Configuration Menu']
    - updateFiles = ['MCM BugFix 2']
    +mod
        +notes Allows any number of mods to be configured from a single menu.


    //- The Weapon Mod Menu
    - hasPlugins = true
    - preReq = 'The Mod Configuration Menu'
    - modId = 'weapon-mod-menu'
    - modName = 'The Weapon Mod Menu'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/44515'
    - modAuthor = 'Pelinor'
    - modVersion = '1.2'
    - mainFiles = ['The Weapon Mod Menu']
    +mod
        +notes
            | Opens up new features to the weapon modding interface used in game,
            | so it is more intuitive. Lets you remove weapon mods and see all
            | available mods for a particular weapon


    //- UIO - UI Organizer
    - coreMod = true
    - hasPlugins = true
    - preReq = 'Requires NVSE'
    - modId = 'uio'
    - modName = 'UIO - UI Organizer'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/57174'
    - modAuthor = 'jazzisparis'
    - modVersion = '2.03'
    - mainFiles = ['UIO - User Interface Organizer']
    +mod
        +notes
            | An NVSE-powered plugin that is designed to manage and maintain all UI/HUD extensions added to the game by
            | various mods. Once installed, UIO will ensure UI extensions are always properly installed and, when necessary,
            | properly removed; it will automatically detect, resolve and prevent UI-related issues, and will help keep the game's
            | UI intact.


    //- One HUD - oHUD
    - hasPlugins = true
    - modId = 'ohud'
    - modName = 'One HUD - oHUD'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/44757'
    - modAuthor = 'Gopher'
    - modVersion = '1.1'
    - mainFiles = ['One HUD (oHUD)']
    +mod
        +notes Lets you take control of your HUD by adding, hiding, or removing elements

    //- Just Mods Merged
    - hasPlugins = true
    - modId = 'just-mods-merged'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/67253'
    - modAuthor = 'Yvileapsis'
    - modName = 'Just Mods Merged'
    - modVersion = '1.0'
    - mainFiles = ['Just Mods Merged']
    +mod
        +notes A merge of the "Just" series of mods

    //- Vanilla UI Plus
    - requiredBy = 'Vanilla HUD Remastered, Vanilla HUD Remastered Patch, Loot Menu - Vanilla UI Patch, and FPS Weapon Wheel - Vanilla UI Patch'
    - coreMod = true
    - configFiles = true
    - modId = 'vanilla-ui-plus'
    - modName = 'Vanilla UI Plus'
    - modUrl = 'https://www.moddb.com/mods/vanilla-ui-plus/downloads'
    - fileType = 'fnv'
    - modAuthor = 'Axonis'
    - modVersion = '7.79'
    - mainFiles = ['Vanilla UI Plus (New Vegas) 7.71']
    +mod
        +instructions
            | Many options can be configured via the xml config file
            |
            | Right click on Vanilla UI Plus in the left pane of Mod Organizer
            | Select "Open In Explorer"
            |
            | Navigate to Menus\Prefabs\VUI+
            | Open settings.xml in a text editor
            |
            | Set <_VUI+StatusInfo> to 2
            | Save and exit
        +notes
            | Vanilla UI Plus (VUI+) is a Fallout 3 and New Vegas mod that greatly improves the user interface without
            | compromising the original style.

