//-
    Cut Content
//-

- sections.push(['#cut-content', 'Cut Content'])

section#cut-content
    h2 Cut Content

    //- Intro Bus Street Alignment
    - hasPlugins = true
    - converted = true
    - fileType = 'fo3'
    - requiredBy = 'TTW Interiors - Devestated City Patch'
    - modId = 'intro-bus-street-alignment'
    - modName = 'Intro Bus Street Alignment'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66542'
    - modAuthor = 'bigpete, Roy Batty'
    - modVersion = '1.0a'
    - mainFiles = ['Intro Street Bus']
    +mod
        +notes
            | Adds the intro street bus to Chevy Chase, aligns Dupont on the map and adds the
            | teaser trailer ruins just outside Springvale. More details on the
            | #[+link('mods TTW forum post', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6520&sid=d7978d3911e87f0ba5b6af81269d94e9')]
