//-
    Cut Content
//-

- sections.push(['#cut-content', 'Cut Content'])

section#cut-content
    h2 Cut Content

    //- Strip Wall Billboards
    - hasPlugins = true
    - modId = 'strip-wall-billboards'
    - modName = 'Strip Wall Billboards'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/56257'
    - modAuthor = 'sandbox6'
    - modVersion = '1.0'
    - mainFiles = ['Strip Wall Billboards']
    +mod
        +notes
            | Adds previously unused billboards which were only seen during
            | the intro to The Strip's perimeter wall making it slightly less
            | dull. There are only three images on the billboards used in different
            | orientations, but it's still an improvement over the boring vanilla walls.


    //- No more giant manhole covers
    - hasPlugins = true
    - modId = 'no-more-giant-manhole-covers'
    - modName = 'No more giant manhole covers'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/55946'
    - modAuthor = 'sandbox6'
    - modVersion = '1.01'
    - mainFiles = ['No more giant manhole covers']
    +mod
        +notes
            | Simply replaces those ridiculous looking doors in the sewers that
            | were obviously oversized sidewaysmanhole covers with sewer grates
            | instead.


    //- Outside Bets
    - modId = 'outside-bets'
    - modName = 'Outside Bets'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/46648'
    - modAuthor = 'MorBurma'
    - modVersion = 'V1.4'
    - mainFiles = ['Outside Bets V 1-4']
    +mod
        +optionalEsps('Outside Bets', 'outsidebets.esp')


    //- Outside Bets - TTW Patch
    - hasPlugins = true
    - converted = true
    - modId = 'outside-bets-ttw'
    - modName = 'Outside Bets'
    - modUrl = 'https://drive.google.com/file/d/12rbimLX3N4zkxCPgT0P2hfbg3H9ZJJdD/view?usp=sharing'
    - fileType = 'fnv'
    - modAuthor = 'FiftyTifty'
    - downloadFiles = ['outsidebets.esp']
    +mod
        +instructions
            | Create an archive with just the esp
            | Install in Mod Organizer
        +notes
            | For more info visit the #[+link('TTW forum post', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6769&sid=16a02787fce15e5188a8778d7563b3f2')]


    //- Intro Bus Street Alignment
    - hasPlugins = true
    - converted = true
    - fileType = 'fo3'
    - requiredBy = 'TTW Interiors - Devestated City Patch'
    - modId = 'intro-bus-street-alignment'
    - modName = 'Intro Bus Street Alignment'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/66542'
    - modAuthor = 'bigpete, Roy Batty'
    - modVersion = '1.0a'
    - mainFiles = ['Intro Street Bus']
    +mod
        +notes
            | Adds the intro street bus to Chevy Chase, aligns Dupont on the map and adds the
            | teaser trailer ruins just outside Springvale. More details on the
            | #[+link('mods TTW forum post', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6520&sid=d7978d3911e87f0ba5b6af81269d94e9')]


+merge('TTWOEE - Sandbox6 Merge', 'ttwoee-sandbox6-merge')
    | * Strip Wall Billboards.esp
    | * No more giant manhole covers.esp
