h3 Books, Magazines, and Newspapers

//- Better HiRes Skill Books
- modId = 'better-hires-skill-books'
- modName = 'Better HiRes Skill Books'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/3876'
- modAuthor = 'ObsidianStag'
- modVersion = 'FINAL'
- mainFiles = ['HiResSkillBooks']
+mod
    +notes 
        | Fallout 3 version of HiRes Skill Books Retexture, only one book is used which
        | is not covered by the New Vegas version


//- HiRes Skill Books Retexture
- modId = 'hires-skill-books-retexture'
- modName = 'HiRes Skill Books Retexture'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/61273'
- modAuthor = 'Mahreenee'
- modVersion = '1.0'
- mainFiles = ['HiRes Skill Books Retexture V1.0']
+mod
    +notes Retextures skill books


//- HQ Pre-War Books and Damaged Books
- modId = 'hq-pre-war-damaged-books'
- modName = 'HQ Pre-War Books and Damaged Books'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/63924'
- modAuthor = 'CyrusMonroe'
- modVersion = '1.0'
- mainFiles = ['HQ Damaged Books', 'HQ Pre-War Books']
+mod
    +notes Beautiful retextures of the Pre-War and Damaged books found in the Capital Wasteland


//- Magazine Redux
- coreMod = true
- downgrade = true
- modId = 'magazine-redux'
- modName = 'Magazine Redux'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/42681'
- modAuthor = 'razzy1319'
- modVersion = '1.1'
- mainFiles = ['Magazine Redux']
- updateFiles = ['MagRedux QuickFix']
+mod
    +notes High Quality (although grunged up to fit the lore) Magazines.


//- Minimod - High Resolution Newspapers
- coreMod = true
- modId = 'minimod'
- modName = 'Minimod - High Resolution Newspapers'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/50812'
- modAuthor = 'Tagaziel and LadySinestro'
- modVersion = '1.5'
- mainFiles = ['New and Improved Meshes by LadySinestro']
+mod
    +notes Retextures the framed newspapers in casinos
