h3 Collectibles

//- Bobbleheads Retextured
- modId = 'bobbleheads-retextured'
- modName = 'Bobbleheads Retextured'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/12378'
- modAuthor = 'konji'
- modVersion = ' 1.00'
- mainFiles = ['Bobbleheads_Retextured']
+mod
    +mispack
        | Select either tex - BLACK VERSION or tex - WHITE VERSION
        | Drag the textures folder into the into the root directory so it is the same level as meshes
        |
        | Uncheck bobbleheads.jpg


//- Snowglobes Redone
- modId = 'snowglobes-redone'
- modName = 'Snowglobes Redone'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/62489'
- modAuthor = 'Quoter1'
- modVersion = '1.0'
- optionalFiles = ['Snowglobes Redone DLC 2K']
+mod
    +optionalEsps('Snowglobes Redone', 'Snowglobes Redone - DLC.esp')
    +notes Retextures the snow globes and adds unique animated effects to each
