h3 Materials


//- Casco Wonderglue Retex
- modId = 'casco-wonderglue'
- modName = 'Casco Wonderglue Retex'
- modAuthor = 'Jokerine'
- modVersion = '1.0'
- mainFiles = ['Casco Wonderglue Retex v1 - NV']
- modUrl = 'https://www.nexusmods.com/newvegas/mods/61114'
+mod


//- HD Duct Tape Retexture
- modId = 'hd-duct-tape'
- modName = 'HD Duct Tape Retexture'
- modAuthor = 'Deanoman'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/59739'
- modVersion = '1.1'
- mainFiles = ['HD Duct Tape 1.1']
+mod


//- Hi-Res Lunchbox
- coreMod = true
- modId = 'hi-res-lunchbox'
- modName = 'Hi-Res Lunchbox'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/3682'
- modAuthor = 'Dazington'
- modVersion = '1.0'
- mainFiles = ['Hi-Res_Lunchbox_V1_0']
+mod
    +notes Replaces the standard 256x256 lunchbox texture with a higher resolution 1024x1024