    h3 Fallout 3 DLC Retextures

    //- Operation Anchorage
    - highQuality = true
    - modId = 'qzx-operation-anchorage'
    - modName = 'Operation Anchorage'
    - modUrl = 'http://www.mediafire.com/download/d1c1vp8g1jbgb8y/Operation+Anchorage.7z'
    - fileType = 'fo3'
    - modAuthor = 'QuazarX'
    - modVersion = '1.5'
    - downloadFiles = ['OperationAnchorage.7z']
    +mod


    //- The Pitt
    - highQuality = true
    - modId = 'qzx-the-pitt'
    - modName = 'The Pitt'
    - modUrl = 'http://www.mediafire.com/download/boi3u7tgqan5htt/ThePitt.7z'
    - fileType = 'fo3'
    - modAuthor = 'QuazarX'
    - modVersion = '1.5'
    - downloadFiles = ['ThePitt.7z']
    +mod


    //- Broken Steel
    - highQuality = true
    - requiredBy = 'QuazarX Broken Steel - Update'
    - modId = 'qzx-broken-steel'
    - modName = 'Broken Steel'
    - modUrl = 'http://www.mediafire.com/download/fwksyu0v6auw32u/BrokenSteel.7z'
    - fileType = 'fo3'
    - modAuthor = 'QuazarX'
    - modVersion = '1.5'
    - downloadFiles = ['BrokenSteel.7z']
    +mod


    //- Broken Steel - Update
    - highQuality = true
    - preReq = 'QuazarX Broken Steel'
    - modId = 'qzx-broken-steel-update'
    - modName = 'Broken Steel - Update'
    - modUrl = 'https://yadi.sk/d/DbGfifgpoCkcm'
    - fileType = 'fo3'
    - modAuthor = 'QuazarX'
    - modVersion = '1.5.1'
    - downloadFiles = ['BrokenSteel.rar']
    +mod


    //- Point Lookout
    - highQuality = true
    - requiredBy = 'QuazarX Point Lookout - Update'
    - modId = 'qzx-point-lookout'
    - modName = 'Point Lookout'
    - modUrl = 'http://www.mediafire.com/download/ql238cvbl494re3/PointLookout.7z'
    - fileType = 'fo3'
    - modAuthor = 'QuazarX'
    - modVersion = '1.5'
    - downloadFiles = ['PointLookout.7z']
    +mod


    //- Point Lookout - Update
    - highQuality = true
    - preReq = 'QuazarX Point Lookout'
    - modId = 'qzx-point-lookout-update'
    - modName = 'Point Lookout - Update'
    - modUrl = 'https://yadi.sk/d/0FEoToiloCnB3'
    - fileType = 'fo3'
    - modAuthor = 'QuazarX'
    - modVersion = '1.5.1'
    - downloadFiles = ['PointLookout.rar']
    +mod


    //- Mothership Zeta
    - highQuality = true
    - modId = 'qzx-mothership-zeta'
    - modName = 'Mothership Zeta'
    - modUrl = 'https://yadi.sk/d/hdprwCDcWxKzD'
    - fileType = 'fo3'
    - modAuthor = 'QuazarX'
    - modVersion = '1.5'
    - downloadFiles = ['MothershipZeta_1.5.7z']
    +mod


    //- Mothership Zeta DLC Retextured
    - modId = 'mothership-zeta-dlc-retextured'
    - modName = 'Mothership Zeta DLC Retextured'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/8260'
    - modAuthor = 'Weijiesen'
    - modVersion = '1.0'
    - mainFiles = ['WJS DLC05 Retex 1_0']
    +mod
        +notes
            | The spaceship looks like metal instead of cardboard now! The aliens look creepy instead of bland now!
            | Zeta has been awesomefied. EVERY single last texture.
