h3 Food, Drinks and Chems

//- Fallout Food Package Retexture Compilation
- coreMod = true
- requiredBy = 'Collision Meshes FO3 - Fallout Food Package Retexture Compilation'
- modId = 'food-package-retexture-collection'
- modName = 'Fallout Food Package Retexture Compilation'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/59232'
- modAuthor = 'Majormodder'
- modVersion = '3.0'
- mainFiles = ['Food compilation dirty set uncompressed 3 point Oh']
+mod
    +optionalEsps('Food Package Retexture Compilation', "majormodder's Junk Food to Barbeque Crisps.esp")
    +notes
        | Revamps the old food textures for the box packages with textures ranging
        | from 1k-2k size, lore friendly too.


//- Collision Meshes FO3 - Fallout Food Package Retexture Compilation
//- - preReq = 'Collision Meshes, and Fallout Food Package Retexture Compilation'
//- - modId = 'collision-meshes-fo3-food-package-retexture-patch'
//- - modName = 'Collision Meshes FO3 - Fallout Food Package Retexture Compilation'
//- - modUrl = 'https://www.nexusmods.com/fallout3/mods/21946'
//- - modAuthor = 'KaneWright'
//- - modVersion = '1.0'
//- - miscFiles = ['FalloutFoodPackageRetextureCompilationFix']
//- +mod


//- High Resolution Iguana on a Stick
- modId = 'iguana-on-a-stick'
- modName = 'High Resolution Iguana on a Stick'
- modAuthor = 'Jokerine'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/58660'
- modVersion = '1.0'
- mainFiles = ['High-Res Iguana on a Stick v1']
+mod


//- High Res Vanilla Water Bottle Textures and Meshes
- modId = 'high-res-vanilla-water-bottles'
- modName = 'High Res Vanilla Water Bottle Textures and Meshes'
- modAuthor = 'Mkdo40'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/64686'
- modVersion = '1.5'
- mainFiles = ['High Res Water']
+mod
    +notes Vanilla-styled retexure of dirty and purified water


//- High Resolution Potato
- modId = 'high-res-potato'
- modName = 'High Resolution Potato'
- modAuthor = 'Jokerine'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/63563'
- modVersion = '1.0'
- mainFiles = ['High Res Potato v1']
+mod


//- Pinyon Nuts Retexture
- modId = 'pinyon-nuts'
- modName = 'Pinyon Nuts Retexture'
- modAuthor = 'Jokerine'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/60481'
- modVersion = '1.0'
- mainFiles = ['Pinyon Nuts Retexture v1']
+mod


//- PM's Med-Textures - HD Chems and Venoms
- coreMod = true
- modId = 'pms-med-textures'
- modName = "PM's Med-Textures - HD Chems and Venoms"
- modUrl = 'https://www.nexusmods.com/newvegas/mods/62946'
- modAuthor = 'pommymax'
- modVersion = '1.0'
- mainFiles = ["PM's Med-Textures v1.0"]
- optionalFiles = ["PM's Med-X Texture", "Sebastjin's Normals"]
+mod
    +notes HD Retextures for all chems, venoms, and antivenoms.
