h3 Minigames

//- HD Caravan Table Retexture
- modId = 'hd-caravan-table'
- modName = 'HD Caravan Table Retexture'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66828'
- modAuthor = 'Blaydon'
- modVersion = '1'
- mainFiles = ['HD Caravan Retexture']
+mod


//- Hectrol Lockinterface Deluxe
- coreMod = true
- downgrade = true
- modId = 'hectrol-lockinterface-deluxe'
- modName = 'Hectrol Lockinterface Deluxe'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/39945'
- modAuthor = 'Hectrol'
- modVersion = '1.0'
- mainFiles = ['Hectrol Lockinterface Deluxe HighRes Retex']
+mod
    +notes
        | This skin modifies the aspect of blocked locks interface.
        | The full effect of the Normal Map is displayed correctly in motion.