h3 Currency


//- Money Higher Quality Retex
- coreMod = true
- modId = 'money-higher-quality-retex'
- modName = 'Money Higher Quality Retex'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/40792'
- modAuthor = 'Lord Inquisitor'
- modVersion = '1.2'
- mainFiles = ['MoneyRetexV1_2']
+mod

//- Pre-War Money Retexture
- coreMod = true
- modId = 'pre-war-money-retexture'
- modName = 'Pre-War Money Retexture'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/36718'
- modAuthor = 'Red.Room.Service'
- modVersion = '1.2'
- mainFiles = ['Pre-War Money Retexture -RRS']
+mod
    +instructions When prompted, select Light Distress for both bills.
    +notes
        | A re-texture of Pre-War Money featuring authentic, time-frame accurate,
        | appropriately distressed, bills