h3 Plants and Trees

//- Hectrol Tumbleweed
- downgrade = true
- requiredBy = 'Collision Meshes - Hectrol Tumbleweed'
- modId = 'hectrol-tumbleweed'
- modName = 'Hectrol Tumbleweed'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/40333'
- modAuthor = 'Hectrol'
- modVersion = '1.0'
- mainFiles = ['Hectrol Tumbleweed Deluxe HighRes Retex']
+mod
    +notes
        | This skin modifies the aspect of default boring tumbleweeds
        | by realistic tumbleweeds, and adds a new Normal Map


//- Collision Meshes - Hectrol Tumbleweed
- preReq = 'Collision Meshes, and Hectrol Tumbleweed'
- modId = 'collision-meshes-tumbleweed'
- modName = 'Collision Meshes - Hectrol Tumbleweed'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/59149'
- modAuthor = 'MadAce, KiCHo666'
- modVersion = '1.0'
- miscFiles = ['Hectrol Tumbleweed compatibility']
+mod


//- Wasteland Flora Overhaul
- modId = 'wasteland-flora-overhaul'
- modName = 'Wasteland Flora Overhaul'
- modAuthor = 'vurt'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/39856'
- modVersion = '3.2'
- mainFiles = ['Wasteland Flora Overhaul ESP-less and LOD-less']
+mod


//- Vurt's Improved Plants
- modId = 'vurts-improved-plants'
- modName = "Vurt's Improved Plants"
- modUrl = 'https://www.nexusmods.com/newvegas/mods/66898'
- modAuthor = 'vurt'
- modVersion = '1.0'
- mainFiles = ["Vurt's Improved Plants"]
+mod