h3 Redone Signs

//- Arlington Tombstones Redone
- modId = 'arlington-tombstone-redone'
- modName = 'Arlington Tombstones Redone'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/23059'
- modAuthor = 'd7'
- modVersion = '1'
- mainFiles = ['d7_tombstones_redo']
+mod
    +notes New meshes and textures for the Arlington graveyard tombstones


//- Chrysalis Billboard
- modId = 'chrysalis-billboard'
- modName = 'Chrysalis Billboard'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/5408'
- modAuthor = 'Autlan Waspeez'
- modVersion = '1.0'
- mainFiles = ['Chrysalis_billboard']
+mod


//- Germantown Sign Texture
- modId = 'germantown-sign-texture'
- modName = 'Germantown Sign Texture'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/21285'
- modAuthor = 'Deanoman'
- modVersion = '1.0'
- mainFiles = ['Version 1.0']
+mod


//- Hubris Comics Sign
- modId = 'hubris-comics-sign'
- modName = 'Hubris Comics Sign'
- requiredBy = 'Hubris Comics Sign - TTW Patch'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/23348'
- modAuthor = 'd7'
- modVersion = '1'
- mainFiles = ['d7_hubricComicsExteriorSign']
+mod
    +optionalEsps('Hubris Comics Sign', 'd7_hubris.esp')


//- High Res Vanilla Posters and Graffiti
- modId = 'high-res-posters-and-graffiti'
- modName = 'High Res Vanilla Posters and Graffiti'
- modUrl = 'https://www.nexusmods.com/newvegas/mods/64589'
- modAuthor = 'SciRika'
- modVersion = '0.8'
- mainFiles = ['Hi Res PostersHi Res Posters']
- updateFiles = ['urbanposters03']
+mod
    +notes Up-scaled posters and graffiti


//- Hubris Comics Sign - TTW Patch
- hasPlugins = true
- converted = true
- preReq = 'Hubris Comics Sign'
- modId = 'hubris-comics-sign-ttw'
- modName = 'Hubris Comics Sign - TTW Patch'
- fileType= 'ttw'
- modUrl = 'https://drive.google.com/file/d/1gpr5r2Hn23XzMQyMNdUDjunnhqE3dvfx/view?usp=sharing'
- modAuthor = 'pintocat, d7'
- mainFiles = ['d7_hubris.7z']
+mod
    +notes
        | Makes Hubris Comics Sign work with TTW. For more details visit
        | the #[+link('TTW forums', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6855')]


//- RobCo Sign REDO
- modId = 'robco-sign-redo'
- modName = 'RobCo Sign REDO'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/23340'
- modAuthor = 'd7'
- modVersion = '1'
- mainFiles = ['d7_RobCoSignREDO']
+mod


//- Statesman Hotel Signs
- modId = 'statesman-hotel-signs'
- modName = 'Statesman Hotel Signs'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/23349'
- modAuthor = 'd7'
- modVersion = '1'
- mainFiles = ['d7_statesmanHotelSigns']
+mod


//- Super Duper Mart Exterior Sign
- modId = 'super-duper-mart-sign'
- modName = 'Super Duper Mart Exterior Sign'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/23354'
- modAuthor = 'd7'
- modVersion = '1'
- mainFiles = ['d7_SDMExteriorSign02']
+mod


//- Super Duper Mart Exterior Sign - Rustier Texture
- modId = 'super-duper-mart-sign-rusty'
- modName = 'Super Duper Mart Exterior Sign - Rustier Texture'
- modUrl = 'http://www.mediafire.com/file/5bpmvm292iy9pap/Super_Duper_Sign_Retex_%255Bfixed%255D.7z/file'
- modAuthor = 'DKZ'
- downloadFiles = ['Super Duper Sign Retex [fixed]']
+mod
    +notes
        | User DKZ created a patched texture of the 'sethpolePatch' version so it is more immersive and does not use someones name.
        | #[+link('In game screenshot', 'https://imgur.com/a/pNiANyJ')].


//- VaultTec HQ Exterior Sign
- modId = 'vaulttec-hq-sign'
- modName = 'VaultTec HQ Exterior Sign'
- modUrl = 'https://www.nexusmods.com/fallout3/mods/23345'
- modAuthor = 'd7'
- modVersion = '1'
- mainFiles = ['d7_vaultTecHQ_SIGN']
+mod
