//- include bashtags.pug

- sections.push(['#final-steps', 'Final Steps'])

section#final-steps
    h2 Final Steps

    include runloot.pug
    include mergepatch.pug

section#adding-mods
    h2 Adding Mods

    +copy('mb0')
        | Once you have the guide installed, if you would like to add
        | more mods on top of it there are a few things to keep in mind.
    pre.mt0
        | 1. Always refer to the #[+link('Incompatible mods list', 'https://taleoftwowastelands.com/viewtopic.php?f=50&t=6878')]
        | 2. If a Fallout 3 mod has a plugin that has not been converted, you MUST DISABLE THE PLUGIN
        | 3. If any plugins are added, the #[+link('merge patch', 'https://ttwoee.com#merge-patch')] must be remade
        | 4. If new locations and/or LOD is added #[+link('LOD', 'https://ttwoee.com#lod')] must be regenerated
        | 5. Keep in mind the plugin limit, and merge plugins together as necessary. Try not to exceed 125 plugins.
        | 6. If new plugins are added, be sure to run LOOT to sort your load order
        | 6. Refer to the #[+link('Load Order General Guide', 'https://wiki.synstack.org/books/tale-of-two-wastelands/page/load-order-general-guide')] if you are unsure of load order

    +copy('mb0')
        | There are a few places to look for TTW compatible mods
    pre.mt0
        | 1. Refer to the #[+link('recommended mod list', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6941&sid=831fbd26d5eedd4bd77b83170ac94bbf')] for ideas
        | 2. Check the #[+link('TTW mod releases forums', 'https://taleoftwowastelands.com/viewforum.php?f=55')]
        | 3. Most mods on the #[+link('Fallout New Vegas Nexus', 'https://nexusmods.com/newvegas')] should be compatible
        | 4. Some mods (mostly textures) can be found on the #[+link('Fallout 3 Nexus', 'https://nexusmods.com/fallout3')]

    +copy If you would like to attempt to convert your own mods, you can refer to #[+link('this forum post', 'https://taleoftwowastelands.com/viewtopic.php?f=55&t=6525')]

    +copy('mb0')
        | There are many other guides to look at for ideas, here are my favorites:
    pre.mt0
        | #[+link('Viva New Vegas by Qolore7', 'https://hackmd.io/s/Hka6UZxqm#')]
        | #[+link('Clear and Present Danger by Kelmych', 'http://wiki.step-project.com/User:Kelmych/Fallout3')]
        | #[+link('Fear and Loathing in New Vegas by EssArrBee', 'http://wiki.step-project.com/User:EssArrBee/FalloutNewVegas')]
        | #[+link('Worlds of Tomorrow by Adonis VII', 'https://wiki.nexusmods.com/index.php/User:Adonisvii/Worlds_of_Tomorrow')]
        | #[+link('Rika’s Guide to FNV Modding', 'https://docs.google.com/spreadsheets/d/1ci3sNT0wcrbjETw4sM7JqlK-zmcjoLqJFSjqhmTjk_0/edit?usp=sharing')]
