section#optional-esps
    h3 Verify Optional ESPs

    +important('mb0')
        | These plugins MUST be set to optional in Mod Organizer, or the game will not work properly.
    pre.mt0
        | MCGrass.esp (UHQ Terrain, Rock, Roads, & Grass Overhaul)
        | MCRockTextures.esp (UHQ Terrain, Rock, Roads, & Grass Overhaul)
        | d7_hubris.esp (Hubris Comics Sign, Fallout 3 version asthe TTW patch shares the same name)
        | T4-plugin.esp (TYPE4 Female Body and Armors)
        | Boacombat2glove.esp (aMidianBorn NV Book of Water - Book of Steel)
        | ncrpahelmet.esp (aMidianBorn NV Book of Water - Book of Steel)
        | Bornagain Zeta Combat Armor Texture Patch.esp (Bornagain Combat Armor FO3)
        | Bornagain Outcast T-45d Texture Patch.esp (Bornagain Outcast T-45d Power Armor)
        | BornAgain Outcast v3.esp (Bornagain FO3 Outcast)
        | Tribal_DX.esp (Tribal DX)
        | NCRTrooperOverhaul.esp (NCR Trooper Overhaul)
        | OWB-Path Lights - Darker Nights.esp (Old World Blues Path Lighting)
        | FyTy - TTW More Spawns 3x.esp (More Spawns)
        | Beards.esp (Beards)
        | majormodder's Junk Food to Barbeque Crisps.esp (Fallout Food Package Retexture Compilation)
        | Snowglobes Redone - DLC.esp (Snowglobes Redone)
