//-
    Run LOOT
//-


section#run-loot
    h3 Run LOOT

    pre
        | Open LOOT through Mod Organizer
        | Sort the mod list
        | Click [Apply] when the list of mods is presented
        | Close LOOT.

    +copy
        | You can also refer to the #[+link('Load Order General Guide', 'https://wiki.synstack.org/books/tale-of-two-wastelands/page/load-order-general-guide')]
        | to manually adjust your load order. Not all the mods are relevant to the guide but the principles are the same. Additionally, (more just for concepts of
        | load order, as it is targeted at Skyrim for console) #[+link('Logical Load Order', 'https://tarshgaming.com/mod-using/logical-load-order/')] is a
        | short resource for load order sorting.
