//-
    Run LOOT
//-


section#run-loot
    h3 Run LOOT

    pre
        | Open LOOT through Mod Organizer 
        | Sort the mod list
        | Click [Apply] when the list of mods is presented
        | Close LOOT. 