//-
    Armor
//-

- sections.push(['#armor', 'Armor'])

section#armor
    h2 Armor

    h3 Book of Steel

    //- aMidianBorn NV Book of Water - Book of Steel
    - coreMod = true
    - requiredBy = 'Book of Steel - Compatibility Edition'
    - modId = 'book-of-steel'
    - modName = 'aMidianBorn NV Book of Water - Book of Steel'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/39873'
    - modAuthor = 'CaBaL'
    - modVersion = 'omni2'
    - mainFiles = ['nov 2011 book of steel']
    +mod
        +optionalEsps('aMidianBorn NV Book of Water - Book of Steel', 'boa ncrpahelmet.esp', 'Boacombat2glove.esp')
        +notes All of Cabals armor retextures


    //- Bornagain Combat Armor FO3
    - coreMod = true
    - downgrade = true
    - highQuality = true
    - requiredBy = 'Book of Steel - Compatibility Edition'
    - modId = 'bornagain-combat-armor-fo3'
    - modName = 'Bornagain Combat Armor FO3'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/18220'
    - modAuthor = 'EmeraldReign and Cabal'
    - modVersion = '1.01'
    - mainFiles = ['BornagainCombatArmor4096']
    - updateFiles = ['BornagainCombatArmor4096EnvironmentMaps', 'BornagainGhoulCombatArmor4096', 'BornagainAnchorageCombatArmor2048', 'BornagainZetaCombatArmor4096']
    +mod
        +optionalEsps('Bornagain Combat Armor', 'Bornagain Zeta Combat Armor Texture Patch.esp')
        +notes Combat armor high res replacer for all Fallout 3 default game combat armors


    //- Bornagain Combat Armor FNV
    - coreMod = true
    - downgrade = true
    - highQuality = true
    - requiredBy = 'Book of Steel - Compatibility Edition'
    - modId = 'bornagain-combat-armor-fnv'
    - modName = 'Bornagain Combat Armor FNV'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/48068'
    - modAuthor = 'EmeraldReign and Cabal'
    - modVersion = '1.0'
    - mainFiles = ['BornagainFNVCombatArmor4096']
    - optionalFiles = ['BornagainFNVCombatArmorLonesomeRoad4096']
    +mod
        +notes Combat armor high res replacer for all New Vegas default game combat armors


    //- Bornagain FO3 T45d Power Armor
    - coreMod = true
    - downgrade = true
    - highQuality = true
    - requiredBy = 'Book of Steel - Compatibility Edition'
    - modId = 'bornagain-fo3-t45d-power-armor'
    - modName = 'Bornagain FO3 T45d Power Armor'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/16882'
    - modAuthor = 'Cabal'
    - modVersion = 'v3'
    - mainFiles = ['bornagain fo3 t45d 4096 huge v3 fixed']
    +mod
        +notes T45d PA replacer, full textures with environment and glow maps made from scratch 


    //- Bornagain Outcast T-45d Power Armor
    - coreMod = true
    - requiredBy = 'Book of Steel - Compatibility Edition'
    - modId = 'bornagain-outcast-t45d-power-armor'
    - modName = 'Bornagain Outcast T-45d Power Armor'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/18221'
    - modAuthor = 'Cabal, EmeraldReign'
    - modVersion = '1.0'
    - mainFiles = ['BornagainOutcastT45d4096']
    +mod
        +optionalEsps('Bornagain Outcast T-45d Power Armor', 'Bornagain Outcast T-45d Texture Patch.esp')
        +notes High res replacer for the Outcast T-45d


    //- Bornagain FO3 Outcast
    - coreMod = true
    - downgrade = true
    - highQuality = true
    - requiredBy = 'Book of Steel - Compatibility Edition'
    - modId = 'bornagain-fo3-outcast'
    - modName = 'Bornagain FO3 Outcast'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/16199'
    - modAuthor = 'Cabal'
    - modVersion = '3'
    - mainFiles = ['Bornagain Fo3 outcast MAIN']
    - updateFiles = ['helmet fix']
    +mod
        +optionalEsps('Bornagain FO3 Outcast', 'BornAgain Outcast v3.esp')
        +notes Replaces outcast armor textures for Fallout 3


    //- Book of Steel - Compatibility Edition
    - coreMod = true
    - converted = true
    - hasPlugins = true
    - fileType = 'ttw'
    - preReq = 'aMidianBorn NV Book of Water - Book of Steel, Bornagain Combat Armor FO3, Bornagain Combat Armor FNV, Bornagain FO3 T45d Power Armor, Bornagain Outcast T-45d Power Armor, and Bornagain FO3 Outcast'
    - modId = 'book-of-steel-compatibility-edition'
    - modName = 'Book of Steel - Compatibility Edition'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/60666'
    - modAuthor = 'Darthbdaman'
    - modVersion = '2.1.0'
    - mainFiles = ['Book of Steel - Compatibility Edition']
    - optionalFiles = ['Tale of Two Wastelands']
    +mod
        +notes
            | A patch for Cabal's aMidianBorn Book of Steel textures, to make them compatible with TTW. the original ESP's made
            | very strange edits to the game, that caused incompatibilities, which were unnecessary for a texture mod. All of 
            | these have been removed, and the only changes are made to make the armors display correctly.
       

    h3 Other Armors

     //- Enclave Power Armors Retextured
    - coreMod = true
    - modId = 'enclave-power-armors-retextured'
    - modName = 'Enclave Power Armors Retextured'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/18370'
    - modAuthor = 'd_seven aka id2301'
    - modVersion = '1'
    - mainFiles = ['Hellfire']
    +mod
        +notes Hellfire PA retextured


    //- Tribal DX
    - coreMod = true
    - downgrade = true
    - highQuality = true
    - modId = 'tribal-dx'
    - modName = 'Tribal DX'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/6520'
    - modAuthor = 'Weijiesen'
    - modVersion = '1.0'
    - mainFiles = ['Tribal DX - 4096 res -']
    +mod
        +optionalEsps('Tribal DX', 'Tribal_DX.esp')
        +notes A high res and much better Tribal armor with more details.


    //- Mono's Updated ADAM Package
    - coreMod = true
    - hasPlugins = true
    - modId = 'adam'
    - modName = "Mono's Updated ADAM Package"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/61390'
    - modAuthor = 'MonoAccipiter, EssArrBee and darthbdaman'
    - modVersion = '4.5.1'
    - mainFiles = ['ADAM All-in-one Installer 4.5.1']
    +mod
        +instructions
            | During install:
            | Select "Complete Version"
            | Then select "No" for NCR Trooper module
        +notes 
            | The original versions have ridiculous package structure that makes installation difficult. 
            | Pretty much the go-to overhaul for the game's most iconic equipment. The linked version includes
            | improvements upon AI99's updated version and a FOMOD installer.


    //- PM's HD Legion Overhaul
    - highQuality = true
    - downgrade = true
    - modId = 'pm-legion-overhaul'
    - modName = "PM's HD Legion Overhaul"
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/67595'
    - modAuthor = 'pommymax'
    - modVersion = '1.1'
    - mainFiles = ["PM's HD Legion Overhaul - 4K"]
    - optionalFiles = ['4K Normal Maps']
    +mod
        +notes Better gear for Legion.


    //- NCR Civilian Clothing
    - coreMod = true
    - modId = 'ncr-civilian-clothing'
    - modName = 'NCR Civilian Clothing'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/49675'
    - modAuthor = 'Darziak'
    - modVersion = '1.0'
    - mainFiles = ['NCR Civilian Clothing']
    +mod
        +notes Makes nice tweaks to the NCR clothing and brings a bit of color to the their wardrobe.


    //- NCR Trooper Overhaul
    - coreMod = true
    - requiredBy = 'NCR Trooper Overhaul - Distributed'
    - modId = 'ncr-trooper-overhaul'
    - modName = 'NCR Trooper Overhaul'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/52721'
    - modAuthor = 'Emerald Reign, nekronom, cabal, wjs, dragbody'
    - modVersion = 'beta'
    - mainFiles = ['Main File Beta 7_2']
    - updateFiles = ['Sapper Leg Fix']
    +mod
        +optionalEsps('NCR Trooper Overhaul', 'NCRTrooperOverhaul.esp')
        +notes This is much like ADAM except that it covers the NCR troopers.


    //- NCR Trooper Overhaul - Distributed
    - coreMod = true
    - hasPlugins = true
    - preReq = 'NCR Trooper Overhaul'
    - modId = 'ncr-trooper-overhaul-distributed'
    - modName = 'NCR Trooper Overhaul - Distributed'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/54978'
    - modAuthor = 'pwinkle'
    - modVersion = '1.0'
    - mainFiles = ['Trooper Overhaul Main File']
    +mod
        +notes 
            | This mod takes the added trooper models and textures from NCR Trooper Overhaul
            | and distributes them across the wasteland.


    //- Realistic Pip-Boy Retexture
    - coreMod = true
    - downgrade = true
    - highQuality = true
    - modId = 'realistic-pip-boy'
    - modName = 'Realistic Pip-Boy Retexture'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/22065'
    - modAuthor = 'Numb Squirrel'
    - modVersion = '1.0'
    - mainFiles = ['Numb Squirrel Pip-Boy 4k Uncompressed']
    +mod


    //- Pimpboy
    - modId = 'pimpboy'
    - modName = 'Pimpboy'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/60629'
    - modAuthor = 'weijiesen'
    - modVersion = '1.0'
    - mainFiles = ['Pimpboy - Opal - default']
    +mod


    //- Wasteland Clothing Hires Retexture
    - coreMod = true
    - modId = 'wasteland-clothing-retexture'
    - modName = 'Wasteland Clothing Hires Retexture'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/54478'
    - modAuthor = 'Macintroll'
    - modVersion = '1.3A'
    - mainFiles = ['Wasteland Clothing HD V1-3 FULL PACK']
    - updateFiles = ['Wasteland Clothing HD V1-3 POWDERGANG FIX -IMPORTANT-']
    +mod
        +notes High-quality retextures of most clothing items, both male and female


    //- HR Armored Vault 13 Jumpsuit
    - modId = 'hr-armored-vault-13-jumpsuit'
    - modName = 'HR Armored Vault 13 Jumpsuit'
    - modUrl = 'https://www.nexusmods.com/newvegas/mods/62642'
    - modAuthor = 'Ellise Decer aka Asurah'
    - modVersion = '1.0'
    - mainFiles = ['HR Armored Vault 13 Jumpsuit_2k']
    +mod


    //- HR Armored Vault 101 Jumpsuit
    - downgrade = true
    - highQuality = true
    - modId = 'hr-armored-vault-101-jumpsuit'
    - modName = 'HR Armored Vault 101 Jumpsuit'
    - modUrl = 'https://www.nexusmods.com/fallout3/mods/21887'
    - modAuthor = 'Ellise'
    - modVersion = '1.0'
    - mainFiles = ['HR Armored Vault 101 Jumpsuit_4k']
    +mod

