//-
    Ini Tweaks
    Updated 2019-03-29
//-

- sections.push(['#ini-tweaks', 'Ini Tweaks'])
- mods.push([])

section#ini-tweaks
    h2 Initial Ini Tweaks

    +copy
        | The following INI tweaks tweak the games engine to enhance visuals, stability, and performance.
        | a very good reference for many tweaks can be found at 
        | #[+link('Gamepedia', 'https://fallout.gamepedia.com/Fallout.ini_(Gamebryo)')]

    #fallout-custom-ini
        h3 FalloutCustom.ini

        +copy('mb0')
            | Tale of Two Wastlands during installation created a FalloutCustom.ini located in
            | Documents\My Games\FalloutNV\FalloutCUstom.ini, these ini settings must be copied
            | into Mod Organizer.
        pre.mt0
            | Open the FalloutCustom.ini located in Documents\My Games\FalloutNV\FalloutCUstom.ini
            |
            | Open Mod Organizer.
            | Click [Tools]>[Edit Ini] at the top of the window.
            | Verify falloutcustom.ini is selected
            | Paste in the contents of FalloutCustom.ini

        +copy('mb0')
            | There are a few more tweaks to improve graphics and performance that should be added
            | to the FalloutCustom.ini. Follow the instructions below to add them.
        pre.mt0
            | Open Mod Organizer.
            | Click [Tools]>[Edit Ini] at the top of the window.
            | Verify falloutcustom.ini is selected and add the tweaks in the following subsections.
            | Click [Save] and close the window. 

        +ini('Light distance fade')
            | [Display]
            | fLightLODDefaultStartFade=10240.0
            | fLightLODRange=10240.0
            | fLightLODMinStartFade=10240.0
            | fLightLODMaxStartFade=10240.0
            | fShadowLODDefaultStartFade=200.0
            | fShadowLODRange=200.0
            | fShadowLODMinStartFade=100.0
            | fShadowLODMaxStartFade=1000.0
            | fSpecularLODDefaultStartFade=10240.0
            | fSpecularLODRange=10240.0
            | fSpecularLODMinStartFade=10240.0
            | fSpecularLODMaxStartFade=10240.0

        +ini('Extending LOD')
            | [LOD]
            | bDisplayLODBuildings=1
            | fLODFadeOutMultItems=15
            | fLODFadeOutMultObjects=15
            | fLODFadeOutMultActors=15
        
        +ini('Increase grass render distance')
            | [Grass]
            | fGrassStartFadeDistance=17000
    
        +ini('Set resolution')
            | [Display]
            | ; Horizontal
            | iSize W=1920
            | ; Vertical
            | iSize H=1080

        +ini('Double LOD distance')
            | [TerrainManager]
            | fBlockLoadDistanceLow=100000.0000

        +ini('Mouse acceleration')
            | [Controls]
            | fForegroundMouseAccelBase=0
            | fForegroundMouseAccelTop=0
            | fForegroundMouseBase=0
            | fForegroundMouseMult=0
