//-
    Introduction
//-

- sections.push(['#introduction', 'Introduction'])

include image.pug

section#introduction
    h2 Introduction

    #summary
        h3 Summary

        +copy('mb0')
            | This is an attempt to make the ultimate #[+link('Tale of Two Wastelands', 'https://taleoftwowastelands.com/')] experience. Enhancing most parts of 
            | both Fallout 3 and Fallout New Vegas. Including graphics, quests, locations,interface, immersion, and gameplay. This guide was created out of a
            | desire to have a stable and  heavily modded Fallout game, that once it was installed could take two of my favorite games and  make them one story,
            | turning two games into one epic one.
        +copy('mt0', 'mb0')
            | It takes many cues from #[+link('Skyrim Revisited by Neovalen', 'http://wiki.step-project.com/User:Neovalen/Skyrim_Revisited_-_Legendary_Edition')]. 
            | One of the most thorough modding guides around, and an excellent Skyrim guide. After following 
            | #[+link('TTW:Worlds of Tomorrow by Adonis_IV', 'https://wiki.nexusmods.com/index.php/User:Adonisvii/Worlds_of_Tomorrow')] and some of
            | #[+link('TTW Core by Hushpiper', 'http://wiki.step-project.com/User:Hushpiper/TTW_Core')] (also #[+link('TTW+', 'http://wiki.step-project.com/User:Hushpiper/TTW%2B')]), 
            | it inspired me to make my own version. The #[+link('original guide', 'http://wiki.step-project.com/User:Themagicteeth/TTWOverEncumbered')] 
            | for 2.9.4b can be found on the STEP wiki. Any questions or feedback can be posted on the 
            | #[+link('TTW:OEE forum post', 'http://forum.step-project.com/topic/8447-tale-of-two-wastelands-over-encumbered-edition/')].
        +copy('mt0', 'mb0')
            | This is much the same as the above guides but borrows elements from all of them. If you are uninterested in quests/locations, and UI enhancements you may prefer to
            | try Worlds of Tomorrow as it is a bit more condensed. It features less mods, and is made by a very experienced TTW mod maker.
        +copy('mb0')
            | There are other guides that have also been used in creating this guide. #[+link('Clear and Present Danger by Kelmych', 'http://wiki.step-project.com/User:Kelmych/Fallout3')],
            | and #[+link('Fear and Loathing in New Vegas by EssArrBee', 'http://wiki.step-project.com/User:EssArrBee/FalloutNewVegas')], are both great modding guides if wanting to mod 
            | either game separately. They are both very well written, and provide a great game. This guide will have many similarities to the above guides, and certain elements have
            | been borrowed from them.


    #is-ttw-the-best-option-for-you
        h3 Is Tale of Two Wastelands the best option for you?

        +copy('mb0')
            | Tale of Two Wastelands brings Fallout 3 into the New Vegas engine, bringing all the
            | feature and engine upgrades (reputations, crafting, iron sights, hardcore, survival skill)
            | from New Vegas to the Capital Wasteland. It provides a bridge to connect the stories in
            | a logical fashion.
        +copy('mt0', 'mb0')
            | However it does have its short comings. Fallout 3 voice modulation does not work
            | without the user re-encoding the audio. The Rock-it-Launcher does not work as seamlessly
            | as in Fallout 3. Grass distance is reduced due to a New Vegas engine bug (may be overcome with NVAC).
            | Many Fallout 3 mods need a lot of work to be converted (e.g. Mothership Zeta Crew). Additionally
            | patches need to be made for Fallout New Vegas mods to extend functionality to the Capital Wasteland.
            | Balance is completely different as starting in Goodsprings at level 1 is very different than starting
            | at level 30. Those are a few of the snags of playing Tale of Two Wastelands.
        +copy('mt0')
            | If the downsides outweigh the benefits for you, Tale of Two Wastelands may not be for you.
            | Otherwise proceed with the guide, the following will set up the rest of the guide, so follow
            | along closely. Happy modding!

    #plugin-limit
        h3 Plugin Limit

        +copy('mb0')
            | The game engine for Fallout New Vegas has quite a few issues, but instead of working
            | to solve those problems, a limit on the number of plugins was instituted during one of
            | the patches. There is now a ~140 plugin limit, which will cause issues or just not load at
            | all if this number is reached. In addition to that, the stability of New Vegas will decrease
            | as the number of plugins start to approach 140.
        +copy('mt0')
            | The goal will always be to have, at most, 135 plugins. If adding mods on top of the guide,
            | be aware of the plugin cap and learn to use the FNVEdit merge script to lower the count.
            | This is also the reason that Wrye Flash NV is so essential, since the Bashed Patch will lower
            | plugin count.
